* {
    transition-duration: .5s;
}

#attrMobile {
    display: none;
}

#attrMobile img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
}

@media screen and (max-width: 1200px) {
    #attrContainer {
        display: none;
    }

    #attrMobile {
        display: block;
    }
}


.imgContent {
    background-image: url(/img/headerIMGS/brainstormingHeader.JPG);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

* {
    transition-duration: .5s;
}

.frame {
    position: relative;
    top: 4rem;
    width: 100%;
    height: 600px;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 5px 38px -17px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 38px -17px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 5px 38px -17px rgba(0, 0, 0, 0.75);
    overflow: hidden;
    overflow-y: scroll;
    background: #fff;
    color: #333;
    font-family: Raleway, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.frame::-webkit-scrollbar {
    width: .5rem;
    border-radius: 1rem;
}

.frame::-webkit-scrollbar-track {
    background-color: transparent;
}

.frame::-webkit-scrollbar-thumb {
    background-color: #00806c;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}



.tabs input {
    display: none;
}

.tabs .tabs-list {
    width: 100%;
    background: #ecf1ef;
    display: flex;
    margin-bottom: 20px;
    box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14);
}

.tabs .tabs-list .tab {
    text-transform: uppercase;
    padding: 15px 30px;
    display: block;
    position: relative;
    overflow: hidden;
    flex-grow: 1;
    box-sizing: border-box;
    height: 48px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tabs .tabs-list .tab:hover {
    background: #80BA6B;
}

.tabs .tabs-list .tab:hover:after {
    background: #006858;
}

.tabs .tabs-list .tab::after {
    transition-duration: .5s;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    content: '';
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    bottom: 0;
    left: 0;
    background: #00806c;
}

.tabs .tabs-content {
    position: relative;
}

.tabs .tabs-content .content {
    padding: 20px;
    position: absolute;
}

.tabs .tabs-content .content .title {
    font-size: 1.4em;
    margin-bottom: 10px;
}

.tabs .tabs-content .content button {
    margin: 20px 10px 20px 0;
    padding: 12px;
    border: none;
    background: #00806c;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14);
    border-radius: 5px;
}

.tabs .tabs-content .content button:hover {
    background: #006858;
}

.tabs .tabs-content .content button:focus {
    outline: none;
}

input:nth-of-type(1):checked~.tabs-list .tab:nth-of-type(1) {
    color: #00806c;
}

input:nth-of-type(1):checked~.tabs-list .tab:nth-of-type(2)::after {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

input:nth-of-type(1):checked~.tabs-content .content:nth-of-type(2) {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    opacity: 0;
}

input:nth-of-type(1):checked~.tabs-list .tab:nth-of-type(3)::after {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
}

input:nth-of-type(1):checked~.tabs-content .content:nth-of-type(3) {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
}

input:nth-of-type(1):checked~.tabs-list .tab:nth-of-type(4)::after {
    -webkit-transform: translateX(-300%);
    transform: translateX(-300%);
}

input:nth-of-type(1):checked~.tabs-content .content:nth-of-type(4) {
    -webkit-transform: translateX(150%);
    transform: translateX(150%);
    opacity: 0;
}

input:nth-of-type(1):checked~.tabs-list .tab:nth-of-type(5)::after {
    -webkit-transform: translateX(-400%);
    transform: translateX(-400%);
}

input:nth-of-type(1):checked~.tabs-content .content:nth-of-type(5) {
    -webkit-transform: translateX(200%);
    transform: translateX(200%);
    opacity: 0;
}

input:nth-of-type(1):checked~.tabs-list .tab:nth-of-type(6)::after {
    -webkit-transform: translateX(-500%);
    transform: translateX(-500%);
}

input:nth-of-type(1):checked~.tabs-content .content:nth-of-type(6) {
    -webkit-transform: translateX(250%);
    transform: translateX(250%);
    opacity: 0;
}

input:nth-of-type(2):checked~.tabs-list .tab:nth-of-type(1)::after {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

input:nth-of-type(2):checked~.tabs-content .content:nth-of-type(1) {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0;
}

input:nth-of-type(2):checked~.tabs-list .tab:nth-of-type(2) {
    color: #00806c;
}

input:nth-of-type(2):checked~.tabs-list .tab:nth-of-type(3)::after {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

input:nth-of-type(2):checked~.tabs-content .content:nth-of-type(3) {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    opacity: 0;
}

input:nth-of-type(2):checked~.tabs-list .tab:nth-of-type(4)::after {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
}

input:nth-of-type(2):checked~.tabs-content .content:nth-of-type(4) {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
}

input:nth-of-type(2):checked~.tabs-list .tab:nth-of-type(5)::after {
    -webkit-transform: translateX(-300%);
    transform: translateX(-300%);
}

input:nth-of-type(2):checked~.tabs-content .content:nth-of-type(5) {
    -webkit-transform: translateX(150%);
    transform: translateX(150%);
    opacity: 0;
}

input:nth-of-type(2):checked~.tabs-list .tab:nth-of-type(6)::after {
    -webkit-transform: translateX(-400%);
    transform: translateX(-400%);
}

input:nth-of-type(2):checked~.tabs-content .content:nth-of-type(6) {
    -webkit-transform: translateX(200%);
    transform: translateX(200%);
    opacity: 0;
}

input:nth-of-type(3):checked~.tabs-list .tab:nth-of-type(1)::after {
    -webkit-transform: translateX(200%);
    transform: translateX(200%);
}

input:nth-of-type(3):checked~.tabs-content .content:nth-of-type(1) {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
}

input:nth-of-type(3):checked~.tabs-list .tab:nth-of-type(2)::after {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

input:nth-of-type(3):checked~.tabs-content .content:nth-of-type(2) {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0;
}

input:nth-of-type(3):checked~.tabs-list .tab:nth-of-type(3) {
    color: #00806c;
}

input:nth-of-type(3):checked~.tabs-list .tab:nth-of-type(4)::after {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

input:nth-of-type(3):checked~.tabs-content .content:nth-of-type(4) {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    opacity: 0;
}

input:nth-of-type(3):checked~.tabs-list .tab:nth-of-type(5)::after {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
}

input:nth-of-type(3):checked~.tabs-content .content:nth-of-type(5) {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
}

input:nth-of-type(3):checked~.tabs-list .tab:nth-of-type(6)::after {
    -webkit-transform: translateX(-300%);
    transform: translateX(-300%);
}

input:nth-of-type(3):checked~.tabs-content .content:nth-of-type(6) {
    -webkit-transform: translateX(150%);
    transform: translateX(150%);
    opacity: 0;
}

input:nth-of-type(4):checked~.tabs-list .tab:nth-of-type(1)::after {
    -webkit-transform: translateX(300%);
    transform: translateX(300%);
}

input:nth-of-type(4):checked~.tabs-content .content:nth-of-type(1) {
    -webkit-transform: translateX(-150%);
    transform: translateX(-150%);
    opacity: 0;
}

input:nth-of-type(4):checked~.tabs-list .tab:nth-of-type(2)::after {
    -webkit-transform: translateX(200%);
    transform: translateX(200%);
}

input:nth-of-type(4):checked~.tabs-content .content:nth-of-type(2) {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
}

input:nth-of-type(4):checked~.tabs-list .tab:nth-of-type(3)::after {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

input:nth-of-type(4):checked~.tabs-content .content:nth-of-type(3) {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0;
}

input:nth-of-type(4):checked~.tabs-list .tab:nth-of-type(4) {
    color: #00806c;
}

input:nth-of-type(4):checked~.tabs-list .tab:nth-of-type(5)::after {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

input:nth-of-type(4):checked~.tabs-content .content:nth-of-type(5) {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    opacity: 0;
}

input:nth-of-type(4):checked~.tabs-list .tab:nth-of-type(6)::after {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
}

input:nth-of-type(4):checked~.tabs-content .content:nth-of-type(6) {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
}

input:nth-of-type(5):checked~.tabs-list .tab:nth-of-type(1)::after {
    -webkit-transform: translateX(400%);
    transform: translateX(400%);
}

input:nth-of-type(5):checked~.tabs-content .content:nth-of-type(1) {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
    opacity: 0;
}

input:nth-of-type(5):checked~.tabs-list .tab:nth-of-type(2)::after {
    -webkit-transform: translateX(300%);
    transform: translateX(300%);
}

input:nth-of-type(5):checked~.tabs-content .content:nth-of-type(2) {
    -webkit-transform: translateX(-150%);
    transform: translateX(-150%);
    opacity: 0;
}

input:nth-of-type(5):checked~.tabs-list .tab:nth-of-type(3)::after {
    -webkit-transform: translateX(200%);
    transform: translateX(200%);
}

input:nth-of-type(5):checked~.tabs-content .content:nth-of-type(3) {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
}

input:nth-of-type(5):checked~.tabs-list .tab:nth-of-type(4)::after {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

input:nth-of-type(5):checked~.tabs-content .content:nth-of-type(4) {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0;
}

input:nth-of-type(5):checked~.tabs-list .tab:nth-of-type(5) {
    color: #00806c;
}

input:nth-of-type(5):checked~.tabs-list .tab:nth-of-type(6)::after {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

input:nth-of-type(5):checked~.tabs-content .content:nth-of-type(6) {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    opacity: 0;
}

input:nth-of-type(6):checked~.tabs-list .tab:nth-of-type(1)::after {
    -webkit-transform: translateX(500%);
    transform: translateX(500%);
}

input:nth-of-type(6):checked~.tabs-content .content:nth-of-type(1) {
    -webkit-transform: translateX(-250%);
    transform: translateX(-250%);
    opacity: 0;
}

input:nth-of-type(6):checked~.tabs-list .tab:nth-of-type(2)::after {
    -webkit-transform: translateX(400%);
    transform: translateX(400%);
}

input:nth-of-type(6):checked~.tabs-content .content:nth-of-type(2) {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
    opacity: 0;
}

input:nth-of-type(6):checked~.tabs-list .tab:nth-of-type(3)::after {
    -webkit-transform: translateX(300%);
    transform: translateX(300%);
}

input:nth-of-type(6):checked~.tabs-content .content:nth-of-type(3) {
    -webkit-transform: translateX(-150%);
    transform: translateX(-150%);
    opacity: 0;
}

input:nth-of-type(6):checked~.tabs-list .tab:nth-of-type(4)::after {
    -webkit-transform: translateX(200%);
    transform: translateX(200%);
}

input:nth-of-type(6):checked~.tabs-content .content:nth-of-type(4) {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
}

input:nth-of-type(6):checked~.tabs-list .tab:nth-of-type(5)::after {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

input:nth-of-type(6):checked~.tabs-content .content:nth-of-type(5) {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0;
}

input:nth-of-type(6):checked~.tabs-list .tab:nth-of-type(6) {
    color: #00806c;
}