p {
    font-size: 18px;
}



.mainContainer {
    margin-top: 30rem;
}

.mainContainer h1 {
    font-size: 60px;
}

@media screen and (max-width: 1171px) {
    .mainContainer {
        margin-left: auto;
    }
}

#loader video {
    position: relative;
    z-index: 2000;
}