p {
    font-size: 18px;
}



.mainContainer {
    margin-top: 30rem;
}

h1 {
    font-size: 60px;
}

@media screen and (max-width: 1171px) {
    .mainContainer {
        margin-left: auto;
    }
}


#loader video {
    position: relative;
    z-index: 2000;
}

.CanvasMain {
    display: block;
    width: 100%;
}

@media screen and (max-width: 991px) {
    .CanvasMain {
        display: none;
    }

    .CanvasSmall {
        display: block;
    }
}

.CanvasMain h2 {
    font-size: 22px;
}


.col-container {
    display: flex;
}

.eColumn {
    flex: 1;
    overflow: hidden;
    border: solid #333 2px;
    border-radius: 0.5rem;
}


#keyPartners {
    background-color: #80ba6bb0;
}

#keyActivities {
    background-color: #00806da2;
}

#valueProposition {
    background-color: #00806da2;
}

#customerRelationship {
    background-color: #00806da2;
}

#customerSegments {
    background-color: #80ba6bb0;
}

#keyResources {
    background-color: #80ba6bb0;
}

#channels {
    background-color: #80ba6bb0;
}

#costStructure {
    background-color: #00806da2;
}

#revenueStreams {
    background-color: #00806da2;
}


/*-----------------COOL MODALS------------------------------*/

html.modal-active,
body.modal-active {
    overflow: hidden;
}

#modal-container {
    position: fixed;
    display: table;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: scale(0);
    z-index: 1000;
}

#modal-container.one {
    transform: scaleY(0.01) scaleX(0);
    animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.one .modal-background .modal {
    transform: scale(0);
    animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.one.out {
    transform: scale(1);
    animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.one.out .modal-background .modal {
    animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container .modal-background {
    display: table-cell;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    vertical-align: middle;
}

#modal-container .modal-background .modal {
    background: white;
    padding: 50px;
    display: inline-block;
    border-radius: 3px;
    font-weight: 300;
    position: relative;
}

#modal-container .modal-background .modal h2 {
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 15px;
}

#modal-container .modal-background .modal p {
    font-size: 18px;
    line-height: 22px;
}

#modal-container .modal-background .modal .modal-svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 3px;
}

#modal-container .modal-background .modal .modal-svg rect {
    stroke: #fff;
    stroke-width: 2px;
    stroke-dasharray: 778;
    stroke-dashoffset: 778;
}

.content {
    min-height: 100%;
    height: 100%;
    background: white;
    position: relative;
    z-index: 0;
}

.content h1 {
    padding: 75px 0 30px 0;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
}

.content .buttons {
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.content .buttons .button {
    display: inline-block;
    text-align: center;
    padding: 10px 15px;
    margin: 10px;
    background: red;
    font-size: 18px;
    background-color: #efefef;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.content .buttons .button:hover {
    color: white;
    background: #009bd5;
}

@keyframes unfoldIn {
    0% {
        transform: scaleY(0.005) scaleX(0);
    }

    50% {
        transform: scaleY(0.005) scaleX(1);
    }

    100% {
        transform: scaleY(1) scaleX(1);
    }
}

@keyframes unfoldOut {
    0% {
        transform: scaleY(1) scaleX(1);
    }

    50% {
        transform: scaleY(0.005) scaleX(1);
    }

    100% {
        transform: scaleY(0.005) scaleX(0);
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes zoomOut {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

/*--------------------FODA STYLES-----------------------*/




.grid {
    list-style: none;
    margin-left: -40px;
}

.gc {
    box-sizing: border-box;
    display: inline-block;
    margin-right: -.25em;
    min-height: 1px;
    padding-left: 40px;
    vertical-align: top;
}

.gc--1-of-3 {
    width: 33.33333%;
}

.gc--2-of-3 {
    width: 66.66666%;
}

.naccs {
    position: relative;
    margin: 100px auto 5rem;

}

.naccs .menu div {
    padding: 15px 20px 15px 40px;
    margin-bottom: 10px;
    color: #00806d;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    position: relative;
    vertical-align: middle;
    font-weight: 700;
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.naccs .menu div:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.naccs .menu div span.light {
    height: 10px;
    width: 10px;
    position: absolute;
    top: 24px;
    left: 15px;
    background-color: #00806d;
    border-radius: 100%;
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.naccs .menu div.active span.light {
    background-color: #80ba6b;
    left: 0;
    height: 100%;
    width: 3px;
    top: 0;
    border-radius: 0;
}

.naccs .menu div.active {
    color: #80ba6b;
    padding: 15px 20px 15px 20px;
}

ul.nacc {
    position: relative;
    height: 0px;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: .5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

ul.nacc li {
    opacity: 0;
    transform: translateX(50px);
    position: absolute;
    list-style: none;
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

ul.nacc li.active {
    transition-delay: .3s;
    z-index: 2;
    opacity: 1;
    transform: translateX(0px);
}

ul.nacc li p {
    margin: 0;
}


/*-------------------------COLORED LINES ON LEFT---------------------*/

.section-line-cyan {
    position: absolute;
    display: block;
    top: 1rem;
    left: -7rem;
    width: 1rem;
    height: 100%;
    background-color: #00806d;
    z-index: 5;
}

.section-line-green {
    position: absolute;
    display: block;
    top: 1rem;
    left: -7rem;
    width: 1rem;
    height: 100%;
    background-color: #80ba6b;
    z-index: 5;
}

.activitiesContainer img {
    height: auto;
    width: 100%;
}


/*------------------------IMAGE HOVER STYLES=-------------------*/

.box {
    cursor: pointer;
    height: auto;
    position: relative;
    overflow: hidden;
    width: auto;
}

.box .overbox {
    background-color: #00806dbd;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    font-size: 22px;
    text-align: justify;
    z-index: 100;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    opacity: 0;
    width: 100%;
    height: 100%;
    padding: 5rem;
}

.box:hover .overbox {
    opacity: 1;
}

.box .overtext {
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    transform: translateY(40px);
    -webkit-transform: translateY(40px);
}

.box .title {
    font-size: 2.5em;
    text-transform: uppercase;
    opacity: 0;
    transition-delay: 0.1s;
    transition-duration: 0.2s;
}

.box:hover .title,
.box:focus .title {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
}

.box .tagline {
    font-size: 0.8em;
    opacity: 0;
    transition-delay: 0.2s;
    transition-duration: 0.2s;
}

.box:hover .tagline,
.box:focus .tagline {
    opacity: 1;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
}

/*-----------------------2.4 columns----------------------*/
.col-xs-5th-1,
.col-xs-5th-2,
.col-xs-5th-3,
.col-xs-5th-4 {
    float: left;
}

.col-xs-5th-5 {
    float: left;
    width: 100%;
}

.col-xs-5th-4 {
    width: 80%;
}

.col-xs-5th-3 {
    width: 60%;
}

.col-xs-5th-2 {
    width: 40%;
}

.col-xs-5th-1 {
    width: 20%;
}

.col-xs-5th-pull-5 {
    right: 100%;
}

.col-xs-5th-pull-4 {
    right: 80%;
}

.col-xs-5th-pull-3 {
    right: 60%;
}

.col-xs-5th-pull-2 {
    right: 40%;
}

.col-xs-5th-pull-1 {
    right: 20%;
}

.col-xs-5th-pull-0 {
    right: auto;
}

.col-xs-5th-push-5 {
    left: 100%;
}

.col-xs-5th-push-4 {
    left: 80%;
}

.col-xs-5th-push-3 {
    left: 60%;
}

.col-xs-5th-push-2 {
    left: 40%;
}

.col-xs-5th-push-1 {
    left: 20%;
}

.col-xs-5th-push-0 {
    left: auto;
}

.col-xs-5th-offset-5 {
    margin-left: 100%;
}

.col-xs-5th-offset-4 {
    margin-left: 80%;
}

.col-xs-5th-offset-3 {
    margin-left: 60%;
}

.col-xs-5th-offset-2 {
    margin-left: 40%;
}

.col-xs-5th-offset-1 {
    margin-left: 20%;
}

.col-xs-5th-offset-0 {
    margin-left: 0%;
}

@media (min-width: 768px) {

    .col-sm-5th-1,
    .col-sm-5th-2,
    .col-sm-5th-3,
    .col-sm-5th-4 {
        float: left;
    }

    .col-sm-5th-5 {
        float: left;
        width: 100%;
    }

    .col-sm-5th-4 {
        width: 80%;
    }

    .col-sm-5th-3 {
        width: 60%;
    }

    .col-sm-5th-2 {
        width: 40%;
    }

    .col-sm-5th-1 {
        width: 20%;
    }

    .col-sm-5th-pull-5 {
        right: 100%;
    }

    .col-sm-5th-pull-4 {
        right: 80%;
    }

    .col-sm-5th-pull-3 {
        right: 60%;
    }

    .col-sm-5th-pull-2 {
        right: 40%;
    }

    .col-sm-5th-pull-1 {
        right: 20%;
    }

    .col-sm-5th-pull-0 {
        right: auto;
    }

    .col-sm-5th-push-5 {
        left: 100%;
    }

    .col-sm-5th-push-4 {
        left: 80%;
    }

    .col-sm-5th-push-3 {
        left: 60%;
    }

    .col-sm-5th-push-2 {
        left: 40%;
    }

    .col-sm-5th-push-1 {
        left: 20%;
    }

    .col-sm-5th-push-0 {
        left: auto;
    }

    .col-sm-5th-offset-5 {
        margin-left: 100%;
    }

    .col-sm-5th-offset-4 {
        margin-left: 80%;
    }

    .col-sm-5th-offset-3 {
        margin-left: 60%;
    }

    .col-sm-5th-offset-2 {
        margin-left: 40%;
    }

    .col-sm-5th-offset-1 {
        margin-left: 20%;
    }

    .col-sm-5th-offset-0 {
        margin-left: 0%;
    }
}

@media (min-width: 992px) {

    .col-md-5th-1,
    .col-md-5th-2,
    .col-md-5th-3,
    .col-md-5th-4 {
        float: left;
    }

    .col-md-5th-5 {
        float: left;
        width: 100%;
    }

    .col-md-5th-4 {
        width: 80%;
    }

    .col-md-5th-3 {
        width: 60%;
    }

    .col-md-5th-2 {
        width: 40%;
    }

    .col-md-5th-1 {
        width: 20%;
    }

    .col-md-5th-pull-5 {
        right: 100%;
    }

    .col-md-5th-pull-4 {
        right: 80%;
    }

    .col-md-5th-pull-3 {
        right: 60%;
    }

    .col-md-5th-pull-2 {
        right: 40%;
    }

    .col-md-5th-pull-1 {
        right: 20%;
    }

    .col-md-5th-pull-0 {
        right: auto;
    }

    .col-md-5th-push-5 {
        left: 100%;
    }

    .col-md-5th-push-4 {
        left: 80%;
    }

    .col-md-5th-push-3 {
        left: 60%;
    }

    .col-md-5th-push-2 {
        left: 40%;
    }

    .col-md-5th-push-1 {
        left: 20%;
    }

    .col-md-5th-push-0 {
        left: auto;
    }

    .col-md-5th-offset-5 {
        margin-left: 100%;
    }

    .col-md-5th-offset-4 {
        margin-left: 80%;
    }

    .col-md-5th-offset-3 {
        margin-left: 60%;
    }

    .col-md-5th-offset-2 {
        margin-left: 40%;
    }

    .col-md-5th-offset-1 {
        margin-left: 20%;
    }

    .col-md-5th-offset-0 {
        margin-left: 0%;
    }
}

@media (min-width: 1200px) {

    .col-lg-5th-1,
    .col-lg-5th-2,
    .col-lg-5th-3,
    .col-lg-5th-4 {
        float: left;
    }

    .col-lg-5th-5 {
        float: left;
        width: 100%;
    }

    .col-lg-5th-4 {
        width: 80%;
    }

    .col-lg-5th-3 {
        width: 60%;
    }

    .col-lg-5th-2 {
        width: 40%;
    }

    .col-lg-5th-1 {
        width: 20%;
    }

    .col-lg-5th-pull-5 {
        right: 100%;
    }

    .col-lg-5th-pull-4 {
        right: 80%;
    }

    .col-lg-5th-pull-3 {
        right: 60%;
    }

    .col-lg-5th-pull-2 {
        right: 40%;
    }

    .col-lg-5th-pull-1 {
        right: 20%;
    }

    .col-lg-5th-pull-0 {
        right: auto;
    }

    .col-lg-5th-push-5 {
        left: 100%;
    }

    .col-lg-5th-push-4 {
        left: 80%;
    }

    .col-lg-5th-push-3 {
        left: 60%;
    }

    .col-lg-5th-push-2 {
        left: 40%;
    }

    .col-lg-5th-push-1 {
        left: 20%;
    }

    .col-lg-5th-push-0 {
        left: auto;
    }

    .col-lg-5th-offset-5 {
        margin-left: 100%;
    }

    .col-lg-5th-offset-4 {
        margin-left: 80%;
    }

    .col-lg-5th-offset-3 {
        margin-left: 60%;
    }

    .col-lg-5th-offset-2 {
        margin-left: 40%;
    }

    .col-lg-5th-offset-1 {
        margin-left: 20%;
    }

    .col-lg-5th-offset-0 {
        margin-left: 0%;
    }
}