header {
    overflow: hidden;
    margin-bottom: 10rem;
}

body a {
    color: #FFB454;
}

body a:hover {
    color: #00806c;
}

body a:focus {
    color: #00806c;
}

.headerContainer {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#bannersection {
    background: linear-gradient(to bottom, #00806c, rgba(0, 0, 0, 0));
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: table;
    width: 100%;
    height: 100vh;
}

.bannercontent {
    display: table-cell;
    vertical-align: middle;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    padding: 0 3%;
}

header .imgContent {
    width: 100%;
    height: 100vh;
    position: absolute;
    object-fit: cover;
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
}

header video {
    width: 100%;
    height: 100vh;
    position: absolute;
    object-fit: cover;
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
}

#pullout-index::-webkit-scrollbar {
    width: .5rem;
    border-radius: 1rem;
}

#pullout-index::-webkit-scrollbar-track {
    background-color: transparent;
}

#pullout-index::-webkit-scrollbar-thumb {
    background-color: #00806c;
}

.mainHeader {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: calc(40px + (120 - 14) * ((70vw - 300px) / (1200 - 300)));
    text-transform: uppercase;
}

@media screen and (max-width: 1100px) {
    .index {
        visibility: hidden;
    }

    #index-content {
        margin-left: 5%;
        margin-right: 5%;
        max-width: 90%;
    }
}

.main-content {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.index {
    /* display: flex; */
    background: #ececec;
    max-width: 25rem;
    position: -webkit-sticky;
    position: sticky;
    overflow: hidden;
}

.index ul {
    margin-left: -1rem;
    margin-top: 0em;
    list-style-position: outside;
    width: 100%;
    padding-bottom: 2rem;
}

.index li {
    margin-top: 1.5rem;
    list-style-type: disc;
    position: relative;
    font-size: 2rem;
}

.index a {
    text-decoration: none;
    text-emphasis: none;
    color: #333333;
    transition: 400ms;
}

.index a:hover {
    cursor: pointer;
    text-emphasis: none;
    text-decoration: none;
    color: #FFB454;
}

.skewed-bg {
    background: whitesmoke;
    padding: 200px 0;
    -webkit-transform: skew(0deg, -10deg);
    transform: skew(0deg, -10deg);
    z-index: 0;
    /* margin-top: -200px; */
}

.skewed-bg .skewed-content {
    -webkit-transform: skew(0deg, 10deg);
    transform: skew(0deg, 10deg);
}

.skewed-bg .skewed-content .title {
    padding-top: 100px;
    font-weight: normal;
}

.skewed-bg .skewed-content .text {
    width: 60%;
    margin: 25px auto;
    color: #ccfff2;
}

#pullout-index #pullout {
    position: absolute;
    left: -21rem;
    background: #f5f5f5;
    line-height: 1.5;
    transition: all 0.5s ease;
}

#pullout-index #pullout ul {
    line-height: 1;
}

#pullout-index #pullout:hover {
    left: 0;
}

#pullout-index #pullout-inner {
    padding: 2rem;
    margin: 1rem;
}

#pullout-index #pullout-tab {
    position: absolute;
    left: 90%;
    width: 3rem;
    height: 100%;
    background-color: #00806c;
    color: white;
    text-align: center;
}

#pullout-index {
    position: sticky;
    top: 15%;
    z-index: 999;
    line-height: 1;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#pullout-tab div {
    margin-left: -.8rem;
    font-size: 18px
}

/*---------------- CAROUSEL ---------------------*/

.carousel-item>div {
    height: 700px;
    line-height: 500px;
    font-size: 1.5em;
    text-align: center;
    color: #fff;
}

/* Carousel */

.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    -webkit-box-shadow: 0px 10px 26px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 26px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 26px -10px rgba(0, 0, 0, 0.75);
}

.carousel-container {
    display: flex;
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 600%;
    transition: transform 0.3s cubic-bezier(.694, .0482, .335, 1);
}

.carousel-item {
    position: relative;
    float: left;
    width: 20%;
}

/* Next / Prev Buttons */

.carousel-prev,
.carousel-next {
    position: absolute;
    top: 50%;
    background-color: #00806c;
    opacity: 0.7;
    border-radius: 50%;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    width: 40px;
    height: 40px;
    line-height: 40px;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    z-index: 10;
    transition: opacity 0.3s ease;
}

.carousel-prev {
    left: 2%;
    padding-right: 3px;
}

.carousel-prev::before {
    content: '\f053';
    font-family: "FontAwesome";
}

.carousel-next {
    right: 2%;
    padding-left: 3px;
}

.carousel-next::before {
    content: '\f054';
    font-family: "FontAwesome";
}

.carousel-prev:hover,
.carousel-next:hover {
    opacity: 1;
}

/* Pagination */

.carousel-pagination {
    list-style: none;
    position: absolute;
    bottom: 3%;
    left: 0;
    right: 0;
    width: 50%;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    z-index: 10;
}

.carousel-bullet {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #333;
    cursor: pointer;
    margin: 0 7px;
    border-radius: 50%;
    opacity: 0.5;
    transition-property: transform, opacity, background-color;
    transition-duration: 0.3s;
}

.carousel-bullet:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.carousel-bullet.active-bullet,
.carousel-bullet.active-bullet:hover {
    opacity: 1;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    background-color: #fff;
    cursor: default;
}