header {
    overflow: hidden;
    margin-bottom: 10rem;
}

.headerContainer {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#bannersection {
    background: linear-gradient(to bottom, #00806c, rgba(0, 0, 0, 0));
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: table;
    width: 100%;
    height: 100vh;
}

.bannercontent {
    display: table-cell;
    vertical-align: middle;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    padding: 0 3%;
}

header .imgContent {
    width: 100%;
    height: 100vh;
    position: absolute;
    object-fit: cover;
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
}

header video {
    width: 100%;
    height: 100vh;
    position: absolute;
    object-fit: cover;
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
}

.mainHeader {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: calc(40px + (120 - 14) * ((70vw - 300px) / (1200 - 300)));
    text-transform: uppercase;
}

@media screen and (max-width: 1450px) {
    .index {
        visibility: hidden;
    }
    #index-content {
        margin-left: 5%;
        margin-right: 5%;
        max-width: 90%;
    }
}

.main-content {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.index {
    /* display: flex; */
    background: #ececec;
    max-width: 25rem;
    position: -webkit-sticky;
    position: sticky;
    overflow: hidden;
}

.index ul {
    margin-left: -1rem;
    margin-top: 0em;
    list-style-position: outside;
    width: 100%;
    padding-bottom: 2rem;
}

.index li {
    margin-top: 1.5rem;
    list-style-type: disc;
    position: relative;
    font-size: 2rem;
}

.index a {
    text-decoration: none;
    text-emphasis: none;
    color: #333333;
    transition: 400ms;
}

.index a:hover {
    cursor: pointer;
    text-emphasis: none;
    text-decoration: none;
    color: #FFB454;
}

.skewed-bg {
    background: whitesmoke;
    padding: 200px 0;
    -webkit-transform: skew(0deg, -10deg);
    transform: skew(0deg, -10deg);
    /* margin-top: -200px; */
}

.skewed-bg .skewed-content {
    -webkit-transform: skew(0deg, 10deg);
    transform: skew(0deg, 10deg);
}

.skewed-bg .skewed-content .title {
    padding-top: 100px;
    font-weight: normal;
}

.skewed-bg .skewed-content .text {
    width: 60%;
    margin: 25px auto;
    color: #ccfff2;
}

#pullout-index #pullout {
    position: absolute;
    left: -22rem;
    background: #f5f5f5;
    transition: all 0.5s ease;
}

#pullout-index #pullout:hover {
    left: 0;
}

#pullout-index #pullout-inner {
    padding: 2rem;
    margin: 1rem;
}

#pullout-index #pullout-tab {
    position: absolute;
    left: 90%;
    width: 3rem;
    height: 100%;
    background-color: #00806c;
}

#pullout-index {
    position: sticky;
    top: 20%;
    z-index: 999;
}