.imgContent {
    background-image: url(/img/headerIMGS/brainstormingHeader.JPG);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

h1 {
    font-size: 60px;
}

/*------------------------IMAGE HOVER STYLES=-------------------*/

.box {
    height: auto;
    position: relative;
    overflow: hidden;
    width: auto;
}

.box .overbox {
    background-color: #00806dbd;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    font-size: 22px;
    text-align: justify;
    z-index: 100;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    opacity: 0;
    width: 100%;
    height: 100%;
    padding: 5rem;
}

.box:hover .overbox {
    opacity: 1;
}

.box .overtext {
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    transform: translateY(40px);
    -webkit-transform: translateY(40px);
}

.box .title {
    font-size: 2.5em;
    text-transform: uppercase;
    opacity: 0;
    transition-delay: 0.1s;
    transition-duration: 0.2s;
}

.box:hover .title,
.box:focus .title {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
}

.box .tagline {
    font-size: 0.8em;
    opacity: 0;
    transition-delay: 0.2s;
    transition-duration: 0.2s;
}

.box:hover .tagline,
.box:focus .tagline {
    opacity: 1;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
}


.timeline {
    position: relative;
    background-image: linear-gradient(to bottom, #00806c, #80ba6b, #FFAB3D);
    width: 50px;
    text-align: center;
    transition: all .3s;
}

@media screen and (max-width: 768px) {
    .timeline {
        margin: 0 0 0 20px;
    }
}

@media screen and (min-width: 769px) {
    .timeline {
        margin: 0 auto;
    }
}

.timeline .point .date {
    padding-top: 10px;
    color: #ffffff;
}

.timeline .point .bocata {
    position: relative;
    background-color: #ffffff;
    padding: 20px;
    transition: all .3s;
}

@media screen and (max-width: 425px) {
    .timeline .point .bocata {
        width: 180px;
    }

    .timeline .point .bocata.little {
        width: 180px;
    }
}

@media screen and (min-width: 425px) and (max-width: 576px) {
    .timeline .point .bocata {
        width: 250px;
    }

    .timeline .point .bocata.little {
        width: 250px;
    }
}

@media screen and (min-width: 577px) {
    .timeline .point .bocata {
        width: 400px;
    }

    .timeline .point .bocata.little {
        width: 250px;
    }
}

.timeline .point .bocata+.bocata {
    margin-top: 35px;
}

.timeline .point:nth-child(odd) .bocata {
    box-shadow: -6px 10px 20px -20px #333;
    left: 100px;
    position: relative;
    z-index: 10;
}

.timeline .point:nth-child(odd) .bocata::after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    z-index: 10;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    margin-top: -10px;
    top: 50%;
    border-right: 10px solid #ffffff;
    left: -10px;
}

.timeline .point:nth-child(even) .bocata {
    box-shadow: 6px 10px 20px -20px #333;
}

@media screen and (max-width: 768px) {
    .timeline .point:nth-child(even) .bocata {
        left: 100px;
        position: relative;
        z-index: 10;
    }

    .timeline .point:nth-child(even) .bocata::after {
        content: '';
        width: 0;
        height: 0;
        display: block;
        position: absolute;
        z-index: 10;
        border: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        margin-top: -10px;
        top: 50%;
        border-right: 10px solid #ffffff;
        left: -10px;
    }
}

@media screen and (min-width: 769px) {
    .timeline .point:nth-child(even) .bocata {
        right: 425px;
        position: relative;
        z-index: 10;
    }
}

@media screen and (min-width: 769px) and (min-width: 769px) {
    .timeline .point:nth-child(even) .bocata.little {
        right: 275px;
    }
}

@media screen and (min-width: 769px) {
    .timeline .point:nth-child(even) .bocata::after {
        content: '';
        width: 0;
        height: 0;
        display: block;
        position: absolute;
        z-index: 10;
        border: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        margin-top: -10px;
        top: 50%;
        border-left: 10px solid #ffffff;
        left: auto;
        right: -10px;
    }
}

.timeline .point .arrow {
    border: solid #f7f7f7;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 20px;
    transform: rotate(45deg);
}

.timeline .point:first-child .arrow,
.timeline .point:last-child .arrow {
    border: solid #f7f7f7;
    border-width: 0 12px 12px 0;
    display: inline-block;
    padding: 20px;
    transform: rotate(45deg);
}

.timeline .point .arrow-clean {
    border: solid #f7f7f7;
    border-width: 0 20px 20px 0;
    display: inline-block;
    padding: 20px;
    position: absolute;
    left: -5px;
    bottom: -13px;
    transform: rotate(45deg);
}

.timeline p {
    font-size: 12px;
}


#boxContainer {
    border-radius: 1rem;
    margin-top: 8rem;
    padding: 4rem;
    -webkit-box-shadow: 0px 2px 46px -25px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 46px -25px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 46px -25px rgba(0, 0, 0, 0.75);
}

#parallelogram {
    width: 200%;
    height: 200%;
    overflow: hidden;
    position: absolute;
    top: -10rem;
    z-index: -1;
}

#parallelogram::after {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    background: white;
    position: absolute;
    transform: skew(-80deg);
    /* transform-origin: bottom; */
    background: #fff;
}

#crops {
    position: absolute;
    width: 20rem;
    height: 40rem;
    left: 35.1rem;
    top: 3%;
}


#cropscontainer {
    position: absolute;
    display: none;
    top: 0;
    max-width: 50rem;
    right: -8rem;
    padding: 1rem;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 2px 46px -25px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 46px -25px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 46px -25px rgba(0, 0, 0, 0.75);
    -webkit-transition: visibility 400ms linear;
    -moz-transition: visibility 400ms linear;
    -o-transition: visibility 400ms linear;
    -ms-transition: visibility 400ms linear;
    transition: visibility 400ms linear;
}

#crops:hover~#cropscontainer {
    display: block;
}

#harvest {
    position: absolute;
    width: 65rem;
    height: 40rem;
    left: 10rem;
    top: 24%;
}

#harvestcontainer {
    position: absolute;
    display: none;
    top: 50rem;
    max-width: 50rem;
    right: -8rem;
    padding: 1rem;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 2px 46px -25px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 46px -25px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 46px -25px rgba(0, 0, 0, 0.75);
    -webkit-transition: visibility 400ms linear;
    -moz-transition: visibility 400ms linear;
    -o-transition: visibility 400ms linear;
    -ms-transition: visibility 400ms linear;
    transition: visibility 400ms linear;
}

#harvest:hover~#harvestcontainer {
    display: block;
}


#ginning {
    position: absolute;
    width: 25rem;
    height: 40rem;
    left: 29rem;
    top: 44%;
}

#ginningcontainer {
    position: absolute;
    display: none;
    top: 90rem;
    max-width: 50rem;
    right: -8rem;
    padding: 1rem;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 2px 46px -25px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 46px -25px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 46px -25px rgba(0, 0, 0, 0.75);
    -webkit-transition: visibility 400ms linear;
    -moz-transition: visibility 400ms linear;
    -o-transition: visibility 400ms linear;
    -ms-transition: visibility 400ms linear;
    transition: visibility 400ms linear;
}

#ginning:hover~#ginningcontainer {
    display: block;
}

#deseed {
    position: absolute;
    width: 25rem;
    height: 40rem;
    left: 0;
    top: 64%;
}

#deseedcontainer {
    position: absolute;
    display: none;
    top: 110rem;
    max-width: 50rem;
    right: -12rem;
    padding: 1rem;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 2px 46px -25px rgba(54, 53, 53, 0.75);
    -moz-box-shadow: 0px 2px 46px -25px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 46px -25px rgba(0, 0, 0, 0.75);
    -webkit-transition: visibility 400ms linear;
    -moz-transition: visibility 400ms linear;
    -o-transition: visibility 400ms linear;
    -ms-transition: visibility 400ms linear;
    transition: visibility 400ms linear;
    z-index: 99;
}

#deseed:hover~#deseedcontainer {
    display: block;
}

#unwinding {
    position: absolute;
    width: 25rem;
    height: 40rem;
    left: 49rem;
    top: 64%;
}

#unwindingcontainer {
    position: absolute;
    display: none;
    top: 140rem;
    max-width: 50rem;
    right: -12rem;
    padding: 1rem;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 2px 46px -25px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 46px -25px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 46px -25px rgba(0, 0, 0, 0.75);
    -webkit-transition: visibility 400ms linear;
    -moz-transition: visibility 400ms linear;
    -o-transition: visibility 400ms linear;
    -ms-transition: visibility 400ms linear;
    transition: visibility 400ms linear;
    z-index: 99;
}

#unwinding:hover~#unwindingcontainer {
    display: block;
}