h1 {
    font-weight: 750;
    text-align: center;
}

h2 {
    font-weight: bold;
    font-size: 28px;
    text-align: left;
}

h3 {
    font-size: 24px;
    text-align: left;
}

ul li {
    margin-top: 1rem;
    text-align: justify;
    font-size: 18px;
    list-style-type: square;
}

.body-list li {
    list-style-type: disc;
}

.skewed-bg {
    -webkit-transform: skew(0deg, -5deg);
    transform: skew(0deg, -5deg);
    z-index: 0;
}

.skewed-bg .skewed-content {
    -webkit-transform: skew(0deg, 5deg);
    transform: skew(0deg, 5deg);
    z-index: 0;
}