p {
    font-size: 18px;
}

h1 {
    font-size: 60px;
}

.safetyContainer {
    margin-top: 5rem;
}

.carousel-container {
    width: 1200%;
}

.carousel-pagination {
    width: 60%;
}

/*------------------------4 SECTIONS STYLES----------------------------*/

.row-equal-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.p_column {
    background: #fff;
    color: #333;
    font-size: 22px;
    margin: 1rem;
    box-shadow: 0px 0px 15px 1px #3333338c;
    border-radius: 2px;
    position: relative;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.p_column h3 {
    margin-bottom: 2rem;
}

/* Change color of your first-child */

/* .p_column:first-child {
    background: #00806d;
    color: #fff;
    border: solid 1px #00806d;
} */

/*Code for arrow*/

.p_column:before,
.p_column:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 42%;
    bottom: 86px;
    border-style: solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

/* Stroke */

.p_column:before {
    right: -30px;
    border-left-color: white;
    border-width: 15px;
}

/* Fill */

.p_column:after {
    right: -29px;
    border-left-color: #fff;
    border-width: 15px;
}

.p_column p {
    font-size: 16px;
    margin-bottom: 0
}

/* .p_column:first-child:before {
    border-left-color: #00806d;
}

.p_column:first-child:after {
    border-left-color: #00806d;
} */

.p_column:last-child:before,
.p_column:last-child:after {
    display: none
}

/*color change hover*/

.p_column:hover {
    background: #00806d85;
}

.p_column:hover:before {
    border-left-color: #00806d2f;
}

.p_column:hover:after {
    border-left-color: #00806d50;
}

/*-------------------------COLORED LINES ON LEFT---------------------*/

.section-line-cyan {
    position: absolute;
    display: block;
    top: 1rem;
    left: -7rem;
    width: 1rem;
    height: 100%;
    background-color: #00806d;
    z-index: 5;
}

.section-line-green {
    position: absolute;
    display: block;
    top: 1rem;
    left: -7rem;
    width: 1rem;
    height: 100%;
    background-color: #80ba6b;
    z-index: 5;
}