html {
    scroll-behavior: smooth;
    overflow: hidden;
}

body {
    margin: 0;
    overflow: hidden;
}

.showOff {
    font-size: 15rem;
    color: black;
    text-align: center;
    margin-top: 15%;
}

.fullpage {
    height: 100vh;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.up-button {
    background-color: black;
    color: white;
    text-decoration: none;
    opacity: 0.6;
    -webkit-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    cursor: pointer;

    position: absolute;
    top: 0;
    left: 0;
    height: 10%;
    width: 100%;
    z-index: 20;
    text-align: center;
    font-size: 3rem;
    line-height: 4rem;
    margin: 0;
    padding: 0;
}

.down-button {
    background-color: black;
    color: white;
    text-decoration: none;
    opacity: 0.6;
    -webkit-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    cursor: pointer;

    position: absolute;
    left: 0;
    bottom: -7px;
    height: 10%;
    width: 100%;
    z-index: 20;
    text-align: center;
    font-size: 3rem;
    line-height: 4rem;
    margin: 0;
    padding: 0;
}


/*-----------Colors and Hover Opacity----------*/

.down-button:hover {
    opacity: 1;
}

.up-button:hover {
    opacity: 1;
}

.fullpage:nth-child(1) {
    background-color: rgb(235, 131, 229)
}

.fullpage:nth-child(2) {
    background-color: rgb(253, 204, 68);
}

.fullpage:nth-child(3) {
    background-color: rgb(83, 235, 83);
}

.fullpage:nth-child(4) {
    background-color: rgb(72, 158, 228)
}