<link rel="stylesheet" href="/css/attributions.css">

<header style="margin-bottom: 0;">
    <div class="headerContainer">
        <div class="imgContent"></div>
        <div id="bannersection">
            <div class="bannercontent">
                <h1 class="mainHeader">Attributions</h1>
            </div>
        </div>
    </div>
</header>


<div class="container" style="margin-top: 4rem;">
    <div class="row text-center" style="margin-bottom: 4rem;">
        <h1>Attributions</h1>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p>
                We infinitely thank all the people who accompanied us during this adventure, who were supporting us in
                one way or another, encouraging us daily to take the project forward.
            </p>
            <p>
                We would like to thank <strong>Andrea Regina Castañeda</strong> for letting us to be part of LiFe and
                helping us with fundraising activities.
            </p>
            <p>
                We would like to thank <strong>Alberto Aguilar</strong> for letting us to represent our Institution and
                providing us the facilities to carry our project.
            </p>
            <p>
                We would like to thank <strong>our friends</strong> for encouraging us, enduring our stressful moments,
                buying all the
                stuff we sold to get funds and always being there for us.
            </p>
            <p>
                And last but not least, we would like to thank <strong>our families</strong> for picking us up late
                from school,
                affording our trip, and always believing in us.
            </p>
        </div>
    </div>
</div>


<div class="container text-center" style="margin-top: 4rem;" id="attrContainer">
    <div class="row">
        <div class="col-md-12">
            <div class="frame">
                <div class="tabs">
                    <input type="radio" name="tab" id="1" checked>
                    <input type="radio" name="tab" id="2">
                    <input type="radio" name="tab" id="3">
                    <input type="radio" name="tab" id="4">
                    <input type="radio" name="tab" id="5">
                    <input type="radio" name="tab" id="6">
                    <div class="tabs-list">
                        <label class="tab" for="1">Human Practices</label>
                        <label class="tab" for="2">Public Engagement</label>
                        <label class="tab" for="3">Mathematical Model</label>
                        <label class="tab" for="4">Entrepreneurship</label>
                        <label class="tab" for="5">Lab</label>
                        <label class="tab" for="6">Wiki</label>
                    </div>
                    <div class="tabs-content">


                        <!-- HUMAN PRACTICES -->


                        <div class="content">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-7">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <p><strong>Grad. Silvia Gomar, Eng. Carlos Monarrez and Eng. Ricardo
                                                        Márquez.</strong>
                                                    For providing us with specific information about cotton crops in the
                                                    State of Chihuahua.</p>
                                            </li>
                                            <li class="list-group-item">
                                                <p>
                                                    <strong>Eng. Carlos Zavala</strong>
                                                    For providing the opportunity to interview farmers and more
                                                    technical
                                                    advisors that helped us to develop our project
                                                </p>
                                            </li>
                                            <li class="list-group-item">
                                                <p>
                                                    <strong>Biological Scientist Henrique Retti de Andrade</strong>
                                                    For guiding us through the whole competition.
                                                </p>
                                            </li>
                                            <li class="list-group-item">
                                                <p>
                                                    <strong>Ph.D Silvia Lorena Montes</strong>
                                                    For giving us advice about the encapsulation of our peptides.
                                                </p>
                                            </li>
                                            <li class="list-group-item">
                                                <p>
                                                    <strong>M.S Clint J. Jurke</strong>
                                                    For providing information about Verticillium wilt in canola plants
                                                    in
                                                    Alberta, Canada.
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="gradient-divider"></div>
                        </div>

                        <!-- PUBLIC ENGAGEMENT -->

                        <div class="content">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-7">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <p>
                                                    <strong>Alejandra Cervantes Escobar</strong>
                                                    For providing advice as well as resolving doubts about the Public
                                                    Engagement area of our iGEM team.
                                                </p>
                                            </li>
                                            <li class="list-group-item">
                                                <p>
                                                    <strong>Laura Gabriela Velázquez Varela</strong>
                                                    For designing and creating creative content for our Education
                                                    Manual.
                                                </p>
                                            </li>

                                            <li class="list-group-item">
                                                <p>
                                                    <strong>Principals Luz Estela Pacheco & María de los Angeles
                                                        Rivas</strong>
                                                    For giving us the opportunity to present a conference to theirs
                                                    students
                                                    and letting us to spend time with them.
                                                </p>
                                            </li>
                                            <li class="list-group-item">
                                                <p>
                                                    <strong>Professors Carlos Servando Chávez & Anabel Aguirre</strong>
                                                    For giving us the opportunity to present a conference to the
                                                    students
                                                    about “How to apply synthetic biology in your professional field?”
                                                </p>
                                            </li>
                                            <li class="list-group-item">
                                                <p>
                                                    <strong>Professor Ismene Garcia, Thomas Forsgren and Israel
                                                        Marquez</strong>
                                                    For allowing us to give a lecture about synthetic biology, our
                                                    project
                                                    and about the iGEM competition as a whole.
                                                </p>
                                            </li>
                                            <li class="list-group-item">
                                                <p>
                                                    <strong>M.S. Saúl Ramón Luján</strong>
                                                    For providing us a space during “first international congress on
                                                    agricultural education”, where we could present our project and get
                                                    contacts that could help us after that.
                                                </p>
                                            </li>
                                            <li class="list-group-item">
                                                <p>
                                                    <strong>Actuemos Hoy. A.C., TecChMun and MUNMx</strong>
                                                    For letting us participate in the developing of their United Nations
                                                    models.
                                                </p>
                                            </li>

                                            <li class="list-group-item">
                                                <p>
                                                    <strong>Javier Bolaños</strong>
                                                    For giving us the opportunity to publish in de Riego magazine.
                                                </p>
                                            </li>

                                            <li class="list-group-item">
                                                <p>
                                                    <strong>Secretariat of Rural Development</strong>
                                                    For inviting us to the International Convention of Chilli.
                                                </p>
                                            </li>

                                            <li class="list-group-item">
                                                <p>
                                                    <strong>Channel 28</strong>
                                                    For letting us appear in its news segment.
                                                </p>
                                            </li>

                                            <li class="list-group-item">
                                                <p>
                                                    <strong>Clubes de Ciencia México, Beautiful Patterns and
                                                        AMEAS</strong>
                                                    For allowing us to give a conference about our project in their
                                                    events.
                                                </p>
                                            </li>

                                            <li class="list-group-item">
                                                <p>
                                                    <strong>Chihuahua Autonomous University</strong>
                                                    For letting us give the lecture “The Scope of Synthetic Biology” to
                                                    graduate
                                                    students.
                                                </p>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="gradient-divider"></div>
                        </div>

                        <!-- MATHEMATICAL MODEL -->

                        <div class="content">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-7">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <p>
                                                    <strong>Ph.D. Rafael Camilo Lozoya</strong>
                                                    For introducing us to the mathematical modelling in MatLab.
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="gradient-divider"></div>
                        </div>

                        <!-- ENTREPRENERUSHIP  -->

                        <div class="content">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-7">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <p>
                                                    <strong>Eng. Alfonso Soto Martinez.</strong>
                                                    For providing information about the production and economic income
                                                    of
                                                    cotton farming, also for contacting us with agronomic engineers for
                                                    interviews.
                                                </p>
                                            </li>
                                            <li class="list-group-item">
                                                <p>
                                                    <strong>Eng. Carlos Zabala.</strong>
                                                    Responsible for the purchase and negotiation of inputs for United
                                                    Agricultural Fields.
                                                    For giving us information on the distribution of agro-inputs and on
                                                    the
                                                    way in which the products are applied through irrigation.
                                                </p>
                                            </li>
                                            <li class="list-group-item">
                                                <p>
                                                    <strong>Jacobo Nielsen</strong>
                                                    For resolving doubts about farming. We also assured his availability
                                                    for
                                                    testing our product in a small area of his cotton sowing.
                                                </p>
                                            </li>
                                            <li class="list-group-item">
                                                <p>
                                                    <strong>Eng. Carlos Garcia.</strong>
                                                    For resolving doubts about the way that a product is chosen and
                                                    recommended for cotton farming, as well as helping us contact cotton
                                                    producers for market validation.
                                                </p>
                                            </li>
                                            <li class="list-group-item">
                                                <p>
                                                    <strong>Sayuri Fabiola Sandoval</strong>preneurship area of our iGEM
                                                    team.
                                                </p>
                                            </li>
                                            <li class="list-group-item">
                                                <p>
                                                    <strong>Eng. Jonathan Acevedo</strong>
                                                    For providing information about cotton cultivation, as well as
                                                    giving
                                                    information about the work agricultural crop consultant technician.
                                                </p>
                                            </li>
                                            <li class="list-group-item">
                                                <p>
                                                    <strong>Eng. Jesús Manuel Vázquez</strong>
                                                    For resolving doubts about cotton production, as well as allowing us
                                                    to
                                                    visit his working area to look at crops and interview producers.
                                                </p>
                                            </li>
                                            <li class="list-group-item">
                                                <p>
                                                    <strong>Eng. Elvis Lechuga</strong>
                                                    For providing data about cotton production and verticillium wilt
                                                    incidence in our state.
                                                </p>
                                            </li>
                                            <li class="list-group-item">
                                                <p>
                                                    <strong>Eng. Francisco Galindo</strong>
                                                    For providing data about cotton production and verticillium wilt
                                                    incidence in our state.
                                                </p>
                                            </li>
                                            <li class="list-group-item">
                                                <p>
                                                    <strong>Eng. Alfonso Blancas.</strong>
                                                    For providing information about cotton production in our state as
                                                    well
                                                    as some data regarding cotton production.
                                                </p>
                                            </li>
                                            <li class="list-group-item">
                                                <p>
                                                    <strong>M.C Christian Salazar</strong>
                                                    For providing support in the development and validation of a project
                                                    from the social entrepreneurship standpoint.
                                                </p>
                                            </li>
                                            <li class="list-group-item">
                                                <p>
                                                    <strong>Bernardo Flores</strong>
                                                    For providing information about cotton and how this industry works,
                                                    as
                                                    well as helping us validate the presence of verticillium wilt.
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="gradient-divider"></div>
                        </div>

                        <!-- LAB -->

                        <div class="content">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-7">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <p>
                                                    <strong>M.S. Ivonne Hernández</strong>
                                                    For providing us with countless reagents and equipment while making
                                                    sure
                                                    everything was in order and cheering us up.
                                                </p>
                                            </li>
                                            <li class="list-group-item">
                                                <p>
                                                    <strong>M.S. Ana Carolina Apodaca</strong>
                                                    For always being there for us when we needed help and always doing
                                                    it
                                                    with a smile, cheering us up and helping us move on.
                                                </p>
                                            </li>
                                            <li class="list-group-item">
                                                <p>
                                                    <strong>Ph.D. Cristina Sánchez</strong>
                                                    For helping us with the standardization of the SDS-PAGE Protocol.
                                                </p>
                                            </li>
                                            <li class="list-group-item">
                                                <p>
                                                    <strong>Ph.D. Silvia Lorena Montes</strong>
                                                    For providing us supervision and always helping in case we got stuck
                                                    in
                                                    something.
                                                </p>
                                            </li>
                                            <li class="list-group-item">
                                                <P>
                                                    <strong>Ph.D. Agustín Corral</strong>
                                                    For providing us the Precision Plus Protein Dual Xtra Standards for
                                                    our
                                                    SDS-PAGE gels.
                                                </P>
                                            </li>
                                            <li class="list-group-item">
                                                <p>
                                                    <strong>Ph.D. Agustín Corral</strong>
                                                    For providing us the Precision Plus Protein Dual Xtra Standards for
                                                    our
                                                    SDS-PAGE gels.
                                                </p>
                                            </li>
                                            <li class="list-group-item">
                                                <p>
                                                    <strong>Ph.D. Alberto Grado Ahuir</strong>
                                                    For providing us ethidium bromide.
                                                </p>
                                            </li>
                                            <li class="list-group-item">
                                                <p>
                                                    <strong>Dyana Tiznado, Rodrigo Ibarra & Santiago Terán</strong>
                                                    For making our job in the lab brighter and always having a positive
                                                    energy.
                                                </p>
                                            </li>

                                            <li class="list-group-item">
                                                <p>
                                                    <strong>Deviani Hernández, Dyana Tiznado, Rodrigo Ibarra & Santiago
                                                        Terán</strong>
                                                    For making our job in the lab brighter and always having a positive
                                                    energy.
                                                </p>
                                            </li>
                                            <li class="list-group-item">
                                                <p>
                                                    <strong>Jose Pablo Rascón</strong>
                                                    For giving us advice in our protocolos.
                                                </p>
                                            </li>
                                            <li class="list-group-item">
                                                <p>
                                                    <strong>Mayra Liliana Gonzalez</strong>
                                                    For being part of the team during four months, helping us choosing
                                                    the
                                                    peptides for our project, and being part of the lab team.
                                                </p>
                                            </li>
                                            <li class="list-group-item">
                                                <p>
                                                    <strong>Q.B.P. Diana Patricia Lugo</strong>
                                                    For helping us with the isolation of <i>Verticillium dahliae</i>.
                                                </p>
                                            </li>
                                            <li class="list-group-item">
                                                <p>
                                                    <strong>Q.B.P. Saúl Hernán Rubio</strong>
                                                    For his huge commitment and disposition at giving us the advice and
                                                    resources to obtain isolated <i>Verticillium dahliae</i>.
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="gradient-divider"></div>
                        </div>


                        <!-- WIKI -->

                        <div class="content">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-7">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <p>
                                                    <strong>Enrique Antonio Sánchez</strong>
                                                    For helping us navigate through the Harp.js environment as well as
                                                    synchronizing
                                                    our code through GitHub.
                                                </p>
                                            </li>
                                            <li class="list-group-item">
                                                <p>
                                                    <strong>Carlos Augusto Ventura Molina</strong>
                                                    For getting us in touch with M.S. Enrique and providing tips on
                                                    programming.
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="gradient-divider">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" id="attrMobile">
    <div class="row text-center" style="margin-bottom: 4rem; margin-top: 4rem;">
        <div class="col-md-12">
            <h2>Human Practices</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-7">
            <ul class="list-group">
                <li class="list-group-item">
                    <p><strong>Grad. Silvia Gomar, Eng. Carlos Monarrez and Eng. Ricardo
                            Márquez.</strong>
                        For providing us with specific information about cotton crops in the
                        State of Chihuahua.</p>
                </li>
                <li class="list-group-item">
                    <p>
                        <strong>Eng. Carlos Zavala</strong>
                        For providing the opportunity to interview farmers and more
                        technical
                        advisors that helped us to develop our project
                    </p>
                </li>
                <li class="list-group-item">
                    <p>
                        <strong>Biological Scientist Henrique Retti de Andrade</strong>
                        For guiding us through the whole competition.
                    </p>
                </li>
                <li class="list-group-item">
                    <p>
                        <strong>Ph.D Silvia Lorena Montes</strong>
                        For giving us advice about the encapsulation of our peptides.
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="row text-center" style="margin-bottom: 4rem; margin-top: 4rem;">
        <div class="col-md-12">
            <h2>Public Engagement</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-7">
            <ul class="list-group">
                <li class="list-group-item">
                    <p>
                        <strong>Principals Luz Estela Pacheco & María de los Angeles
                            Rivas</strong>
                        For giving us the opportunity to present a conference to theirs
                        students
                        and letting us to spend time with them.
                    </p>
                </li>
                <li class="list-group-item">
                    <p>
                        <strong>Professors Carlos Servando Chávez & Anabel Aguirre</strong>
                        For giving us the opportunity to present a conference to the
                        students
                        about “How to apply synthetic biology in your professional field?”
                    </p>
                </li>
                <li class="list-group-item">
                    <p>
                        <strong>Professor Ismene Garcia</strong>
                        For allowing us to give a lecture about synthetic biology, our
                        project
                        and about the iGEM competition as a whole.
                    </p>
                </li>
                <li class="list-group-item">
                    <p>
                        <strong>M.S. Saúl Ramón Luján</strong>
                        For providing us a space during “first international congress on
                        agricultural education”, where we could present our project and get
                        contacts that could help us after that.
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="row text-center" style="margin-bottom: 4rem; margin-top: 4rem;">
        <div class="col-md-12">
            <h2>Mathematical Model</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-7">
            <ul class="list-group">
                <li class="list-group-item">
                    <p>
                        <strong>Ph.D. Rafael Camilo Lozoya</strong>
                        For introducing us to the mathematical modelling in MatLab.
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="row text-center" style="margin-bottom: 4rem; margin-top: 4rem;">
        <div class="col-md-12">
            <h2>Entrepreneurship</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-7">
            <ul class="list-group">
                <li class="list-group-item">
                    <p>
                        <strong>Eng. Alfonso Soto Martinez.</strong>
                        For providing information about the production and economic income
                        of
                        cotton farming, also for contacting us with agronomic engineers for
                        interviews.
                    </p>
                </li>
                <li class="list-group-item">
                    <p>
                        <strong>Eng. Carlos Zabala.</strong>
                        Responsible for the purchase and negotiation of inputs for United
                        Agricultural Fields.
                        For giving us information on the distribution of agro-inputs and on
                        the
                        way in which the products are applied through irrigation.
                    </p>
                </li>
                <li class="list-group-item">
                    <p>
                        <strong>Jacobo Nielsen</strong>
                        For resolving doubts about farming. We also assured his availability
                        for
                        testing our product in a small area of his cotton sowing.
                    </p>
                </li>
                <li class="list-group-item">
                    <p>
                        <strong>Eng. Carlos Garcia.</strong>
                        For resolving doubts about the way that a product is chosen and
                        recommended for cotton farming, as well as helping us contact cotton
                        producers for market validation.
                    </p>
                </li>
                <li class="list-group-item">
                    <p>
                        <strong>Sayuri Fabiola Sandoval</strong>preneurship area of our iGEM
                        team.
                    </p>
                </li>
                <li class="list-group-item">
                    <p>
                        <strong>Eng. Jonathan Acevedo</strong>
                        For providing information about cotton cultivation, as well as
                        giving
                        information about the work agricultural crop consultant technician.
                    </p>
                </li>
                <li class="list-group-item">
                    <p>
                        <strong>Eng. Jesús Manuel Vázquez</strong>
                        For resolving doubts about cotton production, as well as allowing us
                        to
                        visit his working area to look at crops and interview producers.
                    </p>
                </li>
                <li class="list-group-item">
                    <p>
                        <strong>Eng. Elvis Lechuga</strong>
                        For providing data about cotton production and verticillium wilt
                        incidence in our state.
                    </p>
                </li>
                <li class="list-group-item">
                    <p>
                        <strong>Eng. Francisco Galindo</strong>
                        For providing data about cotton production and verticillium wilt
                        incidence in our state.
                    </p>
                </li>
                <li class="list-group-item">
                    <p>
                        <strong>Eng. Alfonso Blancas.</strong>
                        For providing information about cotton production in our state as
                        well
                        as some data regarding cotton production.
                    </p>
                </li>
                <li class="list-group-item">
                    <p>
                        <strong>M.C Christian Salazar</strong>
                        For providing support in the development and validation of a project
                        from the social entrepreneurship standpoint.
                    </p>
                </li>
                <li class="list-group-item">
                    <p>
                        <strong>Bernardo Flores</strong>
                        For providing information about cotton and how this industry works,
                        as
                        well as helping us validate the presence of verticillium wilt.
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="row text-center" style="margin-bottom: 4rem; margin-top: 4rem;">
        <div class="col-md-12">
            <h2>Lab</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-7">
            <ul class="list-group">
                <li class="list-group-item">
                    <p>
                        <strong>M.S. Ivonne Hernández</strong>
                        For providing us with countless reagents and equipment while making
                        sure
                        everything was in order and cheering us up.
                    </p>
                </li>
                <li class="list-group-item">
                    <p>
                        <strong>M.S. Ana Carolina Apodaca</strong>
                        For always being there for us when we needed help and always doing
                        it
                        with a smile, cheering us up and helping us move on.
                    </p>
                </li>
                <li class="list-group-item">
                    <p>
                        <strong>Ph.D. Cristina Sánchez</strong>
                        For helping us with the standardization of the SDS-PAGE Protocol.
                    </p>
                </li>
                <li class="list-group-item">
                    <p>
                        <strong>Ph.D. Silvia Lorena Montes</strong>
                        For providing us supervision and always helping in case we got stuck
                        in
                        something.
                    </p>
                </li>
                <li class="list-group-item">
                    <P>
                        <strong>Ph.D. Agustín Corral</strong>
                        For providing us the Precision Plus Protein Dual Xtra Standards for
                        our
                        SDS-PAGE gels.
                    </P>
                </li>
                <li class="list-group-item">
                    <p>
                        <strong>Ph.D. Agustín Corral</strong>
                        For providing us the Precision Plus Protein Dual Xtra Standards for
                        our
                        SDS-PAGE gels.
                    </p>
                </li>
                <li class="list-group-item">
                    <p>
                        <strong>Ph.D. Alberto Grado Ahuir</strong>
                        For providing us ethidium bromide.
                    </p>
                </li>
                <li class="list-group-item">
                    <p>
                        <strong>Deviani Hernández, Dyana Tiznado, Rodrigo Ibarra & Santiago
                            Terán</strong>
                        For making our job in the lab brighter and always having a positive
                        energy.
                    </p>
                </li>
                <li class="list-group-item">
                    <p>
                        <strong>Jose Pablo Rascón</strong>
                        For giving us advice in our protocolos.
                    </p>
                </li>
                <li class="list-group-item">
                    <p>
                        <strong>Mayra Liliana Gonzalez</strong>
                        For being part of the team during four months, helping us choosing
                        the
                        peptides for our project, and being part of the lab team.
                    </p>
                </li>
                <li class="list-group-item">
                    <p>
                        <strong>Q.B.P. Diana Patricia Lugo</strong>
                        For helping us with the isolation of <i>Verticillium dahliae</i>.
                    </p>
                </li>
                <li class="list-group-item">
                    <p>
                        <strong>Q.B.P. Saúl Hernán Rubio</strong>
                        For his huge commitment and disposition at giving us the advice and
                        resources to obtain isolated <i>Verticillium dahliae</i>.
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="row text-center" style="margin-bottom: 4rem; margin-top: 4rem;">
        <div class="col-md-12">
            <h2>Wiki</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-7">
            <ul class="list-group">
                <li class="list-group-item">
                    <p>
                        <strong>Enrique Antonio Sánchez</strong>
                        For helping us navigate through the Harp.js environment as well as
                        synchronizing
                        our code through GitHub.
                    </p>
                </li>
                <li class="list-group-item">
                    <p>
                        <strong>Carlos Augusto Ventura Molina</strong>
                        For getting us in touch with M.S. Enrique and providing tips on
                        programming.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 18rem;">
    <div class="row text-center" style="margin-bottom: 8rem;">
        <h1>Sponsors</h1>
    </div>
    <div class="row" style="margin-bottom: 8rem;">
        <div class="col-md-4">
            <img src="img/sponsors/thermofisher_logo.png" class="img-responsive" width="100%">
        </div>
        <div class="col-md-8">
            <p>
                <strong>Thermo Fisher Scientific (Mexico)</strong> For providing us with a PureLink™ Quick Plasmid
                Miniprep Kit, HisPur™
                and SYBR™ Safe.
            </p>
        </div>
    </div>
    <div class="row" style="margin-bottom: 8rem;">
        <div class="col-md-4">
            <img src="img/sponsors/SnapGeneLogo@2x.png" class="img-responsive" width="100%">
        </div>
        <div class="col-md-8">
            <p>
                <strong>SnapGene</strong> Sponsorship of SnapGene software.
            </p>
        </div>
    </div>
    <div class="row" style="margin-bottom: 8rem;">
        <div class="col-md-4">
            <img src="img/sponsors/Mathworks.png" class="img-responsive" width="100%">
        </div>
        <div class="col-md-8">
            <p>
                <strong>MathWorks</strong> Sponsorship of MatLab software.
            </p>
        </div>
    </div>
    <div class="row" style="margin-bottom: 8rem;">
        <div class="col-md-4">
            <img src="img/sponsors/IDT.png" class="img-responsive" width="100%">
        </div>
        <div class="col-md-8">
            <p>
                <strong>IDT</strong> For synthesizing the DNA sequences of AtPFN1, PsDef1, PsDef1+Erv1p, WAMP1b, and
                WAMP1b+Erv1p that
                were required to produce our peptides and carry out out project.
            </p>
        </div>
    </div>
    <div class="row" style="margin-bottom: 8rem;">
        <div class="col-md-4">
            <img src="img/sponsors/quimicaTech.png" class="img-responsive" width="100%">
        </div>
        <div class="col-md-8">
            <p>
                <strong>Química Tech</strong> For sponsoring us with essentials for the laboratory.
            </p>
        </div>
    </div>
    <div class="row" style="margin-bottom: 8rem;">
        <div class="col-md-4">
            <img src="img/sponsors/T--Tec-Chihuahua--Teclogo.png" class="img-responsive" width="100%">
        </div>
        <div class="col-md-8">
            <p>
                <strong>Tecnológico de Monterrey</strong> Thanks to our institution for all the support with the
                competition.
            </p>
        </div>
    </div>
    <div class="row" style="margin-bottom: 8rem;">
        <div class="col-md-4">
            <img src="img/sponsors/T--Tec-Chihuahua--LogoBioLabs.png" class="img-responsive" width="100%">
        </div>
        <div class="col-md-8">
            <p>
                <strong>New England Biolabs</strong> For providing a BioBrick® Assembly Kit, Q5® High-Fidelity 2X Master
                Mix, Quick-Load®
                Purple 1kb Plus DNA Ladder, NEB 5-alpha Competent <i>E. coli</i>, and SHuffle® T7 Express Competent
                <i>E. coli</i>.
            </p>
        </div>
    </div>
</div>