<link rel="stylesheet" href="/css/attributions.css">

<header style="margin-bottom: 0;">
    <div class="headerContainer">
        <div class="imgContent"></div>
        <div id="bannersection">
            <div class="bannercontent">
                <h1 class="mainHeader">Attributions</h1>
            </div>
        </div>
    </div>
</header>


<div class="container" style="margin-top: 4rem;">
    <div class="row text-center" style="margin-bottom: 4rem;">
        <h1>Attributions</h1>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p>
                We thank infinitely all the people who accompanied us during this adventure, who were supporting us in
                one way or another, encouraging us daily to take the project forward.
            </p>
            <p>
                We would like to thank <strong>Andrea Regina Castañeda</strong> for letting us to be part of LiFe and
                helping us with fundraising activities.
            </p>
            <p>
                We would like to thank <strong>Alberto Aguilar</strong> for letting us to represent our Institution and
                providing us the facilities to carry our project.
            </p>
            <p>
                We would like to thank <strong>our friends</strong> for encouraging us, enduring our stressful moments,
                buying all the
                stuff we sold to get funds and always being there for us.
            </p>
            <p>
                And finally but not least, we would like to thank <strong>our families</strong> for picking us up late
                from school,
                affording our trip, and always believing in us.
            </p>
        </div>
    </div>
</div>


<div class="container text-center" style="margin-top: 4rem;">
    <div class="row">
        <div class="col-md-12">
            <div class="frame">
                <div class="tabs">
                    <input type="radio" name="tab" id="1" checked>
                    <input type="radio" name="tab" id="2">
                    <input type="radio" name="tab" id="3">
                    <input type="radio" name="tab" id="4">
                    <input type="radio" name="tab" id="5">
                    <input type="radio" name="tab" id="6">
                    <div class="tabs-list">
                        <label class="tab" for="1">Human Practices</label>
                        <label class="tab" for="2">Public Engagement</label>
                        <label class="tab" for="3">Mathematical Model</label>
                        <label class="tab" for="4">Entrepreneurship</label>
                        <label class="tab" for="5">Lab</label>
                        <label class="tab" for="6">Wiki</label>
                    </div>
                    <div class="tabs-content">
                        <div class="content">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img src="https://via.placeholder.com/200" class="img-responsive"
                                            style="position: sticky;">
                                    </div>
                                    <div class="col-md-7">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <p><strong>M.S. Inés Espinosa</strong> </p>
                                                <p><strong>Position: </strong>Professor at Humanities Department</p>
                                                <p>
                                                    For helping us with the writing
                                                    of
                                                    documents.
                                                </p>
                                            </li>
                                            <li class="list-group-item">
                                                <p><strong>Silvia Gomar Medina, Carlos Monarrez Montes and Ricardo
                                                        Márquez
                                                        Portillo.</strong></p>

                                                <p>
                                                    <strong>Position: </strong>Department of Agriculture of the Ministry
                                                    of
                                                    Rural Development
                                                </p>
                                                <p>
                                                    For providing us with specific
                                                    information about cotton crops in the State of Chihuahua.
                                                </p>
                                            </li>
                                            <li class="list-group-item">
                                                <p><strong>Carlos Zavala</strong> </p>
                                                <p><strong>Profession: </strong>Agronome engineer</p>
                                                <p><strong>Position: </strong>Technical advisor</p>
                                                <p>For providing the opportunity to
                                                    interview farmers and more technical advisors that helped us to
                                                    develop our
                                                    project</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="gradient-divider"></div>
                        </div>


                        <div class="content">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img src="https://via.placeholder.com/200" class="img-responsive">
                                    </div>
                                    <div class="col-md-7">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <p><strong>Luz Estela Pacheco Chaparro &</strong> </p>
                                                <p><strong>Profession: </strong>Teachers</p>
                                                <p><strong>Position: </strong>Principal</p>
                                                <p>
                                                    For giving us the opportunity to present a conference to theirs
                                                    students and letting us to spend time with them
                                                </p>
                                            </li>
                                            <li class="list-group-item">
                                                <p><strong>Carlos Servando Chávez Tiznado & Anabel Aguirre
                                                        Prieto</strong></p>
                                                <p>
                                                    <strong>Profession: </strong>Teacher
                                                </p>
                                                <p>
                                                    <strong>Position: </strong>Principal
                                                </p>
                                                <p>
                                                    For giving us the opportunity to present a conference to the
                                                    students about “How to apply synthetic biology in your professional
                                                    field?”
                                                </p>
                                            </li>
                                            <li class="list-group-item">
                                                <p><strong>Ismene Garcia</strong> </p>
                                                <p><strong>Profession: </strong>Teacher</p>
                                                <p><strong>Position: </strong>Biology Teacher at Academia Juarez</p>
                                                <p>
                                                    For allowing us to give a lecture to sophomore, junior and senior
                                                    students of biology, biochemistry and science classes about
                                                    synthetic biology, our project and about the iGEM competition as a
                                                    whole.
                                                </p>
                                            </li>
                                            <li class="list-group-item">
                                                <p><strong>Thomas Forsgren</strong> </p>
                                                <p><strong>Position: </strong>Principal of Academia Juarez</p>
                                                <p>
                                                    For providing the opportunity of lecturing high school kids at
                                                    Academia Juarez.
                                                </p>
                                            </li>
                                            <li class="list-group-item">
                                                <p><strong>M.C. Saúl Ramón Luján</strong> </p>
                                                <p><strong>Position: </strong>Teacher</p>
                                                <p>
                                                    For providing us a space during “first international congress on
                                                    agricultural education”, where we could present our project and get
                                                    contacts that could help us after that
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="gradient-divider"></div>
                        </div>
                        <div class="content">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img src="https://via.placeholder.com/200" class="img-responsive"
                                            style="position: sticky;">
                                    </div>
                                    <div class="col-md-7">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <p><strong>Rafael Camilo Lozoya Gámez </strong> </p>
                                                <p><strong>Profession:</strong> Ph.D.</p>
                                                <p><strong>Position: </strong>Professor</p>
                                                <p>
                                                    For introducing us to the mathematical modelling in MatLab.
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="gradient-divider"></div>
                        </div>
                        <div class="content">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img src="https://via.placeholder.com/200" class="img-responsive">
                                    </div>
                                    <div class="col-md-7">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <p><strong>Alan Ventura Hernandez Tavalera</strong> </p>
                                                <p><strong>Profession: </strong>Biotechnology Engineer</p>
                                                <p>
                                                    For providing advisory for the entrepreneurship area during the
                                                    whole development process as well as orienting us in the
                                                    completion
                                                    of all the entrepreneurship parts that are presented. Also, for
                                                    his
                                                    help in the correction and modification of all our deliverables.
                                                </p>
                                            </li>
                                            <li class="list-group-item">
                                                <p><strong>Alfonso Soto Martinez</strong></p>
                                                <p>
                                                    <strong>Profession: </strong>Agronome Engineer
                                                </p>
                                                <p>
                                                    <strong>Position: </strong>Principal
                                                </p>
                                                <p>
                                                    For providing information about the production and economic
                                                    income
                                                    of cotton farming in the state of Chihuahua, as well as giving
                                                    information about the classification of cotton quality for its
                                                    sale.
                                                    Also for contacting us with agronomic engineers for interviews.
                                                </p>
                                            </li>
                                            <li class="list-group-item">
                                                <p><strong>Carlos Zabala</strong> </p>
                                                <p><strong>Profession: </strong>Agricultural Engineer</p>
                                                <p><strong>Position: </strong>Responsible for the purchase and
                                                    negotiation of inputs for United Agricultural Fields.</p>
                                                <p>
                                                    For advising us about the distribution of agro-inputs in cotton
                                                    farming and input payment plans for the field. Also, for his
                                                    help in
                                                    resolving doubts regarding the way that products are applied
                                                    through
                                                    irrigation.
                                                </p>
                                            </li>
                                            <li class="list-group-item">
                                                <p><strong>Jacobo Nielsen</strong> </p>
                                                <p><strong>Profession: </strong>Farmer</p>
                                                <p><strong>Position: </strong>Cotton Producer</p>
                                                <p>
                                                    For resolving doubts about farming as well as providing
                                                    information
                                                    about verticillium wilt and how it affects production and cotton
                                                    quality. We also assured his availability for testing our
                                                    product in
                                                    a small area of his cotton sowing.
                                                </p>
                                            </li>
                                            <li class="list-group-item">
                                                <p><strong>Carlos Garcia</strong> </p>
                                                <p><strong>Profession: </strong>Agricultural Engineer</p>
                                                <p><strong>Position: </strong>
                                                    Agricultural crop consultant technician.</p>
                                                <p>
                                                    For resolving doubts about the way that a product is chosen and
                                                    recommended for cotton farming, as well as helping us contact
                                                    cotton
                                                    producers for market validation.
                                                </p>
                                            </li>
                                            <li class="list-group-item">
                                                <p><strong>Sayuri Fabiola Sandoval Estrada</strong> </p>
                                                <p><strong>Profession: </strong>Biotechnology Engineer Student</p>
                                                <p><strong>Position: </strong>2018 iGEM Entrepreneurship</p>
                                                <p>
                                                    For providing advice on the development of the business model
                                                    sections, as well as the resolving of doubts about the
                                                    entrepreneurship area of our iGEM team.
                                                </p>
                                            </li>
                                            <li class="list-group-item">
                                                <p><strong>Jonathan Acevedo</strong> </p>
                                                <p><strong>Profession: </strong>Agricultural Engineer</p>
                                                <p><strong>Position: </strong>
                                                    Agricultural crop consultant technician</p>
                                                <p>
                                                    For providing information about cotton growth and cultivation,
                                                    as
                                                    well as giving information about the work that an agricultural
                                                    engineer performs as an agricultural crop consultant technician.
                                                </p>
                                            </li>
                                            <li class="list-group-item">
                                                <p><strong>Jesús Manuel Vázquez</strong> </p>
                                                <p><strong>Profession: </strong>Agricultural Engineer</p>
                                                <p><strong>Position: </strong>
                                                    Agricultural crop consultant technician</p>
                                                <p>
                                                    For resolving doubts and providing data about cotton production
                                                    and
                                                    verticillium wilt incidence, as well as allowing us to visit his
                                                    working area to look at crops and interview producers.
                                                </p>
                                            </li>
                                            <li class="list-group-item">
                                                <p><strong>Elvis Lechuga </strong> </p>
                                                <p><strong>Profession: </strong>Agricultural Engineer</p>
                                                <p><strong>Position: </strong>
                                                    Agricultural crop consultant technician</p>
                                                <p>
                                                    For providing data about cotton production and verticillium wilt
                                                    incidence in our state.
                                                </p>
                                            </li>
                                            <li class="list-group-item">
                                                <p><strong>Francisco Galindo </strong> </p>
                                                <p><strong>Profession: </strong>Agricultural Engineer</p>
                                                <p><strong>Position: </strong>
                                                    Agricultural crop consultant technician</p>
                                                <p>
                                                    For providing data about cotton production and verticillium wilt
                                                    incidence in our state.
                                                </p>
                                            </li>
                                            <li class="list-group-item">
                                                <p><strong>Alfonso Blancas Aguirre</strong> </p>
                                                <p><strong>Profession: </strong>Agricultural Engineer</p>
                                                <p><strong>Position: </strong>
                                                    President of the Chihuahua Cotton Product System.</p>
                                                <p>
                                                    For providing information about cotton production in our state
                                                    as
                                                    well as some data regarding cotton production and registered
                                                    cotton
                                                    producers.
                                                </p>
                                            </li>
                                            <li class="list-group-item">
                                                <p><strong>Christian Salazar Mantilla</strong> </p>
                                                <p><strong>Profession: </strong>M.C.</p>
                                                <p><strong>Position: </strong>
                                                    Director of social entrepreneurship in the northern region of
                                                    Tecnológico de Monterrey</p>
                                                <p>
                                                    For providing support in the development and validation of a
                                                    project
                                                    from the social entrepreneurship standpoint, as well as giving
                                                    advice for developing our company taking into account civil
                                                    associations and organizations while contributing a benefit to
                                                    society.
                                                </p>
                                            </li>
                                            <li class="list-group-item">
                                                <p><strong>Bernardo Flores</strong> </p>
                                                <p><strong>Profession: </strong>Farmer</p>
                                                <p><strong>Position: </strong>Cotton Producer</p>
                                                <p>
                                                    For providing information about cotton production and how this
                                                    industry works, as well as helping us validate the presence of
                                                    verticillium wilt. In addition, for helping us to verify the
                                                    need
                                                    for a direct product for this disease.
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="gradient-divider"></div>
                        </div>
                        <div class="content">
                            <h2 style="margin-bottom: 4rem;">Tab five</h2>
                            <div class="text">Back to the drawing-board commitment to the cause throughput
                                we need to
                                future-proof
                                this, nor touch base i don't want to drain the whole swamp, i just want to
                                shoot some
                                alligators.
                            </div>
                            <div class="gradient-divider"></div>
                        </div>
                        <div class="content">
                            <h2 style="margin-bottom: 4rem;">Tab six</h2>
                            <div class="text">Back to the drawing-board commitment to the cause throughput
                                we need to
                                future-proof
                                this, nor touch base i don't want to drain the whole swamp, i just want to
                                shoot some
                                alligators.
                            </div>
                            <div class="gradient-divider"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>