<link rel="stylesheet" href="css/brainstorming.css">
<header style="margin-bottom: 0;">
    <div class="headerContainer">
        <div class="imgContent"></div>
        <div id="bannersection">
            <div class="bannercontent">
                <h1 class="mainHeader">brainstorming</h1>
            </div>
        </div>
    </div>
</header>

<div class="container" style="margin-top: 5rem;">
    <div class="row text-center">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h1>Overview</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus corrupti et, eaque minima repellat
                commodi veritatis at inventore minus neque ratione vel expedita, illo possimus quasi ad quaerat quo
                illum?
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis distinctio adipisci numquam illo! Et
                fugit vel quaerat, perferendis, iste est tempore tenetur animi tempora id, non impedit beatae at.
                Magnam.
            </p>
            <div class="gradient-divider" style="margin-top: 8rem; margin-bottom: 8rem;"></div>
        </div>
    </div>
</div>



<div class="container">
    <div class="text-center">
        <h1>Previous Ideas</h1>
    </div>
    <div style="position: relative">
        <div class="section-line-cyan"></div>
        <div class="row" style="margin-top: 5rem;">
            <div class="col-md-6">
                <h2><i>Staphylococcus aureus</i> biofilm</h2>
                <br>
                <p>
                    <i>S. aureus</i> is a Gram-positive bacterium that creates a biofilm which sticks to
                    tissues and
                    implanted medical materials. Due to this, <i>S. aureus</i> is resistant to
                    antibiotics
                    and less
                    vulnerable* to antimicrobial and immune defenses. Our plan was to produce and purify
                    recombinant enzymes
                    that have shown antimicrobial activity against the biofilm and, in that way, offer a
                    therapeutic
                    solution.
                </p>
            </div>
            <div class="col-md-6 text-center">
                <div class="box"> <img src="https://via.placeholder.com/400x200" class="img-responsive">
                    <div class="overbox">
                        <div class="tagline overtext"> Some stuff </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 5rem;">
            <div class="col-md-6">
                <h2>Ulcer treatment via <i>L. Sericata larvae</i></h2>
                <br>
                <p>
                    We identified the problem of hard-to-treat wounds such as diabetic ulcers and other
                    chronic wounds. An
                    alternative treatment based on the use of larvae of the green bottle fly (<i>Lucilia
                        sericata</i>) has
                    shown effectiveness on healing these wounds due to the peptides and enzymes released
                    in
                    the insect's
                    secretions. Our objective was to produce a hydrogel that contained three of these
                    proteins to accelerate
                    the debridement process and prevent bacterial infections.
                </p>
            </div>
            <div class="col-md-6 text-center">
                <div class="box"> <img src="https://via.placeholder.com/400x200" class="img-responsive">
                    <div class="overbox">
                        <div class="tagline overtext"> Some stuff </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 5rem;">
            <div class="col-md-6">
                <h2>Lead accumulation</h2>
                <br>
                <p>
                    In our state there are a lot of water bodies contaminated by this heavy metal, which
                    is
                    extremely
                    polluted and harmful for people’s health. This idea consisted of taking a protein
                    from
                    <i>Cupriavidus
                        metallidurans</i> called <i>PbrR</i>, which has lead affinity and therefore,
                    modify
                    <i>E. coli
                        C41</i> (DE3) to remove lead from water. This way, the water quality in our
                    state
                    could improve and
                    also improve the lives of people affected by this contaminant.
                </p>
            </div>
            <div class="col-md-6 text-center">
                <div class="box"> <img src="https://via.placeholder.com/400x200" class="img-responsive">
                    <div class="overbox">
                        <div class="tagline overtext"> Some stuff </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="gradient-divider" style="margin-top: 8rem; margin-bottom: 8rem;"></div>

<div class="container">
    <div class="text-center">
        <h1>Our Final Choice:</h1>
    </div>
    <div style="position: relative">
        <div class="section-line-green"></div>
        <div class="row" style="margin-top: 5rem;">
            <div class="col-md-6">
                <h2>Treatment of crops for the <i>Verticillium Dahliae</i> fungi via the <i>INSERT PROTEIN NAME</i>
                    protein.</h2>
                <br>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit amet voluptatibus unde. Saepe sed
                    optio maiores vel officia cumque tenetur a dignissimos molestiae vitae natus aliquid quam, delectus
                    veritatis facilis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur officiis ipsum
                    distinctio similique laborum, error debitis perferendis quibusdam id sit maxime dolor quod beatae
                    repellendus pariatur velit hic odio voluptas. Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Accusantium incidunt, minima sed dolor qui cum exercitationem esse mollitia repudiandae
                    pariatur, laudantium fugit veniam est quisquam iste, quidem quae eaque voluptas!
                </p>
            </div>
            <div class="col-md-6 text-center">
                <div class="box"> <img src="https://via.placeholder.com/400x200" class="img-responsive">
                    <div class="overbox">
                        <div class="tagline overtext"> Some stuff </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>