<link rel="stylesheet" href="css/brainstorming.css">
<header style="margin-bottom: 0;">
    <div class="headerContainer">
        <div class="imgContent"></div>
        <div id="bannersection">
            <div class="bannercontent">
                <h1 class="mainHeader">brainstorming</h1>
            </div>
        </div>
    </div>
</header>




<div class="container" style="margin-top: 5rem;">
    <div class="row text-center">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1>Overview</h1>
            <p>
                Following the rush of inspiration we felt when we learned about all the possibilities that synthetic
                biology opened to us to develop a project of our choice, we began brainstorming. We wanted to solve a
                real-world issue and have a meaningful impact in our community. With this in mind, we looked for and
                reviewed problems of importance and tried to come up with possible solutions. Thousands of ideas flooded
                our heads, and we chose a couple of them to develop them as proposals for our team’s project. The
                following ideas are some of the strongest proposals:
            </p>
            <div class="gradient-divider" style="margin-top: 8rem; margin-bottom: 8rem;"></div>
        </div>
    </div>
</div>



<div class="container">
    <div class="text-center">
        <h1>Previous Ideas</h1>
    </div>
    <div style="position: relative">
        <div class="section-line-cyan"></div>
        <div class="row" style="margin-top: 5rem;">
            <div class="col-md-6 animation-element slide-left">
                <h2><i>Staphylococcus aureus</i> biofilm</h2>
                <br>
                <p>
                    <i>Staphylococcus aureus</i> is a Gram positive bacterium known for being able to create a resistant
                    biofilm, which can stick to tissues, prosthesis, and implants. Added to this, <i>S. aureus</i> is
                    one of
                    the main antibiotic resistant microorganisms, which has led to numerous public health issues.
                    Hospitals and health centers have to deal with these biofilms every day. Not only are they
                    especially hard to remove but they can also have disastrous health consequences, such as removal of
                    the implant, severe infections or treatment interruption. Our plan was to produce recombinantly and
                    purify a series of specific enzymes with proven antimicrobial activity against <i>S. aureus</i>
                    biofilms.
                    With this approach we could offer a new therapeutic option.
                </p>
            </div>
            <div class="col-md-6 animation-element slide-right">
                <video autoplay muted loop id="myVideo" width="100%">
                    <source src="img/brainstorm/biofilm (1).mp4" type="video/mp4">
                    Your browser does not support HTML5 video.
                    </source></video>
            </div>
        </div>

        <div class="row" style="margin-top: 5rem;">
            <div class="col-md-6">
                <h2>Ulcer treatment via <i>L. Sericata larvae</i></h2>
                <br>
                <p>
                    Hard-to-treat and easily infected wounds such as diabetic ulcers or chronic injuries are a common
                    problem in Mexico. An alternative treatment based on the use of larvae of the green bottle fly
                    (<i>Lucilia sericata</i>) has shown effectiveness healing these wounds, due to the peptides and
                    enzymes
                    released in the insect's secretions. Our objective was to produce a hydrogel that contained three of
                    these proteins, to accelerate the debridement and healing process of the wound, as well as
                    preventing bacterial infections.
                </p>
            </div>
            <div class="col-md-6 text-center">
                <div class="box"> <img src="img/brainstorm/Larvas.gif" class="img-responsive">
                    <div class="overbox">
                        <div class="tagline overtext"> Some stuff </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 5rem;">
            <div class="col-md-6">
                <h2>Lead accumulation</h2>
                <br>
                <p>
                    In our state there are a lot of water bodies contaminated by lead, a heavy metal extremely polluting
                    and harmful for people’s health. Our idea consisted of taking a protein from <i>Cupriavidus
                        metallidurans</i> called <i>PbrR</i>, which has lead affinity, and modifying a microorganism for
                    it to remove
                    lead from water. This way, the water quality in our state could improve as well as the lives of
                    people affected by it.
                </p>
            </div>
            <div class="col-md-6 text-center">
                <video autoplay muted loop id="myVideo" width="50%">
                    <source src="img/brainstorm/plomo.mp4" type="video/mp4">
                    Your browser does not support HTML5 video.
                    </source></video>
            </div>
        </div>
    </div>
</div>

<div class="gradient-divider" style="margin-top: 8rem; margin-bottom: 8rem;"></div>

<div class="container">
    <div class="text-center">
        <h1>Our Final Choice:</h1>
    </div>
    <div style="position: relative">
        <div class="section-line-green"></div>
        <div class="row" style="margin-top: 5rem;">
            <div class="col-md-6">
                <h2><strong>V-TION: <i>Verticillium</i> Inhibition</strong></h2>
                <h3>
                    Recombinant production of plant defense peptides to inhibit Verticillium wilt in cotton crops
                </h3>
                <br>
                <p>
                    Agriculture is one of the major sectors for our country and an essential activity for our society in
                    a worldwide level. There is a phytopathogenic fungus called <i>Verticillium dahliae</i> that affects
                    many
                    crops all over the world. We heard about this when we delved into the cotton industry, one of the
                    main crops in our state, and how it was affected by this specific fungus. To fight this we proposed
                    to produce recombinantly antifungal peptides with shown activity against <i>V. dahliae</i>. This
                    would
                    allow us to produce a biopesticide that inhibits and attacks the fungal disease, helps the producers
                    in our state, and saves millions of crops worldwide.
                </p>
            </div>
            <div class="col-md-6 text-center">
                <div class="box"> <img src="https://via.placeholder.com/400x200" class="img-responsive">
                    <div class="overbox">
                        <div class="tagline overtext"> Some stuff </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>