<header>
    <div class="headerContainer">
        <video autoplay muted loop id="header-bground">
            <source src="img/descriptionHeader.mp4" type="video/mp4">
            Your browser does not support HTML5 video
            </source>
        </video>
        <div id="bannersection">
            <div class="bannercontent">
                <h1 class="mainHeader">Mathematical<br>Model</h1>
            </div>
        </div>
    </div>
</header>

<section class="main-content">
    <h1>UCL (06/01/2019)</h1><br>
    We held a virtual meeting with members from the UCL iGEM team. We discussed our projects, as well as future plans.
    Our Wiki Team gave some tips and explained how to add a looping video on their Wiki background and how to get
    started on planning their layout with a paper prototype.

</section>