<link rel="stylesheet" href="css/collaborations.css">

<header style="margin-bottom: 0;">
    <div class="headerContainer">
        <div class="imgContent"></div>
        <div id="bannersection">
            <div class="bannercontent">
                <h1 class="mainHeader">Attributions</h1>
            </div>
        </div>
    </div>
</header>

<div class="container" style="margin-top: 8rem;" id="partCard">
    <div class="row text-center">
        <div class="col-md-12">
            <h1>
                Collaboration with team BUAP
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                On September we had the pleasure to collaborate with team BUAP México in two different activities: their
                documentary and the development of our Education Manual.
                We had a video meeting with team BUAP on September 5th to discuss each others projects and advances,
                when we
                finished both teams really liked the activities that were being developed in the area of Human Practices
                and
                that is why we decided to collaborate.
            </p>
            <p>
                Our team helped collecting information for team BUAP documentary about the problems and difficulties
                that
                women in science have to deal with. We interviewed five different female scientists and we obtained
                information about why they got interested in science, which have been the most significant moments in
                their
                professional lives, which were the limitations that they lived as women in science, what solution they
                would
                propose to end these problems, what factors they think contribute to inequality in the field, and a
                message
                they would like to spread to little girls that want to be future scientists.
            </p>
            <p>
                We really enjoyed working on this activity because we noticed that both teams share the same goals, and
                by
                collaborating we can achieve a greater impact.
            </p>
            <p>
                On the other hand, while we were creating our Education Manual and were implementing all the education
                levels that we engaged, we realized that something was missing, one important level that is
                Kindergarten. By
                the time we had established contact with team BUAP and figured out that they were planning on visiting
                children from Kindergarten. We got in contact with them again and invited them to collaborate with the
                development of our manual.
            </p>
            <p>
                They provided us information about the plan that they had for their activity like how they adapted the
                information to make it understandable for children. They also included information on how they choose
                the
                school, how they got access to it, what activities they implemented and how many children and teachers
                they
                were planning to work with. One important fact that we asked them and was valuable for our Manual was
                what
                iGEM values they promoted and how they were planning to apply them during the activity.
                To conclude they contributed with advice they wanted to share with other iGEM teams on what is the
                better
                way to approach children from Kindergarten.
            </p>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 8rem;" id="partCard">
    <div class="row text-center">
        <div class="col-md-12">
            <h1>
                UANL & Tec-Monterrey
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                Communication is an essential and indispensable skill when working as a team. It is only through this
                way that goals can be achieved in the best way possible. We are certain that this is something that all
                the people who have participated in iGEM have reinforced during this arduous, intense and wonderful
                journey.

            </p>
            <p>
                One of the many great benefits of iGEM is that it gives you the opportunity to be connected with teams
                from all over the world. This is a priceless experience of companionship and genuine support. This
                opportunity allows iGEMers to connect, whether to simply get to know each other and share opinions, or
                to contribute new ideas and even suggestions towards each team’s projects and even to detect areas of
                opportunity and help others get better results.
            </p>
            <p>
                In order to continue promoting communication and building further relationships, on August 31, the LATAM
                Meet-up was held, where <strong>iGEM teams Tec-Mty, UANL, ITESO, and Tec-Chihuahua</strong>
                participated. For this event,
                two of our team members flew to Monterrey, where the Meet-up was held, in order to fulfill the team’s
                duties as organizer and to present our project to the attendees. During the event each team shared their
                project presentations and posters, where feedback was received from the members of the different teams,
                as well as the veteran iGEM judge, <strong>Dr. Heber</strong>.
            </p>
            <p>
                At the end of the day, the connections we made with the other teams were incredible. It was such a
                valuable experience for everyone involved. Ideas were discussed, support was offered as future
                collaborations, and numerous contacts were obtained. Overall, the event was a remarkable source of
                support in the development of each team’s projects. It is worth mentioning it also went further, as it
                should be with any event of this kind, individual growth and support was present in the form of
                connections and experiences.
            </p>
            <p>
                To plan and organize such an event was an effort that took over two months, and required the involvement
                of several team members from all the organizing teams. However, by living the experience and its
                posteriors benefits, we know it was all worth it. We also believe that these types of events help foster
                collaborations between teams, in addition to empathy and teamwork. As a future consideration the team
                had while planning this event, a guide for organizing meetups would be incredibly useful for the
                following teams.
            </p>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 8rem;" id="partCard">
    <div class="row text-center">
        <div class="col-md-12">
            <h1>UCL (06/01/2019)</h1>
        </div>
    </div>
    <div class="row">
        <p>
            The first of September we reached out to Team UCL from London and had a video conference call, since we saw
            it as a great opportunity to connect with students overseas and get a better idea of how students in other
            parts of the world were developing their projects. We discussed our respective projects, what we were hoping
            to achieve, and our plans for the future in different areas. They were particularly interested in our wiki,
            and were very kind to congratulate us for its. Their team was solely composed of biological-wise students,
            and none of them had any background in coding or web design. This was a major concern for them and were
            looking for help in that area.
        </p>
        <p>
            The call turned out to be quite useful for them because they mentioned they were having trouble with their
            Wiki. Their entire team consisted of students in biology and related fields, so they didn’t have any
            experience working on websites. Their main issue was that they didn’t know how to start working on their
            Wiki, after all, it is a very daunting responsibility. During the call, our Wiki Team, made up of Computer
            Science majors that have had a class working on web development, gave a quick crash course on how to get
            started. We discussed methods like paper prototyping wherein you sketch out every page of you website before
            committing to code. They had also seen a looping video on our homepage and wanted to do something similar.
            Our Wiki Team taught them how to do that, and gave a quick lesson on HTML tags and the DOM tree.
        </p>
    </div>
</div>