<link rel="stylesheet" href="/css/description.css">

<header>
    <div class="headerContainer">
        <video autoplay muted loop id="myVideo">
            <source src="img/descriptionHeader.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
            </source></video>
        <div id="bannersection">
            <div class="bannercontent">
                <h1 class="mainHeader">Inspiration <br> & <br> Description</h1>
            </div>
        </div>
    </div>
</header>


<div class="container mainContainer">
    <div style="position: relative;">
        <div class="section-line-green"></div>
        <div class="row" style=" margin-bottom: 5rem;">
            <div class="col-md-2"></div>
            <div class="col-md-8 text-center">
                <h1 id="InspirationText" style="margin-bottom: 5rem;">Inspiration</h1>
                <p>
                    When we first heard about iGEM, we also heard about the wonders of synthetic biology, and were more
                    than
                    inspired by the projects we read about. Learning about all the things that had been done only
                    reaffirmed
                    the notion that not even the sky was our limit. So what better idea than to use all these incredible
                    tools to solve a real world issue in such a way that we could notice an impact in our own community?
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>
                    When we first heard about iGEM, we also heard about the wonders of synthetic biology, and were more
                    than
                    inspired by the projects we read about. Learning about all the thing that had been done only
                    reaffirmed
                    the notion that not even the sky was our limit. So, what better idea than to use all these
                    incredible
                    tools to solve a real-world issue in such a way that we could notice and impact in our own
                    community.
                </p>

                <p>
                    Our team is comprised of people who have lived most of their lives in the state of Chihuahua.
                    Knowing
                    our home and our people for so many years and in so many different aspects, we wanted to do
                    something
                    that would truly influence our community. We wanted to create a meaningful change in our
                    surroundings.
                </p>

                <p>
                    Before being part of iGEM Tec-Chihuahua 2019, some our team members had the chance to meet and work
                    with
                    people immersed in the rural area, while others had developed small research projects in our school
                    regarding agronomic issues; somehow all of us had some sort of experience with agriculture and its
                    importance for Mexican people.
                </p>

                <p>
                    Four our country, agriculture fulfills the nutritional needs of millions of citizens, preserves
                    natural
                    environments, stimulates progress by improving the quality of life in rural areas, and has also been
                    ingrained in our culture and traditions since the very beginning.<sup><a href="#absRef7">1</a></sup>
                </p>

                <p>
                    A certain concern seemed to stand out among the people our team members knew and had worked with.
                    Both
                    agronomic engineers and crop producers involved in the cotton agricultural business, mentioned
                    <i>Verticillium</i>, a phytopathogenic fungus that wilts their crops and has only worsened with
                    every new
                    season. This particular disease has been on of their major problems for more than 7 years, and still
                    they haven’t received any help about this whatsoever. This year the overall production is expected
                    to
                    lower considerably compared to previous seasons. One of the principal measures agricultors use as an
                    attempt to control this situation is applying great amounts of agrochemicals; representing a hazard
                    regarding soil, water and air pollution.
                </p>

                <p>
                    Unfortunately, so far there is no product or efficient treatment to deal with this fungal infection.
                    Besides, the lack of proper methods to detect this disease in its earliest stages represent another
                    crucial concern.
                </p>

                <p>
                    Due to the above, we do believe that through synthetic biology we can reach a solution to the
                    inhibition
                    of <i>V. dahliae</i>, support of the most important sector of our region by improving the production
                    amount
                    and
                    preserving this valuable product that our state and our country produce and reducing fungicide
                    pollution
                    in consequence of toxic chemical components, in addition to help to decrease the suicide rate
                    because of
                    them.
                </p>

            </div>
        </div>
    </div>
</div>
<div class="container mainContainer" style="margin-top: 5rem;">
    <div style="position: relative;">
        <div class="section-line-cyan"></div>
        <div class="row" style="margin-bottom: 5rem;">
            <div class="col-md-12 text-center">
                <h1 id="DescriptionText" style="margin-bottom: 5rem;">Description</h1>
                <p>
                    <i>Verticillium dahliae</i> has a wide range of hosts, among which herbaceous plants and perennial
                    wood are
                    included, affecting more than 300 species, including cotton, strawberries, raspberries, blueberries,
                    potatoes, lettuce, among others; even more importantly, its effects are worldwide.<sup><a
                            href="#absRef8">2</a></sup>
                </p>

                <p>
                    China is the world’s second biggest cotton producer and Verticillium wilt’s rates have been
                    increasing
                    in the past decade. <i>V. dahliae</i>, as well as another wilt disease, have had a great impact in
                    the
                    country’s cotton production, losing more than 150,00 tons per year.<sup><a
                            href="#absRef9">3</a></sup>
                </p>

                <p>
                    Meanwhile, in the US, cotton wilt causes annual losses around 0.5% and 3.5% of the crops at a
                    national
                    level. In certain states, such as New Mexico, these rates have reached 5% and in Alabama, cropping
                    fields have decreased 1.5% of its extension; these losses translate into roughly 3 million
                    dollars.<sup><a href="#absRef10">4</a></sup>
                </p>

                <p>
                    Speaking of Mexico, cotton production is highly important seeing that the amount produced accounts
                    for
                    80.67& of total national demand; in 2018, cotton production represented a profit over
                    $10,343,005,600
                    for the country.<sup><a href="#absRef11">5</a></sup> Chihuahua is the biggest cotton producer of
                    Mexico with its yield being 70.2% of all
                    national production.<sup><a href="#absRef7">1</a></sup>
                </p>

                <p>
                    Currently, there is not any <i>Verticillium</i> specialized and aimed product, cotton producers turn
                    to the
                    conventional approach. They add agrochemicals to their crops, without any proper instructions and in
                    unawareness of the potential consequences. This elicits unwanted effects, such as elimination
                    non-target
                    organisms, and affectation of the food chain, high risks to the environment and human health. Even,
                    people are being affected too, over 3 million agricultors suffer from serious poisoning, while 25
                    million suffer from mild poisoning.<sup><a href="#absRef12">6</a></sup>
                </p>

                <p>
                    Also, trophic chains have been affected by this. A given example is the bee population reducing
                    29%-36%
                    due to excessive use of triazoles.<sup><a href="#absRef13">7</a></sup>
                </p>

                <p>
                    Another method employed to reduce <i>Verticillium</i> caused infections is crop rotation which
                    consists of
                    alternating plants with different nutritional needs in one place during different cycles, however it
                    can
                    result in disease propagation. Also, a frequent used technique is solarization, it refers to soil
                    disinfestation through the heat generated from the solar energy captured; nevertheless, despite its
                    positive outcomes, demands a great amount of time.<sup><a href="#absRef14">8</a></sup>
                </p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <h2>What about this fungus?</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>
                    <i>Verticillium dahliae</i> is stimulated by humid soils and temperatures between 21°C and 27°C
                    (70°F-80°C). This makes tropical and subtropical regions a suitable environment for its growth. The
                    fungus can overwinter as mycelium in perennial hosts, plant debris, and vegetative propagative
                    parts.<sup><a href="#absRef15">9</a></sup>
                </p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <h3>Life cycle and action mechanism</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>
                    It can be divided into three phases:
                </p>
                <p>
                    <strong>Latent phase:</strong> as a microsclerotia, made from melanin, Verticillium can survive in
                    the soil from a
                    single year to over two decades. Once roots exudates are found in the surrounding, the
                    microsclerotia starts to germinate and spreads inside the plant through its mycelial form or as
                    spores called microconidia. Once this happens, it travels into the plant’s vascular system,
                    worsening the infection.<sup><a href="#absRef16">10</a></sup>
                </p>
                <p>
                    <strong>Parasitic phase:</strong> onizes the plant’s structure, especially its roots and stems,
                    producing in turn more microsclerotia. Infected plant tissue turns necrotic since the vascular
                    system is obstructed with mycelia, conidias, and fungal metabolism byproducts. The pathogen itself
                    produces a glue-like substance that also obstructs the plant’s vessels, provoking water blockage and
                    tissue wilting.<sup><a href="#absRef17">11</a></sup>
                </p>
                <p>
                    <strong>Saprophytic phase:</strong> the plant dies, therefore the microsclerotia gets into the soil
                    and starts with
                    the cycle all over again.<sup><a href="#absRef18">12</a></sup>
                </p>
                <p>
                    Usually, Verticillium wilt symptoms vary among hosts, but certain common symptoms can be pinpointed:
                    premature leaf chlorosis, necrosis and vascular discoloration in stems and roots.<sup><a
                            href="#absRef19">13</a></sup>
                </p>
                <p>
                    Looking forward to helping our environment and cotton industry, a systemic, preventive and treating
                    biofungicide using recombinant antifungal peptides as active ingredients is sought. So, in order to
                    fulfil our objective, the following methodology was designed with the purpose of turning our project
                    from an idea to reality.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>
                    <strong>BioBrick<sup>TM</sup> Design:</strong> a total of five DNA sequences were designed to
                    express
                    recombinantly the peptides
                    in <i>E. coli</i>. The constructs count with the essential parts needed for their correct
                    translation into
                    proteins, purification, and proper folding. Recombinant production of disulfide bonded peptides,
                    like PsDEF1 and WAMP1b, can be complicated in prokaryotic systems, thus we have as well created DNA
                    sequences for the co-expression of these peptides with Erv1p, a disulfide bond forming
                    protein.<sup><a href="#absRef20">14</a></sup>
                </p>

                <p>
                    <strong><i>E. coli</i> Cells Transformation:</strong> chemically competent <i>E. coli</i> cells are
                    prepared and transformed with
                    our vectors. <i>E. coli</i> BL21 (DE3) was chosen as a chassis for the expression of AtPFN1 for
                    being ideal
                    for protein expression. In the case of PsDef1 and WAMP1b, <i>E. coli</i> SHuffle T7 Express, a
                    specially
                    designed strain to aid in the proper formation disulfide bonds, was chosen as an expression vector.
                </p>

                <p>
                    <strong>IPTG induced protein expression:</strong> after the cells are correctly transformed,
                    expression of the
                    peptides can be induced and controlled by Isopropyl β-D-1-thiogalactopyranoside (IPTG); BL21 (DE3)
                    and SHuffle are T7 expression strains. Once IPTG is added to these strains, T7 RNA polymerase is
                    produced and capable of transcribing downstream of promoters like those found in the DNA
                    constructs.<sup><a href="#absRef21">15</a></sup>
                </p>

                <p>
                    <strong>Soluble Protein Extraction:</strong> after induction and a period of incubation, cells are
                    lysed through a
                    series of freeze/thaw cycles with the help of a lysis solution and sonication. The lysate is then
                    centrifuged to obtain the cells soluble proteins in the supernatant.
                </p>

                <p>
                    <strong>Protein Purification:</strong> our peptides are designed to be expressed as fusion proteins
                    with a 6x
                    His-Tag. This allows the peptides to be purified through immobilized metal affinity chromatography,
                    a purification procedure based on the interaction of metal ions with polyhistidine sequences in
                    tagged proteins.<sup><a href="#absRef22">16</a></sup>
                </p>

                <p>
                    <strong>Antifungal Assay:</strong> next, the antifungal activity of the peptides is tested against
                    <i>V. dahliae.</i> A
                    spore suspension is treated with the purified peptides individually as well as a mixture of all
                    three of them to prove their collaborative effect against the fungus.
                </p>

                <!-- LINK TO PROJECT DESIGN PAGE -->

                <p>
                    <strong>Delivery:</strong> nanoencapsulation has been shown to be a promising alternative to deliver
                    active
                    ingredients more efficiently and accurately. This is the reason or purpose is to get nanoencapsulate
                    our recombinant peptides by creating a chitosan-poly(lactice) copolymer nanocapsule. <sup><a
                            href="#absRef23">17</a></sup>
                </p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <h2>
                    What are our peptides?
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>
                    <strong>WAMP1b</strong>
                </h3>
                <br>
                <p>
                    WAMP1b is part of the WAMPs antimicrobial peptides, a type of chitinase-like peptides from <i>
                        Triticum
                        kiharae.
                    </i> These antimicrobial peptides are also called hevein-like proteins due to their similarity
                    to hevein and to having a chitin binding site similar to chitinases.<sup><a
                            href="#absRef24">18</a></sup> The peptide’s action mechanism consists in the inhibition of
                    fungalysins, fungal defense metalloproteases. Fungalysins cleave chitinases, plant proteins that
                    degrade chitin found in the fungal cell wall.<sup><a href="#absRef25">19</a></sup> Since <i>V.
                        dahliae</i>
                    produces fungalysin<sup><a href="#absRef26">20</a></sup>, WAMP1b can be used to inhibit the
                    fungus’ defense system, thus suppressing its pathogenicity.
                </p>

                <h3>
                    <strong>AtPFN1</strong>
                </h3>
                <br>
                <p>
                    AtPFN1 is a profilin protein from <i>Arabidopsis thaliana</i>. These protein bind to chitin, an
                    important
                    mechanism for their antifungal action. It degrades spore and hyphal cell wall, then accumulating in
                    the cytoplasm where it generates reactive oxygen species and induces apoptosis. AtPFN1 has been
                    shown to break down fungal cell walls, even when it is in its dormant, spore phase, ideally
                    preventing the spread of <i>V. dahliae</i> and other fungi.<sup><a href="#absRef27">21</a></sup>
                </p>

                <h3>
                    <strong>PsDef1</strong>
                </h3>
                <br>
                <p>
                    PsDef1 stands for <i>Pinus sylvestris</i> Defensin 1, a plant defensin that has been shown to
                    produce
                    morphological changes to fungi mycelium. It presents significant similarities to RsAFP2 (<i>
                        Raphanus
                        sativus
                    </i> antifungal peptide). RsAFP2, upon binding to GlcCer, produces reactive oxygen species inside
                    the fungal cell, effectively killing it from the inside.<sup><a href="#absRef28">22</a></sup>
                    Additionally, PsDef1 contains 4 disulfide bonds which grant it resilience against environmental
                    changes.<sup><a href="#absRef29">23</a></sup>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>
                    In such a way that, the peptides’ nature and the delivery properties of the nanocapsule wilt allow
                    the biofungicide to act both as preventive and treating product during planting season.
                </p>

                <p>
                    Once the nanoencapsulation is achieved, the product could be lyophilized and turned into wettable
                    powder (WP). In this presentation it can be applied to the crops through the watering system. After
                    a field research, we realized people involved with the crops knew about new agricultural products
                    through their technical assessor, who learned about them through distributors. Considering this
                    informational chain, our aim is that the final product reaches agrochemical products development
                    company.
                </p>

                <p>
                    Finally, bibliographic and field research were carried out, seeking for the final product to assure
                    the greatest benefit for all parties involved (textile industry or cotton consumers, marketers,
                    cotton crops producers, environment, etc…). Through interviews the producer’s wishes were validated
                    and through detailed consultation of NOMs like NOM-232-SSA1-2009 and NOM-045-SSA1-1993, the proposal
                    of a law-abiding project was sought. Likewise, a through risk analysis was developed, considering
                    any unfavorable situation our project might pose.
                </p>

            </div>
        </div>
    </div>
</div>

<div class="container shadow mainContainer" style="margin-top: 4rem; margin-bottom: 4rem;" id="references">
    <div class="row">
        <div class="col-md-12">
            <h2>References</h2>
            <ol>
                <li id="absRef7">
                    SAGARPA. (2017). <i>Planeación Agrícola Nacional.</i> Retrieved from:
                    https://www.gob.mx/cms/uploads/attachment/file/255627/Planeaci_n_Agr_cola_Nacional_2017-2030-_parte_uno.pdf
                </li>

                <li id="absRef8">
                    Farr, D., & Rossman. (2014). <i>
                        Fungal Databases, Systemic Mycology and Microbiology Laboratory, ARS,
                        USDA.
                    </i>
                    Retrieved from: http://nt.ars-grin.gov/fungaldatabase
                </li>

                <li id="absRef9">
                    Li, X., Zhang, Y., Ding, C., Xu, W., & Wang, X. (2017). <i>
                        Temporal patterns of cotton Fusarium and
                        Verticillium wilt in Jiangsu coastal areas of China. Scientific Reports, 7(1).
                    </i>
                    doi:10.1038/s41598-017-12985-1
                </li>

                <li id="absRef10">
                    Land, C., Lawrence, K., & Newman, M. (2016). <i>
                        First Report of Verticillium dahliae on cotton in
                        Alabama.
                        APS Publications.
                    </i> https://doi.org/10.1094/PDIS-10-15-1143-PDN
                </li>

                <li id="absRef11">
                    SIAP. (2018). <i>Estadísticas de Producción Agrícola.</i> Retrieved from:
                    http://infosiap.siap.gob.mx/gobmx/datosAbiertos.php
                </li>

                <li id="absRef12">
                    Özkara, A., Akyil, D., & Konuk, M. (2016). <i>
                        Pesticides, Environmental Pollution, and Health.
                        Environmental Health Risk - Hazardous Factors to Living Species.
                    </i>doi:10.5772/63094
                </li>

                <li id="absRef13">
                    Mahmood, I., Imadi, S. R., Shazadi, K., Gul, A., & Hakeem, K. R. (2016). <i>
                        Effects of Pesticides
                        on
                        Environment. Plant, Soil and Microbes, 253–269.
                    </i>doi:10.1007/978-3-319-27455-3_13
                </li>

                <li id="absRef14">
                    FAO. (2004). <i>Manejo de malezas para países en desarrollo.</i> Retrieved from:
                    http://www.fao.org/3/y5031s/y5031s00.htm#Contents
                </li>

                <li id="absRef15">
                    Miroux, B., & Walker, J. E. (1996). <i>
                        Over-production of Proteins inEscherichia coli: Mutant Hosts
                        that
                        Allow Synthesis of some Membrane Proteins and Globular Proteins at High Levels. Journal of
                        Molecular
                        Biology, 260(3), 289– 98.
                    </i>doi:10.1006/jmbi.1996.0399
                </li>

                <li id="absRef16">
                    Berlanger, I., & Powelson, M. (2005). <i>Verticillium wilt. The Plant Health Instructor. </i>doi:
                    10.1094/PHI-I-2000-0801-01
                </li>

                <li id="absRef17">
                    Fradin, E., & Thomma, B. (2006). <i>
                        Physiology and molecular aspects of Verticillium wilt diseases
                        caused
                        by V. dahliae and V.albo-atrum. Molecular Plant Phatology, 7(2), 71-86.
                    </i> doi:
                    10.1111/j.1364-3703.2006.00323.x
                </li>

                <li id="absRef18">
                    Goud, J.-K. C., Termorshuizen, A. J., & Gams, W. (2003). <i>
                        Morphology of Verticillium dahliae and
                        V.
                        tricorpus on semi-selective media used for the detection of V. dahliae in soil. Mycological
                        Research,
                        107(7), 822–830.
                    </i>doi:10.1017/s09537562030080
                </li>

                <li id="absRef19">
                    Missouri Botanical Garden. (2003). <i>Verticillium Wilt.</i> Retrieved from:
                    http://www.missouribotanicalgarden.org/gardens-gardening/your-garden/help-for-the-home-gardener/advice-tips-resources/pests-and-problems/diseases/cankers/verticillium-wilt.aspx
                </li>

                <li id="absRef20">
                    Lee, J.-E., Hofhaus, G., & Lisowsky, T. (2000). <i>
                        Erv1pfromSaccharomyces cerevisiaeis a FAD-linked
                        sulfhydryl oxidase. FEBS Letters, 477(1-2), 62–66.
                    </i>doi:10.1016/s0014-5793(00)01767-1
                </li>

                <li id="absRef21">
                    Miroux, B., & Walker, J. E. (1996). <i>
                        Over-production of Proteins inEscherichia coli: Mutant Hosts
                        that
                        Allow Synthesis of some Membrane Proteins and Globular Proteins at High Levels. Journal of
                        Molecular
                        Biology, 260(3), 289– 98.
                    </i>doi:10.1006/jmbi.1996.0399
                </li>

                <li id="absRef22">
                    Gaberc-Porekar, V., & Menart, V. (2001). <i>
                        Perspectives of immobilized-metal affinity
                        chromatography.
                        Journal of biochemical and biophysical methods, 49(1-3), 335-360.
                    </i>
                </li>

                <li id="absRef23">
                    Xu, L., Cao, L.-D., Li, F.-M., Wang, X.-J., & Huang, Q.-L. (2014). <i>
                        Utilization of
                        Chitosan-Lactide
                        Copolymer Nanoparticles as Controlled Release Pesticide Carrier for Pyraclostrobin
                        AgainstColletotrichum
                        gossypiiSouthw. Journal of Dispersion Science and Technology, 35(4), 544–550.
                    </i>
                    doi:10.1080/01932691.2013.800455
                </li>

                <li id="absRef24">
                    Nawrot, R., Barylski, J., Nowicki, G., Broniarczyk, J., Buchwald, W., & Goździcka-Józefiak, A.
                    (2013).
                    <i>Plant antimicrobial peptides. Folia Microbiologica, 59(3), 181–196.</i>
                    doi:10.1007/s12223-013-0280-4
                </li>

                <li id="absRef25">
                    Slavokhotova, A. A., Naumann, T. A., Price, N. P., Rogozhin, E. A., Andreev, Y. A., Vassilevski,
                    A.
                    A.,
                    & Odintsova, T. I. (2014). <i>
                        Novel mode of action of plant defense peptides–hevein‐like
                        antimicrobial
                        peptides from wheat inhibit fungal metalloproteases. The FEBS journal, 281(20), 4754-4764.
                    </i>doi:
                    10.1111/febs.13015
                </li>

                <li id="absRef26">
                    Naumann, T. A., & Wicklow, D. T. (2013). <i>
                        Chitinase modifying proteins from phylogenetically
                        distinct
                        lineages of Brassica pathogens. Physiological and molecular plant pathology, 82, 1-9.
                    </i> doi:
                    https://doi.org/10.1016/j.pmpp.2012.12.001
                </li>

                <li id="absRef27">
                    Park, S.-C., Kim, I. R., Kim, J.-Y., Lee, Y., Kim, E.-J., Jung, J. H., … Lee, J. R. (2018).
                    <i>
                        Molecular
                        mechanism of Arabidopsis thaliana profilins as antifungal proteins. Biochimica et Biophysica
                        Acta
                        (BBA)
                        - General Subjects, 1862(12), 2545–2554.
                    </i>doi:10.1016/j.bbagen.2018.07.028
                </li>

                <li id="absRef28">
                    Khairutdinov, B. I., Ermakova, E. A., Yusypovych, Y. M., Bessolicina, E. K., Tarasova, N. B.,
                    Toporkova,
                    Y. Y., … Nesmelova, I. V. (2017). <i>
                        NMR structure, conformational dynamics, and biological
                        activity of
                        Ps
                        Def1 defensin from Pinus sylvestris. Biochimica et Biophysica Acta (BBA) - Proteins and
                        Proteomics,
                        1865(8), 1085–1094.
                    </i>doi:10.1016/j.bbapap.2017.05.012
                </li>

                <li id="absRef29">
                    Kovalyova, V. A., Gout, I. T., Kiyamova, R. G., Filonenko, V. V., & Gout, R. T. (2007). <i>
                        Cloning
                        and
                        analysis of defensin 1 cDNA from Scots pine. Biopolymers and Cell, 23(5), 398-404.
                    </i> doi:
                    http://dx.doi.org/10.7124/bc.000779
                </li>
            </ol>
        </div>
    </div>
</div>