<link rel="stylesheet" href="css/design.css">

<header style="margin-bottom: 0;">
    <div class="headerContainer">
        <div class="imgContent"></div>
        <div id="bannersection">
            <div class="bannercontent">
                <h1 class="mainHeader">Design</h1>
            </div>
        </div>
    </div>
</header>

<div class="container" style="margin-top: 8rem;">
    <div class="row text-center">
        <div class="col-md-12">
            <h1>Overview</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero a repellat voluptas doloribus ipsam
                quia quis optio maxime, explicabo voluptatem soluta unde! Deleniti excepturi placeat voluptate adipisci
                nihil. Debitis, eum. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima, tenetur, aut
                optio quam dolorem fugit libero quod labore similique officia eligendi ut ratione quis porro?
                Consequatur quis odit accusantium iusto?
            </p>
        </div>
    </div>
</div>