<link rel="stylesheet" href="css/entrepreneur.css">

<header>
    <div class="headerContainer">
        <video autoplay muted loop id="myVideo">
            <source src="img/descriptionHeader.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
            </source></video>
        <div id="bannersection">
            <div class="bannercontent">
                <h1 class="mainHeader">Entrepreneurship</h1>
            </div>
        </div>
    </div>
</header>


<div class="container mainContainer">
    <div class="row" style="margin-top: -24rem; margin-bottom: 5rem;">
        <div class="col-md-1"></div>
        <div class="col-md-10 text-center">
            <h1 id="InspirationText">Overview</h1>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam corporis inventore fugiat doloremque,
                nulla soluta est temporibus consequatur similique laborum autem! Id nesciunt perferendis architecto quas
                nam, suscipit beatae itaque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, ab
                expedita? Provident culpa iusto repudiandae tempora, nemo quos, nostrum inventore sapiente ut porro
                praesentium doloribus hic nesciunt, obcaecati expedita consectetur! Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Libero officiis quo reprehenderit cupiditate, vitae fuga. Nemo incidunt
                aperiam illo tenetur autem quos totam aliquam asperiores quo quidem ut, nesciunt nostrum.
            </p>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam corporis inventore fugiat doloremque,
                nulla soluta est temporibus consequatur similique laborum autem! Id nesciunt perferendis architecto quas
                nam, suscipit beatae itaque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, ab
                expedita? Provident culpa iusto repudiandae tempora, nemo quos, nostrum inventore sapiente ut porro
                praesentium doloribus hic nesciunt, obcaecati expedita consectetur! Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Libero officiis quo reprehenderit cupiditate, vitae fuga. Nemo incidunt
                aperiam illo tenetur autem quos totam aliquam asperiores quo quidem ut, nesciunt nostrum.
            </p>
        </div>
    </div>
</div>

<div class="container mainContainer" style="margin-top: 5rem;">
    <div class="row text-center" style="margin-bottom: 10rem;">
        <h1>Business Model Canvas</h1>
    </div>
    <div class="row col-container">
        <div class="col-md-12">
            <div class="CanvasMain">
                <div class="container-fluid">
                    <div class="row col-container">
                        <div class="eColumn grow col-md-5th-1 col-sm-4 col-md-offset-0 col-sm-offset-2"
                            id="keyPartners">
                            <h2>KEY PARTNERS</h2>
                            <ul>
                                <li>some stuff</li>
                                <li>some stuff</li>
                                <li>some stuff</li>
                                <li>some stuff</li>
                                <li>some stuff</li>
                            </ul>
                        </div>
                        <div class="col-md-5th-1 col-sm-4">
                            <div class="row col-container">
                                <div class="eColumn grow col-md-12" id="keyActivities">
                                    <h2>KEY ACTIVITIES</h2>
                                    <ul>
                                        <li>some stuff</li>
                                        <li>some stuff</li>
                                        <li>some stuff</li>
                                        <li>some stuff</li>
                                        <li>some stuff</li>
                                        <li>some stuff</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row col-container">
                                <div class="eColumn grow col-md-12" id="keyResources">
                                    <h2>KEY RESOURCES</h2>
                                    <ul>
                                        <li>some stuff</li>
                                        <li>some stuff</li>
                                        <li>some stuff</li>
                                        <li>some stuff</li>
                                        <li>some stuff</li>
                                        <li>some stuff</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="eColumn grow col-md-5th-1 col-sm-4" id="valueProposition">
                            <h2>VALUE PROPOSITION</h2>
                            <ul>
                                <li>some stuff</li>
                                <li>some stuff</li>
                                <li>some stuff</li>
                                <li>some stuff</li>
                                <li>some stuff</li>
                            </ul>
                        </div>
                        <div class="col-md-5th-1 col-sm-4">
                            <div class="row col-container">
                                <div class="eColumn grow col-md-12" id="customerRelationship">
                                    <h2>CUSTOMER RELATIONSHIP</h2>
                                    <ul>
                                        <li>some stuff</li>
                                        <li>some stuff</li>
                                        <li>some stuff</li>
                                        <li>some stuff</li>
                                        <li>some stuff</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row col-container">
                                <div class="eColumn grow col-md-12" id="channels">
                                    <h2>CHANNELS</h2>
                                    <ul>
                                        <li>some stuff</li>
                                        <li>some stuff</li>
                                        <li>some stuff</li>
                                        <li>some stuff</li>
                                        <li>some stuff</li>
                                        <li>some stuff</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="eColumn grow col-md-5th-1 col-sm-4" id="customerSegments">
                            <h2>CUSTOMER SEGMENTS</h2>
                            <ul>
                                <li>some stuff</li>
                                <li>some stuff</li>
                                <li>some stuff</li>
                                <li>some stuff</li>
                                <li>some stuff</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="eColumn grow col-md-6" id="costStructure">
                            <h2>COST STRUCTURE</h2>
                            <ul>
                                <li>some stuff</li>
                                <li>some stuff</li>
                                <li>some stuff</li>
                                <li>some stuff</li>
                                <li>some stuff</li>
                            </ul>
                        </div>
                        <div class="eColumn grow col-md-6" id="revenueStreams">
                            <h2>REVENUE STREAMS</h2>
                            <ul>
                                <li>some stuff</li>
                                <li>some stuff</li>
                                <li>some stuff</li>
                                <li>some stuff</li>
                                <li>some stuff</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="modal-container">
    <div class="modal-background">
        <div class="modal">
            <h2>I'm a Modal</h2>
            <p>Hear me roar.</p>
            <svg class="modal-svg" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"
                preserveAspectRatio="none">
                <rect x="0" y="0" fill="none" width="226" height="162" rx="3" ry="3"></rect>
            </svg>
        </div>
    </div>
</div>
<div class="content">
    <h1>Modal Animations</h1>
    <div class="buttons">
        <div id="one modalButton" class="button">Unfolding</div>
    </div>
</div>