<link rel="stylesheet" href="css/entrepreneur.css">

<header>
    <div class="headerContainer">
        <video autoplay muted loop id="myVideo">
            <source src="img/descriptionHeader.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
            </source></video>
        <div id="bannersection">
            <div class="bannercontent">
                <h1 class="mainHeader">Entrepreneurship</h1>
            </div>
        </div>
    </div>
</header>


<div class="container mainContainer">
    <div class="row" style="margin-top: -24rem; margin-bottom: 5rem;">
        <div class="col-md-1"></div>
        <div class="col-md-10 text-center">
            <h1 id="InspirationText">Overview</h1>
            <p>
                By the 1990s, cotton production in our country was at
                point of disappearing due to a high incidence of crop pests, said problem
                caused the government to approve the introduction of biotechnology for its cultivation and since 1996
                genetically modified cotton has been farmed. The variety of cotton grown today is FiberMax. This variety
                has the ability to resist insects, so it is used
                to control "acorn worm" and the "pink worm"; it also exerts some control over other worms like the
                "soldier"
                and the "false meter"; likewise, it is resistant to glyphosate herbicides and
                glufosinate, being useful for managing weeds without affecting cotton cultivation.<sup><a
                        href="#refEntreOne">1</a></sup>
                However, resistant varieties that are currently used are susceptible
                to other diseases such as Verticillium wilt. This is the most important disease in the main cotton
                producing
                regions because it affects 20% of its production and decreases product quality.
            </p>

            <p>
                The most serious symptom for this disease is the irreversible wilt of
                the whole plant after several weeks of vegetative growth, followed by death
                of the plant. Sometimes wilting only affects some stems or leaves, causing visible symptoms such as
                sectoral
                chlorosis and tissue necrosis.<sup><a href="#refEntreTwo">2</a></sup> The spread of <i>Verticillium
                    dahliae</i>,
                fungus responsible for the disease, is
                through currents of air, irrigation, tillage instruments or insects. Some methods proposed to control
                the
                pathogen include a deep plow of the earth, rotation of crops using non-susceptible species and balanced
                fertilization avoiding excess nitrogen or lack of potassium.<sup><a href="#refEntreThree">3</a></sup>
                Currently there is no chemical control that is
                effective against <i>Verticillium Dahliae</i>.
            </p>

            <p>
                As a result we firmly believe that it is an important issue and that it must be attended because despite
                having high yields in production, the state of Chihuahua still imports 50% of national demand, a
                percentage
                that can be lowered if we manage to combat <i>Verticillium Dahliae</i>. This is where V-TION, a
                preventive and
                treatment fungicide comes into play.
            </p>
        </div>
    </div>
</div>

<!-- -webkit-box-shadow: 0px 2px 46px -25px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 46px -25px rgba(0,0,0,0.75);
box-shadow: 0px 2px 46px -25px rgba(0,0,0,0.75); -->
<div class="skewed-bg">
    <div class="container content" style="border-radius: 1.5rem;">
        <div class="row text-center">
            <div class="col-md-12">
                <h1 style="font-size: 60px; color: white;">Design Thinking</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="designTSection" class="text-center">
                    <h2>Understand</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="wobble-hor-bottom">
                    <h3 style="width: auto; color: white;">Click or Hover over!</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="dThinking animation-element slide-left">
                    <span>i</span>
                    <h1>Empathize</h1>
                    <br>
                    <br>
                    <br>
                    <p>
                        In order to know more about the current situation of cotton farms, we had to contact people
                        who
                        worked on the industry. We visited local government associations as well as agricultural
                        engineers
                        in several places around our region. We found that they struggled with Verticillium Wilt in
                        every
                        farm that we visited. When we told the producers and engineers about our project and our
                        potential
                        solution they were immediately interested to know more about how we were going to deal with
                        this
                        illness. Some of them even offered us part of their crops for testing our product once we
                        had
                        the
                        final result. This experience was exhilarating; not only did we learn about the illness's
                        effects,
                        but we also felt committed to keep in touch with them in hopes of solving this problem.
                    </p>
                </div>
                <div class="dThinking animation-element slide-left">
                    <span>i</span>
                    <h1>Define</h1>
                    <br>
                    <br>
                    <br>
                    <p>
                        By exploring the cotton industry and its whole process, we were able to define our target
                        market.
                        Based on what the producers told us about Verticillium Wilt and its effect on their farmland
                        we
                        were
                        committed to adapt our solution to their needs. This meant that the application method and
                        overall
                        use of the product had to be adapted accordingly. We found out about how we can distribute
                        our
                        product, and even made connections for potential customers.
                    </p>
                </div>
                <div id="designTSection" class="text-center">
                    <h2>Explore</h2>
                </div>
                <div class="dThinking animation-element slide-left">
                    <span>i</span>
                    <h1>Ideate</h1>
                    <br>
                    <br>
                    <br>
                    <p>
                        By now we had a solid idea of what we wanted to accomplish. Our goal was to create a product
                        that
                        was specialized for Verticillium Wilt in cotton crops. Now we had to visualize how the final
                        product
                        would be fabricated. For this we began researching about nanoencapsulation (link to document
                        on
                        wiki). Our product now began to take shape. The next step was to define the amount of
                        ingredients
                        per package, the application method and the infographic for how to apply the product. For
                        the
                        ingredients we based our implementation on similar products. The application method was
                        defined
                        to
                        be through irrigation. This decision was based upon the interviews we had with the
                        engineers.
                        Finally the infographic was developed and the overall product was almost done. Now all we
                        needed
                        was
                        the design.
                    </p>
                </div>
                <div class="dThinking animation-element slide-left">
                    <span>i</span>
                    <h1>Prototype</h1>
                    <br>
                    <br>
                    <br>
                    <p>
                        For our initial prototype we decided to look into the legal aspect of our product packaging.
                        After
                        researching and consulting we found that our product package had to comply with certain
                        legal
                        regulations. In order to ensure that everything was in order, we implemented this as part of
                        our
                        legal plan. We aimed at designing the most realistic prototype possible so that there was no
                        room
                        for doubt. This included complying with safety regulations, ingredients of the product
                        itself,
                        instructions for appropriate use among many others. Scroll down to the product section of
                        this
                        page
                        to see our final result.
                    </p>
                </div>
                <div id="designTSection" class="text-center">
                    <h2>Materialize</h2>
                </div>
                <div class="dThinking animation-element slide-left">
                    <span>i</span>
                    <h1>Test</h1>
                    <br>
                    <br>
                    <br>
                    <p>
                        We are able to test our product in selected farms that the producers we interviewed offered
                        to
                        lend
                        us. That way we can test our product in the real world and see how it would react in
                        different
                        environments such as weather, temperature and soil. It is a great opportunity that we
                        weren’t
                        even
                        counting on until the agricultural engineers suggested it. The other benefit this kind of
                        testing is
                        that our potential customers can see the results for themselves.
                    </p>
                </div>
                <div class="dThinking animation-element slide-left" style="margin-bottom: 1rem;">
                    <span>i</span>
                    <h1>Implement</h1>
                    <br>
                    <br>
                    <br>
                    <p>
                        Once our project is more developed and our product has proven functionality, we plan to
                        implement it
                        in the cotton crops that we visited during our investigation. The producers were invested
                        enough
                        to
                        sign a commitment letter that allows us to work with them in the future.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container mainContainer" style="margin-top: 10rem;">
    <div class="row text-center" style="margin-bottom: 10rem;">
        <h1>Business Model Canvas</h1>
    </div>
    <div class="row col-container">
        <div class="col-sm-12">
            <div class="CanvasMain">
                <div class="container-fluid">
                    <div class="row col-container">
                        <div class="eColumn grow col-md-5th-1 col-sm-4 col-md-offset-0 col-sm-offset-2"
                            id="keyPartners">
                            <h2>KEY PARTNERS</h2>
                            <ul>
                                <li>Sales agent.</li>
                                <li>Freight transport company.</li>
                                <li>Packaging and labeling company.</li>
                                <li>NGOs for crop and environmental care.</li>
                            </ul>
                        </div>
                        <div class="col-md-5th-1 col-sm-4">
                            <div class="row col-container">
                                <div class="eColumn grow col-md-12" id="keyActivities">
                                    <h2>KEY ACTIVITIES</h2>
                                    <ul>
                                        <li>Product promotion.</li>
                                        <li>Complying with all the norms and certifications.</li>
                                        <li>Trade mark.</li>
                                        <li>Establishing contracts with distributors.</li>
                                        <li>Generating free trials.</li>
                                        <li>Quality certifications.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row col-container">
                                <div class="eColumn grow col-md-12" id="keyResources">
                                    <h2>KEY RESOURCES</h2>
                                    <ul>
                                        <li>
                                            Human resources.
                                            <ul>
                                                <li>Experts in agricultural products</li>
                                                <li>Marketing experts</li>
                                                <li>Experts in bioprocesses</li>
                                                <li>Contacts with those in charge of trading in distributors of
                                                    agricultural inputs</li>
                                                <li>Administrative staff</li>
                                            </ul>
                                        </li>
                                        <li>
                                            Infrastructure Resources
                                            <ul>
                                                <li>Bioreactor</li>
                                                <li>Equipped laboratory</li>
                                                <li>Production facility</li>
                                                <li>Warehouse</li>
                                                <li>Quality control laboratory</li>
                                                <li>Development laboratory</li>
                                            </ul>
                                        </li>
                                        <li>
                                            Financial resources
                                            <ul>
                                                <li>Money in cash.</li>
                                                <li>Investors or capitalist partners.</li>
                                                <li>Bank or private credits.</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="eColumn grow col-md-5th-1 col-sm-4" id="valueProposition">
                            <h2>VALUE PROPOSITION</h2>
                            <ul>
                                <li>Helps diminish losses due to Verticillium wilt, as well as the production of low
                                    quality cotton.</li>
                                <li>Helps engineers give better advice and avoid producers’ frustrations.</li>
                                <li>Improves health of affected crops, rising their production.</li>
                                <li>Decreases the use of agrochemicals.</li>
                            </ul>
                        </div>
                        <div class="col-md-5th-1 col-sm-4">
                            <div class="row col-container">
                                <div class="eColumn grow col-md-12" id="customerRelationship">
                                    <h2>CUSTOMER RELATIONSHIP</h2>
                                    <ul>
                                        <li>Assemblies</li>
                                        <li>Presentations</li>
                                        <li>Meetings with engineers and producers</li>
                                        <li>Visits to producing sites</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row col-container">
                                <div class="eColumn grow col-md-12" id="channels">
                                    <h2>CHANNELS</h2>
                                    <ul>
                                        <li>
                                            Direct
                                            <ul>
                                                <li>
                                                    Physical: Our channels will be through specialized distributors in
                                                    the
                                                    sale and
                                                    distribution of products for the agricultural industry.
                                                </li>
                                            </ul>
                                        </li>
                                </div>
                            </div>
                        </div>
                        <div class="eColumn grow col-md-5th-1 col-sm-4" id="customerSegments">
                            <h2>CUSTOMER SEGMENTS</h2>
                            <ul>
                                <li>Agronomic engineers</li>
                                <li>Crop advising technicians</li>
                                <li>Big cotton producers</li>
                                <li>Agricultural products distributors</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="eColumn grow col-md-6" id="costStructure">
                            <h2>COST STRUCTURE</h2>
                            <ul>
                                <li>Infrastructure.</li>
                                <li>Manufacture.</li>
                                <li>Nanoencapsulation</li>
                                <li>Marketing.</li>
                                <li>Administrative staff.</li>
                            </ul>
                        </div>
                        <div class="eColumn grow col-md-6" id="revenueStreams">
                            <h2>REVENUE STREAMS</h2>
                            <ul>
                                <li>
                                    Sale of Assets.
                                </li>.
                                <li>
                                    Direct charge for the purchase of V-TION
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Key Partners</h2>
            <p>
                In order for V-TION to become a prospering company we have to work together with different entities to
                create a sustainable business. This includes sales agents, who are in charge of establishing valid
                contracts with providers and/or consumers. We also count with a transport company for our product
                deliveries to the distributors. Another entity that we are allied with is a packaging and labeling
                company; that way we don’t have to worry about this process ourselves and we can focus on improving our
                current products or creating new ones. We must also keep in touch with non-governmental organizations to
                monitor the activity on crops and be aware of any product trends or new problems that we can potentially
                solve.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Key Activities</h2>
            <p>
                For promoting our product, our team intends to spread the information about it through the media, such
                as the internet and radio. In addition to this, assemblies and presentations in the main regions of
                interest will be carried out. Free trials will also be included in order to build trust in our
                customers. With the legal plan previously designed, it is intended to comply with all the norms and
                certifications, as well as the trademark registration. Another important point is establishing contracts
                with distributors to ensure that our sales are made in accordance with the law and for convenience and
                safety of our relationship with the customer.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Key Resources</h2>
            <p>
                In this section we cover each of the resources necessary to generate a sustainable company. Within the
                human resources we consider all those people who are of utmost importance in our project. This covers
                both the area of product generation, which includes experts in crop products and experts in
                bioprocesses, as well as all the people necessary to bring our product to the client such as marketing
                experts, sales managers, and administrative staff. Within the infrastructure resources we consider the
                physical resources needed to develop the product as well as to maintain it. Like any company, we need
                financial resources which are cash, investors or capitalist partners, and bank or private loans.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Value Proposition</h2>
            <p>
                Our Biopesticide helps cotton producers diminish economic losses due to Verticillium wilt, as well as
                the
                production of low quality cotton.
            </p>

            <p>
                Our Biopesticide helps agronomic engineers who want to provide their producers with good technical
                advise to
                avoid their frustrations and generate a quality product that results in a proper economical income.
            </p>

            <p>
                Our Biopesticide helps agricultural associations that want to rise national production to decrease the
                use
                of agrochemicals and therefore obtain a crop production chemical-free and of better quality.
            </p>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Customer Relationships</h2>
            <p>
                It is of utmost importance to maintain a good relationship with the customers. Our relationships are
                based on assemblies, presentations, meeting with engineers and producers, and visits to producing sites.
                Each of these approaches intends to deliver our product’s information to the customers more directly,
                and also to build trust in them by presenting ourselves more formally, which assures them that we care
                about them and are interested in keeping contact.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Customer Segments</h2>
            <h3>
                Agronomic engineers and Crop advising technicians</h3>
            <p>
                Agronomic engineer dedicated to giving technical advice to cotton producers in the region of “Nuevo
                Holanda, Ojinaga”. Responsible for developing agricultural knowledge by providing technical assistance
                to the cotton producer, from planting to harvest, selection of varieties, machine calibration,
                fertilizer classification, irrigation scheduling, pest control, crop inspection, problems and
                deficiencies detection, identification of diseases in all stages, and an estimation of the production
                yield.
            </p>
            <h3>
                Cotton Producers
            </h3>
            <p>
                They cultivate the land to obtain agricultural benefits and generate, extract, and export its resources.
                Owners of large hectares of land in the region of “Nueva Holanda” have several crops, among which the
                cotton is the principal one due to economic remuneration. Their organization of mostly family-wise
                however, they require technical advice which is provided by an agronomic engineer. They are the ones in
                charge of hiring people for the care and planting of the crops and harvesting the product.
            </p>

            <h3>Agricultural Product Distributors</h3>
            <p>
                Companies or organizations dedicated to the purchase and sale of all necessary inputs for the fields,
                from seeds to fertilizers and pesticides. They have their own sales agent, sales and purchases
                personnel, warehouse managers, a chief or director, as well as agronomic engineers and technical
                advisors specialized in each crop of the region the distributor works in. They also count with
                specialists in the management of each product they offer in their catalog.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Channels</h2>
            <p>
                There exist two contact options with distributors: they can contact us through our website, phone calls
                or any contacts in common, or we can contact them through assemblies, networking presentations, among
                other events in the business. In one way or another, a direct link is obtained with the distributor and
                a contract is made to obtain distribution benefits.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Revenue Stream</h2>
            <p>
                Strategy: Sales will be made through direct contact of our company with the client. We will try to
                establish an annual sales contract with financing and credit lines with a payment term of 60 to 90 days.
                The freight price will not be included in the product’s price, an additional charge would be made for
                the product’s transport from our warehouse to the distributor's warehouse. Once the distributor sells
                the product, 5% of the proceeds will go to the distributor and the rest to V-TION.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Cost Structure</h2>
            <p>
                Our team will have initial costs, including the rent of an equipped laboratory and warehouse, the cost
                for the product’s nanoencapsulation, packaging and labeling costs; and we also considered the cost for
                freight of our product. For this, we established tentative manufacturing costs, such as
                nanoencapsulation, formulation, packaging, and labeling. Our company also contemplates marketing costs,
                such as advertisements on social networks and other media, in addition to the necessary investment in
                human capital.
            </p>
        </div>
    </div>
</div>


<div class="container activitiesContainer" style="margin-bottom: 4rem;">
    <div class="row text-center" style="margin-top: 4rem;">
        <h1>Activities</h1>
    </div>
    <div style="position: relative">
        <div class="row">
            <div class="section-line-cyan"></div>
            <div class="col-md-6">
                <h2>Bio Meeting</h2>
                <h3>Monday May 27, 2019</h3>
            </div>
        </div>
        <div class="row" style="margin-top: 4rem; margin-bottom: 8rem;">
            <div class="col-md-6 text-center">
                <p>
                    We assist to the event of the entrepreneurship area of life sciences in which we have the
                    opportunity to
                    see
                    in which way the projects of the incubator get evaluate by experts , to see the progress and take
                    reference
                    to develop the entrepreneurship part of our project. Important information was mentioned for making
                    a
                    successful project as are the entry barriers, the market validation stage and the steps that must be
                    taken
                    to follow a good path within the enterprise.
                </p>
            </div>
            <div class="col-md-6">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="box"> <img src="/img/entrepreneurship/bio meeting.jpg" alt="tile3">
                                <div class="overbox">
                                    <div class="tagline overtext"> Some stuff </div>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="box"> <img src="/img/entrepreneurship/biomeetingteam.jpeg" alt="tile3">
                                <div class="overbox">
                                    <div class="tagline overtext"> Some stuff </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div style="position: relative">
        <div class="row">
            <div class="section-line-green"></div>
            <div class="col-md-6">
                <h2>Innovation Week Pt.1</h2>
                <h3>Tuesday May 28, 2019</h3>
                <h4>8 AM - 2 PM</h4>
            </div>
        </div>
        <div class="row" style="margin-top: 4rem;">
            <div class="col-md-6">
                <p>
                    We assist to Innovation week event on May 28th , an event oriented to promote and strengthen
                    entrepreneurship through the identification of creative projects, based on technology and with
                    social impact. In which we acquire important advices and acknowledges from the different discussion
                    panels we heard of entrepreneurship. In the first discussion panel the most relevant advices for us
                    were:
                </p>
                <ol>
                    <li>
                        Go to programs like Chihuahua Innova and be alert of different programs that can help us make
                        interpersonal connexions.
                    </li>
                    <li>
                        How to assemble a good team work because we learn that is something fundamental and difficult so
                        the project work.
                    </li>
                    <li>
                        Take advantage of the resources that our school offers.
                    </li>
                    <li>
                        Be organized in all aspects.
                    </li>
                </ol>
                <p>
                    The second panel was about success stories of a technological base in which the entrepreneurs talk
                    about the customer segmentation, the different types of needs for each client, but also they explain
                    that exists different profiles and markets.
                </p>
                <ol>
                    <li>
                        Convince with arguments and information the validation of the problem.
                    </li>
                    <li>
                        Consider the entry barriers of the project we want to develop.
                    </li>
                    <li>
                        To have well studied the market validation of our project.
                    </li>
                    <li>
                        Be organized in business model and value proposition.
                    </li>
                </ol>
            </div>
            <div class="col-md-6 text-center">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="box"> <img src="/img/entrepreneurship/innovationWeekTeam.jpeg" alt="tile3">
                                <div class="overbox">
                                    <div class="tagline overtext"> Some stuff </div>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="box"> <img src="/img/entrepreneurship/innovationBanner.jpeg" alt="tile3">
                                <div class="overbox">
                                    <div class="tagline overtext"> Some stuff </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 5rem;">
            <div class="col-md-6">
                <h2>Innovation Week Pt.2</h2>
                <h3>Wednesday May 29, 2019</h3>
                <h4>3 PM - 6 PM</h4>
            </div>
        </div>
        <div class="row" style="margin-top: 4rem; margin-bottom: 8rem;">
            <div class="col-md-6 text-center">
                <p>
                    Within the framework of the innovation week we attended the pitch to sharks where different
                    entrepreneurs from the state of Chihuahua presented their projects to five investors. The investors
                    of that module are currently directors of important companies in the country. The main knowledge we
                    acquired was negotiation strategies and at the same time the requirements to win an investment. We
                    understood that it is important to have a scalable project, have a well-validated business model
                    know clearly and precisely the market you wish to enter and have in mind strategies to avoid
                    competition to your market.
                </p>
            </div>
            <div class="col-md-6">
                <div class="box"> <img src="/img/entrepreneurship/presentationSharksBanner.jpeg" alt="tile3">
                    <div class="overbox">
                        <div class="tagline overtext"> Some stuff </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="position: relative">
        <div class="row">
            <div class="section-line-cyan"></div>
            <div class="col-md-6">
                <h2>Social Entrepreneurship Seminar</h2>
                <h3>Friday May 31, 2019</h3>
                <h4>9 AM - 4 PM</h4>
            </div>
        </div>
        <div class="row" style="margin-top: 4rem; margin-bottom: 8rem;">
            <div class="col-md-6 text-center">
                <p>
                    On May 31 we assist to the Social Entrepreneurship Seminar in which we have the opportunity to meet
                    an expert of the area name Christian Salazar, who was our mentor during the day. He guide us through
                    the process of: involved persons in our project, important variables, description of the product,
                    value proposition, interviews and findings of the interviews, market segmentation and operational
                    feasibility. Something that was very important for us on this seminar was to learn the difference of
                    social entrepreneurship and conventional entrepreneurship, he make us think different and open our
                    minds to a new kind of opportunities of market. We have the pleasure of being working around social
                    organizations that share with us their project and ideas so among all think about social strategies
                    that can have a positive achievement. During the day we elaborate deliverables for the different
                    validations of the project and at the same time we receive feedback of each part we develop. He
                    explain with examples of different social projects how social entrepreneurship can be apply in
                    business and how we can take advantage of each characteristics of the customer segmentations we
                    define.
                </p>
            </div>
            <div class="col-md-6">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="box"> <img src="/img/entrepreneurship/seminar.jpeg" alt="tile3">
                                <div class="overbox">
                                    <div class="tagline overtext"> Some stuff </div>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="box"> <img src="/img/entrepreneurship/seminarbanner.jpg" alt="tile3">
                                <div class="overbox">
                                    <div class="tagline overtext"> Some stuff </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="gradient-divider"></div>



<div class="container">
    <div class="row text-center" style="margin-top: 5rem;">
        <h1>SWOT Analysis</h1>
    </div>
</div>



<div class="container">
    <div class="naccs">
        <div class="grid">
            <div class="gc gc--1-of-3">
                <div class="menu">
                    <div class="active grow"><span class="light"></span><span>Strengths</span></div>
                    <div class="grow"><span class="light"></span><span>Weaknesses</span></div>
                    <div class="grow"><span class="light"></span><span>Opportunities</span></div>
                    <div class="grow"><span class="light"></span><span>Threats</span></div>
                </div>
            </div>
            <div class="gc gc--2-of-3">
                <ul class="nacc">
                    <li class="active">
                        <div>
                            <p>
                                - Product new to the market.<br>
                                - Practical application. <br>
                                - Organizational structure based on teams focused on specific departments.<br>
                                - Direct communication with the user for feedback. <br>
                                - Currently there is no product that directly attacks Verticillium.<br>
                                - Organic product.<br>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <p>
                                - Costly production. <br>
                                - Lack of laboratory equipment for mass producing. <br>
                                - Currently there is no investment. <br>
                                - The production process is slow. <br>
                                - Distribution difficulties nationally and internationally.<br>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <p>
                                - Indirect competitors <br>
                                - The imminent necessity for a method to control verticillium. <br>
                                - Verticillium has been found in serveral places around the world like China and
                                that brings a potential new market for our product.<br>
                                - Future modifications for efficiency. <br>
                                - Incrementing presence of verticillium.<br>
                                - Global Markets<br>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <p>
                                - Lower prices in other products. <br>
                                - Competitions from emergent products. <br>
                                - Product Requirements not fulfilled. <br>
                                - Reluctance of consumers to consider the use of biotechnological products. <br>
                                - Government regulations.  <br>
                                - Exportation political factors. <br>
                                - Change of regulations on countries. <br>
                                - Globalization; as other countries are presented with this problem international
                                products might enter the national market.<br>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="gradient-divider"></div>

<div class="container shadow mainContainer" style="margin-top: 4rem; margin-bottom: 4rem;" id="references">
    <div class="row">
        <div class="col-md-12">
            <h2>References</h2>
            <ol>
                <li id="refEntreOne"></li>
                <li id="refEntreTwo"></li>
                <li id="refEntreThree"></li>
            </ol>
        </div>
    </div>
</div>