<header style="margin-bottom: 0;">
    <div class="headerContainer">
        <video autoplay muted loop id="myVideo">
            <source src="img/citfondo.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
            </source></video>
        <div id="bannersection">
            <div class="bannercontent">
                <h1 class="mainHeader">V-TION</h1>
            </div>
        </div>
    </div>

</header>

<link rel="stylesheet" href="/css/index.css">

<div class="container-fluid">
    <div class="content">
        <a href="teamMembers.html">
            <div class="content-overlay"></div>
            <img class="content-image" src="/img/team.jpg">
            <div class="content-details fadeIn-bottom">
                <h3 class="content-title">MEET THE TEAM</h3>
            </div>
        </a>
    </div>
    <div class="content">
        <a href="description.html">
            <div class="content-overlay"></div>
            <img class="content-image" src="/img/plant.jpg">
            <div class="content-details fadeIn-bottom">
                <h3 class="content-title">What is v-tion?</h3>
            </div>
        </a>
    </div>
</div>