<header style="margin-bottom: 0;">
    <div class="headerContainer">
        <video autoplay muted loop id="myVideo">
            <source src="img/citfondo.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
            </source></video>
        <div id="bannersection">
            <div class="bannercontent">
                <h1 class="mainHeader">V-TION</h1>
            </div>
        </div>
    </div>

</header>

<link rel="stylesheet" href="/css/index.css">

<div class="container-fluid">
    <img class="content-image" src="/img/abstract.JPG" style="height: 100vh">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5" style="position: relative">
            <div class="abstract-Container text-center">
                <h2>Abstract</h2>
                <p>
                    Verticillium dahliae is a phytopathogenic fungus that affects more than 300 species around the
                    world, including cotton. It attacks the plant’s vascular system, causing wilting and reducing the
                    product’s quality and overall crop production 2 . Infections by this fungus have caused tremendous
                    losses in the agricultural sector. Around 150,000 tons of cotton, translating into over $8,700,000 1
                    USD, have been lost every year during recent decades from diseases caused by this particular
                    organism 3 . 
                </p>
                <p>
                    To prevent and inhibit V. dahliae’s infection, the transformation of E. coli to produce the
                    following
                    three antifungal peptides recombinantly, is presented: AtPFN1 has been shown to break down
                    fungal cell walls, even when found as spores 4 ; WAMP1b inhibits fungalysin, which is a fungal
                    enzyme produced as a response to the plant’s own defense mechanisms 5 ; finally, PsDef1 produces
                    morphological changes to fungal mycelium 6 .
                </p>
                <p>
                    Additionally, the elaboration of a systemic, preventive and treating biofungicide using the
                    produced recombinant antifungal peptides as an active ingredient, is proposed.
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <img src="/img/Logo blanco.PNG" class="img-responsive" width="80%"
                style="position: absolute; top: -80vh; z-index: 30;" id="logo-blanco">
        </div>
    </div>
</div>



<div class="container-fluid">
    <div class="content">
        <a href="teamMembers.html">
            <div class="content-overlay"></div>
            <img class="content-image" src="/img/team.jpg">
            <div class="content-details fadeIn-bottom">
                <h3 class="content-title">MEET THE TEAM</h3>
            </div>
        </a>
    </div>
    <div class="content">
        <a href="description.html">
            <div class="content-overlay"></div>
            <img class="content-image" src="/img/plant.jpg">
            <div class="content-details fadeIn-bottom">
                <h3 class="content-title">What is v-tion?</h3>
            </div>
        </a>
    </div>
</div>