<link rel="stylesheet" href="/css/integratedHP.css">
<header style="margin-bottom: 0;">
    <div class="headerContainer">
        <div class="imgContent"></div>
        <div id="bannersection">
            <div class="bannercontent">
                <h1 class="mainHeader">Integrated <br> human <br> practices</h1>
            </div>
        </div>
    </div>
</header>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img src="img/human/GINNING.png" alt="" class="img-responsive" style="z-index: -1;">
            <div id="crops">
            </div>
            <div id="harvest">
            </div>
            <div id="ginning"></div>
            <div id="deseed"></div>
            <div id="unwinding"></div>
            <div id="cropscontainer">
                <p>
                    The first link of the VC is the cropping of cotton, and is encompassed all the way to the cotton
                    bud. This
                    is
                    mainly harvested for its fiber and seeds, either for the production of textiles or of by-products
                    used to
                    obtain
                    oil, paper and livestock feed. Although in some areas cotton cropping has been mechanized, the vast
                    majority
                    (especially with small producers) it is still customary to hire personnel for planting. So during
                    this stage
                    it
                    has been reported a generation of almost 4 million direct wage jobs and approximately 9 million
                    indirect
                    wage
                    jobs. These numbers refer solely to Mexico, now, can you imagine around the whole world?
                </p>
                <p>

                    Plant diseases like Verticillium wilt cause a decrease in production, and as a result of this,
                    producers
                    have to
                    make staff reductions, which closes the main source of income for thousands of families.
                </p>

                <p>
                    Finally, in this sector we can identify as main actors both producers and agronomic engineers.
                </p>
            </div>
            <div id="harvestcontainer">
                <p>
                    After the cotton buds, the next stage is the harvest/pinch. This can be carried out either with
                    machinery or by hand. When using machinery, the producer benefits since a smaller number of people
                    per
                    hectare must be hired; around 7 people overall. On the other hand, a manual harvest provides higher
                    quality cotton and up to 25 people are needed per hectare. In most cases, these jobs are the only
                    support for the worker’s family.
                </p>
                <p>
                    Once again, the main actors of this sector are the producers.
                </p>
                <ul>
                    <li>
                        Stakeholders: Producers
                    </li>
                </ul>
            </div>
            <div id="ginningcontainer">
                <p>
                    After the harvest, a ginning machine is responsible for extracting the cotton leaving the capsule
                    empty.
                    The fiber obtained through this process still has seeds (it is known as raw cotton).
                </p>
                <p>
                    Being a fully mechanized process, producers usually deliver their product to a cotton ginner, where
                    this
                    task is carried out.<sup>1</sup>
                </p>
                <p>
                    Therefore, in this sector, cotton ginners are identified as one of the main stakeholders.
                </p>

            </div>
            <div id="deseedcontainer">
                <p>
                    Immediately after ginning, the raw cotton is taken to a shaker to separate the seeds from the fiber
                    to
                    finally obtain raw cotton. However, the amount obtained is only between 35 to 40%.<sup>1</sup>
                </p>

                <p>
                    Small ginners, such as the ginner Del Desierto in Delicias, Chihuahua, employ around 15 people. It
                    is
                    known that the amount of employers, and consequently depending families, is proportional to the
                    ginner’s
                    size.
                </p>

                <p><strong>Textiles manufacturers</strong></p>
                <p>
                    Cotton fiber can be sent to the United States Department of Agriculture or an expert visits the
                    region,
                    to evaluate the fiber’s quality. Its price depends on the stocks value and the evaluation of certain
                    characteristics, like elasticity and thickness. However, phytopathogenic fungi such as Verticillium
                    dahliae are able to reduce its quality and therefore its price.
                </p>

                <p>
                    At a national level, the textile and clothing industry generates more than half a million jobs, and
                    a
                    significant amount of exports; $ 4,695 million pesos. However, in the last couple of years the
                    number of
                    imports exceeded that of exports.<sup>2,3</sup>
                </p>

                <p>
                    So, in addition to the jobs cotton generates, it can greatly impact a country’s economy.
                    Thus, textile industries are recognized as one of our stakeholders.
                </p>

            </div>
            <div id="unwindingcontainer">
                <p>
                    At the end of the ginning, the remaining 60 or 65% of the product consists of seeds, short fibers -
                    called borras - and garbage. Usually, the seed is processed to obtain cattle feed, the short fibers
                    are
                    treated to produce high quality bond paper, used as a source of cellulose for the chemical industry,
                    and
                    the resulting garbage is sometimes reused as a fertilizer for the same cotton fields. Even if this
                    tries
                    to ensure an effective use of the whole product, it can generate a vicious circle in which the
                    spores of
                    the phytopathogenic fungus V. dahliae return to the ground.
                </p>
            </div>
        </div>

    </div>
</div>


<div class="container" style="margin-top: 5rem; margin-bottom: 5rem;">
    <div class="row text-center" style="margin-bottom: 4rem;">
        <h1>Overview</h1>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam libero, maxime dignissimos,
                magnam
                minima perspiciatis numquam impedit saepe id harum velit aspernatur temporibus! Omnis delectus eaque
                harum enim numquam? Nobis? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro
                voluptatem
                tenetur odio tempora consectetur veniam voluptatum! Maxime, obcaecati minus eos minima labore
                similique
                dolores rerum vel maiores quam ut perferendis? Lorem, ipsum dolor sit amet consectetur adipisicing
                elit.
                Quisquam, dignissimos? Molestias, assumenda, iure aut, laboriosam molestiae culpa voluptatum nam
                quam
                dolorem mollitia eveniet sint libero eum maiores. Veritatis, quod sapiente.
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row" style="text-align: center;">
        <h1>Producers</h1>
    </div>
</div>

<div class="container" style="padding: 4rem 0 0 0;">
    <div class="row">
        <div class="col-md-5 text-center" id="boxContainer" style="padding: 0;">
            <div style="max-height: 25rem; overflow: hidden;" class="text-center">
                <img src="img/human/ComitéEstataldeSanidad.png" alt="" width="40%"
                    style=" border-radius: 1rem; z-index: -2; margin-left: auto; margin-right: auto;">
            </div>
            <div style="padding: 4rem;">
                <h3>Union of Cotton Producers of the State of Chihuahua A.C </h3>
                <p>
                    They were very kind to share with us data about cotton on the state of Chihuahua: number of hectares
                    plantes, production, among others.
                </p>
                <p>
                    We learned that there exist 12,000 cotton producers in Chihuahua, and their product is exported to
                    the US, China, and Japan. Regarding Verticillium wilt, it has been reported in the areas of
                    Buenaventura, Janos, and Ascensión.
                </p>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5" id="boxContainer" style="padding: 0;">
            <div style="max-height: 25rem; overflow: hidden;" class="text-center">
                <img src="img/human/IHP_Entre_BernardoBlatz.JPG" alt="" width="100%"
                    style=" border-radius: 1rem; z-index: -2; margin-left: auto; margin-right: auto;">
            </div>
            <div style="padding: 4rem;">
                <h3>
                    Bernardo Blatz - Janos, Chihuahua
                </h3>
                <h4>
                    <strong>Medium Producer</strong>
                </h4>
                <p>

                    Bernardo is an agronomic producer who manages around 90 ha of cotton. He’s suffered strong economic
                    losses due to Verticillium wilt. His previous rescue option was using transgenic seeds, but
                    unfortunately they were banned this year.
                </p>
                <p>
                    He has no knowledge of any product that attacks this disease effectively, but he shared with us the
                    fact that he doesn’t like to use chemicals because he fears for his family’s health.
                </p>
                <p>
                    Finally he let us know that several companies raise their prices, abusing of buyers, this due to the
                    unavoidable need the farmers have.
                </p>
            </div>
        </div>
    </div>
</div>



<div class="container" style="padding: 4rem 0 0 0;">
    <div class="row">
        <div class="col-md-5 text-center" id="boxContainer" style="padding: 0;">
            <div style="max-height: 25rem; overflow: hidden;" class="text-center">
                <img src="img/entrepreneurship/Farmer.png" alt="" width="40%"
                    style=" border-radius: 1rem; z-index: -2; margin-left: auto; margin-right: auto;">
            </div>
            <div style="padding: 4rem;">
                <h3>Ornelio Friessen - Janos, Chihuahua </h3>
                <h4><strong>Medium Producer</strong></h4>
                <p>
                    Ornelio manages 70 hectares of cotton, the most important crop for him aside from chili. In past
                    years he had a yield of 7.5 bales per hectare.
                </p>
                <p>
                    He’s been aware of <i>Verticillium</i> for 10 years, and even today he considers it the most
                    problematic
                    disease regarding cotton plants. To try to inhibit it, he’s resorted to the use of triazoles (ex.
                    Pointer, Sparta) which are agrochemical pesticides, as recommended by his technical advisor; the
                    technical advisor is in charge of advice and supervise crops.
                </p>
                <p>
                    Finally, he shared with us that he’s been having troubles with certain products’ solubility because
                    of their inefficient composition, even when they are applied through irrigation
                </p>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5" id="boxContainer" style="padding: 0;">
            <div style="max-height: 25rem; overflow: hidden;" class="text-center">
                <img src="img/entrepreneurship/Farmer.png" alt="" width="40%"
                    style=" border-radius: 1rem; z-index: -2; margin-left: auto; margin-right: auto;">
            </div>
            <div style="padding: 4rem;">
                <h3>
                    Bruno Enns - Ojinaga, Chihuahua
                </h3>
                <h4>
                    <strong>Medium Producer</strong>
                </h4>
                <p>
                    For over 7 years Verticillium has affected his cotton crops. In an attempt to inhibir it, he has
                    tried to apply foliar products through irrigation, pivot, and sprinkling, with no favorable
                    outcomes. Unfortunately, fiber’s quality has decreased affecting cotton’s price.
                </p>
            </div>
        </div>
    </div>
</div>


<div class="container" style="padding: 4rem 0 0 0;">
    <div class="row">
        <div class="col-md-5 text-center" id="boxContainer" style="padding: 0;">
            <div style="max-height: 25rem; overflow: hidden;" class="text-center">
                <img src="img/entrepreneurship/Farmer.png" alt="" width="40%"
                    style=" border-radius: 1rem; z-index: -2; margin-left: auto; margin-right: auto;">
            </div>
            <div style="padding: 4rem;">
                <h3>Bernardo Dyck - Janos, Chihuahua</h3>
                <h4><strong>Big Producer</strong></h4>
                <p>
                    Bernardo is a producer of the agricultural region of Janos, who counts cotton as one of his main
                    crops. He shared with us that he sows 180 ha of cotton, and that after the harvest, it’s of great
                    importance to assess the quality of the fiber because its commercial price depends on that. Further
                    on he sadly recognized that <i>Verticillium dahliae</i> has caused the bale yield to decrease in
                    recent
                    years. Despite the fact that he’s been aware of the disease for the past 7 years, he still hasn’t
                    found a product capable of eradicating this fungus. He also shared with us that it’s easier for him
                    to apply a product through irrigation. Finally he mentioned that for any inconvenience he stumbles
                    upon, he relies fully on his technical advisor.
                </p>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5" id="boxContainer" style="padding: 0;">
            <div style="max-height: 25rem; overflow: hidden;" class="text-center">
                <img src="img/entrepreneurship/Farmer.png" alt="" width="40%"
                    style=" border-radius: 1rem; z-index: -2; margin-left: auto; margin-right: auto;">
            </div>
            <div style="padding: 4rem;">
                <h3>
                    Jacobo Nilshen - Janos, Chihuahua
                </h3>
                <h4>
                    <strong>Big Producer</strong>
                </h4>
                <p>
                    Jacobo owns 150 ha of cotton crops and annually he used to produce over 10 bales per hectare, but
                    for the past couple years his yield was reduced by 20%. Once again, <i>Verticillium dahliae</i> was
                    recognized as the main disease responsible for cotton crops losses. He is currently using triazoles
                    to control this fungus, although, he can’t be fully aware of its effectiveness until after the
                    harvest.
                </p>
                <p>
                    After telling him about our project he happily offered us the opportunity to try out our product in
                    a
                    small portion of his crops, once we have our prototype.
                </p>
            </div>
        </div>
    </div>
</div>


<div class="container" style="padding: 4rem 0 0 0;">
    <div class="row">
        <div class="col-md-5 text-center" id="boxContainer" style="padding: 0;">
            <div style="max-height: 25rem; overflow: hidden;" class="text-center">
                <img src="img/human/AdamFehr.JPG" alt="" width="100%"
                    style=" border-radius: 1rem; z-index: -2; margin-left: auto; margin-right: auto;">
            </div>
            <div style="padding: 4rem;">
                <h3>Adam Fehr - Ojinaga, Chihuahua</h3>
                <h4><strong>Big Producer</strong></h4>
                <p>
                    Adam has worked his whole life on family crops, and in the past few years he has identified
                    Verticillium wilt as one of the main problems in cotton fields. His production has been reduced from
                    12 bales per hectare, to only 8.
                </p>
                <p>
                    Despite his attempts of eradicating it with diverse products, he hasn’t succeeded yet. He also
                    shared with us how application of diverse products through irrigation is the simplest for them.
                </p>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5" id="boxContainer" style="padding: 0;">
            <div style="max-height: 25rem; overflow: hidden;" class="text-center">
                <img src="img/entrepreneurship/Farmer.png" alt="" width="40%"
                    style=" border-radius: 1rem; z-index: -2; margin-left: auto; margin-right: auto;">
            </div>
            <div style="padding: 4rem;">
                <h3>
                    Alfonso Blancas - Chihuahua, Chihuahua
                </h3>
                <h4>
                    <strong>Big Producer</strong>
                </h4>
                <p>
                    Year after year, producer Alfonso Blancas obtained a yield of 14 bales maximum and 7 bales minimum
                    per hectare. However, since 2014, Verticillium wilt has affected his production, reducing it to 5 or
                    6 bales per hectare.
                </p>
                <p>
                    In order to diminish the losses, he’s tried crop rotation that consists in planting non-susceptible
                    crops, with no success whatsoever. He shared with us how the optimal application method of
                    pesticides is through irrigation.
                </p>
                <p>
                    He also offered us his crops to carry out future field trials with our product.
                </p>
            </div>
        </div>
    </div>
</div>


<div class="gradient-divider" style="margin-top: 2rem; margin-bottom: 2rem;"></div>
<div class="container">
    <div class="row text-center">
        <div class="col-md-12">
            <h1 style="margin-top: 4rem; margin-bottom: 4rem;">How Did Everything Start?</h1>
        </div>
    </div>
</div>
<div class="jumbotron-fluid grey_light-block pt-5" style="margin-top: 8rem; margin-bottom: 4rem;">
    <div class="container">
        <div class="timeline  white">

            <div class="point"> </div>

            <div class="point">
                <div class="date"> 2012 </div>
                <div class="bocata  text-left row">
                    <div class="col-md-12">
                        <h2>Title</h2>
                    </div>
                    <div class="col-md-6">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when
                            an
                            unknown printer took a galley of type and scrambled it to make a type specimen book
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p>
                            Constitution of the company and a basic team
                        </p>
                    </div>
                </div>
                <i class="arrow"></i>
            </div>

            <div class="point">
                <div class="date"> 2013 </div>
                <div class="bocata  text-left row">
                    <div class="col-md-12  bold pb-2">
                        <h2>Title</h2>
                    </div>
                    <div class="col-md-6  ">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when
                            an
                            unknown printer took a galley of type and scrambled it to make a type specimen book
                        </p>
                    </div>
                    <div class="col-md-6  ">
                        <p>
                            Constitution of the company and a basic team
                        </p>
                    </div>
                </div>
                <i class="arrow"></i>
            </div>

            <div class="point">
                <div class="date"> 2014 </div>
                <div class="bocata  text-left row">
                    <div class="col-md-12  bold pb-2">
                        <h2>Title</h2>
                    </div>
                    <div class="col-md-6  ">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when
                            an
                            unknown printer took a galley of type and scrambled it to make a type specimen book
                        </p>
                    </div>
                    <div class="col-md-6  ">
                        <p>
                            Constitution of the company and a basic team
                        </p>
                    </div>
                </div>

                <i class="arrow"></i>
            </div>

            <div class="point">
                <div class="date"> 2015 </div>
                <div class="bocata  text-left row">
                    <div class="col-md-12  bold pb-2">
                        <h2>Title</h2>
                    </div>
                    <div class="col-md-6  ">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when
                            an
                            unknown printer took a galley of type and scrambled it to make a type specimen book
                        </p>
                    </div>
                    <div class="col-md-6  ">
                        <p>
                            Constitution of the company and a basic team
                        </p>
                    </div>
                </div>
                <i class="arrow"></i>
            </div>

            <div class="point">
                <div class="date"> 2016 </div>
                <div class="bocata  text-left row">
                    <div class="col-md-12  bold pb-2">
                        <h2>Title</h2>
                    </div>
                    <div class="col-md-6  ">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when
                            an
                            unknown printer took a galley of type and scrambled it to make a type specimen book
                        </p>
                    </div>
                    <div class="col-md-6  ">
                        <p>
                            Constitution of the company and a basic team
                        </p>
                    </div>
                </div>
                <i class="arrow"></i>
            </div>

            <div class="point">
                <div class="date"> 2017 </div>
                <div class="bocata  text-left row">
                    <div class="col-md-12  bold pb-2">
                        <h2>Title</h2>
                    </div>
                    <div class="col-md-6  ">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when
                            an
                            unknown printer took a galley of type and scrambled it to make a type specimen book
                        </p>
                    </div>
                    <div class="col-md-6  ">
                        <p>
                            Constitution of the company and a basic team
                        </p>
                    </div>
                </div>
                <i class="arrow"></i>
            </div>

            <div class="point">
                <div class="date"> 2018 </div>
                <div class="bocata   text-left row">
                    <div class="col-md-12  bold pb-2">
                        <h2>Title</h2>
                    </div>
                    <div class="col-md-6  ">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when
                            an
                            unknown printer took a galley of type and scrambled it to make a type specimen book
                        </p>
                    </div>
                    <div class="col-md-6  ">
                        <p>
                            Constitution of the company and a basic team
                        </p>
                    </div>
                </div>
                <i class="arrow"></i>
            </div>

            <div class="point">
                <div class="date"> 2019 </div>
                <div class="bocata   text-left row">
                    <div class="col-md-12  bold pb-2">
                        <h2>Title</h2>
                    </div>
                    <div class="col-md-6  ">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when
                            an
                            unknown printer took a galley of type and scrambled it to make a type specimen book
                        </p>
                    </div>
                    <div class="col-md-6  ">
                        <p>
                            Constitution of the company and a basic team
                        </p>
                    </div>
                </div>
                <i class="arrow"></i>
                <i class="arrow-clean"></i>
            </div>

        </div>
    </div>
</div>

<div class="gradient-divider" style="margin-top: 2rem; margin-bottom: 2rem;"></div>

<div class="container">
    <div class="row text-center" style="margin: 4rem;">
        <h1>In Our Way to a Biosecure Product</h1>
    </div>
    <div style="position: relative;">
        <div class="row">
            <div class="section-line-cyan"></div>
            <div class="col-md-7">
                <h2>First subtitle</h2>
                <h3>Small description header.</h3>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem, inventore vitae voluptatibus
                    dolores cum veniam qui possimus dolor quas sequi molestiae nesciunt nobis repellat pariatur
                    atque?
                    Odit reiciendis at itaque! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam
                    quam
                    sed rem commodi expedita vel, voluptate voluptatibus assumenda! Cumque consectetur perferendis
                    deserunt aliquid, exercitationem quo architecto quisquam velit repellendus quos.
                </p>
            </div>
            <div class="col-md-3">
                <img src="https://via.placeholder.com/400x250" class="img-responsive" width="100%" height="100%">
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <h2>List section</h2>
                <ul>
                    <li>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic porro nemo omnis molestias
                            architecto aliquid ea temporibus.
                        </p>
                    </li>
                    <li>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic porro nemo omnis molestias
                            architecto aliquid ea temporibus.
                        </p>
                    </li>
                    <li>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic porro nemo omnis molestias
                            architecto aliquid ea temporibus.
                        </p>
                    </li>
                    <li>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic porro nemo omnis molestias
                            architecto aliquid ea temporibus.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="gradient-divider" style="margin-top: 8rem; margin-bottom: 8rem;"></div>


<div class="container">
    <div class="row text-center">
        <h1 style="margin-top: 4rem; margin-bottom: 4rem;">Big Section for Legal Plan</h1>
    </div>
    <div style="position: relative;">
        <div class="section-line-green"></div>
        <div class="row text-center">
            <div class="col-md-12">
                <h2 style="margin-top: 4rem; margin-bottom: 4rem;">Legal Plan</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, placeat. Cupiditate odio
                    praesentium dolorum blanditiis esse molestias vel voluptate totam quae maiores laborum,
                    reiciendis
                    suscipit ipsa repellendus expedita dignissimos libero. Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. In, est. Culpa illum adipisci vel in eaque perferendis ducimus maiores
                    repudiandae
                    iusto omnis fuga, qui saepe sunt hic? Aut, laboriosam suscipit! Lorem ipsum dolor, sit amet
                    consectetur adipisicing elit. Quasi, quas optio! Eveniet voluptatibus in numquam corporis itaque
                    totam nostrum. Perspiciatis nihil rerum mollitia. Dolor rerum praesentium labore sed velit odit?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi sit id ea quod fugiat consequuntur
                    placeat rerum doloribus, quas ipsa, totam vitae illum rem nemo culpa excepturi delectus laborum
                    est?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, placeat. Cupiditate odio
                    praesentium dolorum blanditiis esse molestias vel voluptate totam quae maiores laborum,
                    reiciendis
                    suscipit ipsa repellendus expedita dignissimos libero. Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. In, est. Culpa illum adipisci vel in eaque perferendis ducimus maiores
                    repudiandae
                    iusto omnis fuga, qui saepe sunt hic? Aut, laboriosam suscipit! Lorem ipsum dolor, sit amet
                    consectetur adipisicing elit. Quasi, quas optio! Eveniet voluptatibus in numquam corporis itaque
                    totam nostrum. Perspiciatis nihil rerum mollitia. Dolor rerum praesentium labore sed velit odit?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi sit id ea quod fugiat consequuntur
                    placeat rerum doloribus, quas ipsa, totam vitae illum rem nemo culpa excepturi delectus laborum
                    est?
                </p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <h2 style="margin-top: 4rem; margin-bottom: 4rem;">Two paragraph section</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem tempore nostrum unde
                    quibusdam adipisci odio maxime veritatis ut, eos quia vero quos excepturi ratione officia at
                    soluta,
                    quae esse dolores? Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse id veritatis
                    voluptatum earum harum saepe facere nesciunt distinctio dolorem. Vel hic ipsum molestias non
                    cupiditate quidem quae repellat quibusdam animi! Lorem ipsum dolor sit amet consectetur
                    adipisicing
                    elit. Beatae maxime tempore officia quis nisi quibusdam repellendus, eligendi libero, non
                    aliquam,
                    mollitia corporis aut perspiciatis deleniti rerum quas fuga ab in. Lorem ipsum dolor sit amet
                    consectetur, adipisicing elit. At totam, quos est veritatis porro aut. Commodi dignissimos hic
                    officiis ipsa adipisci? Nobis soluta neque dolore earum, excepturi explicabo quis sapiente.
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem tempore nostrum unde
                    quibusdam adipisci odio maxime veritatis ut, eos quia vero quos excepturi ratione officia at
                    soluta,
                    quae esse dolores? Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse id veritatis
                    voluptatum earum harum saepe facere nesciunt distinctio dolorem. Vel hic ipsum molestias non
                    cupiditate quidem quae repellat quibusdam animi! Lorem ipsum dolor sit amet consectetur
                    adipisicing
                    elit. Beatae maxime tempore officia quis nisi quibusdam repellendus, eligendi libero, non
                    aliquam,
                    mollitia corporis aut perspiciatis deleniti rerum quas fuga ab in. Lorem ipsum dolor sit amet
                    consectetur, adipisicing elit. At totam, quos est veritatis porro aut. Commodi dignissimos hic
                    officiis ipsa adipisci? Nobis soluta neque dolore earum, excepturi explicabo quis sapiente.
                </p>
            </div>
        </div>
        <div class="row text-center">
            <h2 style="margin-top: 4rem; margin-bottom: 4rem;">Paragraph with figure on right</h2>
        </div>
        <div class="row">
            <div class="col-md-9 text-center">
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem tempore nostrum unde
                    quibusdam adipisci odio maxime veritatis ut, eos quia vero quos excepturi ratione officia at
                    soluta,
                    quae esse dolores? Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse id veritatis
                    voluptatum earum harum saepe facere nesciunt distinctio dolorem. Vel hic ipsum molestias non
                    cupiditate quidem quae repellat quibusdam animi! Lorem ipsum dolor sit amet consectetur
                    adipisicing
                    elit. Beatae maxime tempore officia quis nisi quibusdam repellendus, eligendi libero, non
                    aliquam,
                    mollitia corporis aut perspiciatis deleniti rerum quas fuga ab in. Lorem ipsum dolor sit amet
                    consectetur, adipisicing elit. At totam, quos est veritatis porro aut. Commodi dignissimos hic
                    officiis ipsa adipisci? Nobis soluta neque dolore earum, excepturi explicabo quis sapiente.
                </p>
            </div>
            <div class="col-md-3 text-center">
                <div class="box">
                    <img src="https://via.placeholder.com/150" width="100%" height="100%" class="img-responsive">
                    <div class="overbox">
                        <div class="tagline overtext"> Some stuff </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>