<link rel="stylesheet" href="/css/integratedHP.css">
<header style="margin-bottom: 0;">
    <div class="headerContainer">
        <div class="imgContent"></div>
        <div id="bannersection">
            <div class="bannercontent">
                <h1 class="mainHeader">Integrated <br> human <br> practices</h1>
            </div>
        </div>
    </div>
</header>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img src="img/human/GINNING.png" alt="" class="img-responsive" style="z-index: -1;">
            <div id="crops">
            </div>
            <div id="harvest">
            </div>
            <div id="ginning"></div>
            <div id="deseed"></div>
            <div id="unwinding"></div>
            <div id="cropscontainer">
                <p>
                    The first link of the VC is the cropping of cotton, and is encompassed all the way to the cotton
                    bud. This
                    is
                    mainly harvested for its fiber and seeds, either for the production of textiles or of by-products
                    used to
                    obtain
                    oil, paper and livestock feed. Although in some areas cotton cropping has been mechanized, the vast
                    majority
                    (especially with small producers) it is still customary to hire personnel for planting. So during
                    this stage
                    it
                    has been reported a generation of almost 4 million direct wage jobs and approximately 9 million
                    indirect
                    wage
                    jobs. These numbers refer solely to Mexico, now, can you imagine around the whole world?
                </p>
                <p>

                    Plant diseases like Verticillium wilt cause a decrease in production, and as a result of this,
                    producers
                    have to
                    make staff reductions, which closes the main source of income for thousands of families.
                </p>

                <p>
                    Finally, in this sector we can identify as main actors both producers and agronomic engineers.
                </p>
            </div>
            <div id="harvestcontainer">
                <p>
                    After the cotton buds, the next stage is the harvest/pinch. This can be carried out either with
                    machinery or by hand. When using machinery, the producer benefits since a smaller number of people
                    per
                    hectare must be hired; around 7 people overall. On the other hand, a manual harvest provides higher
                    quality cotton and up to 25 people are needed per hectare. In most cases, these jobs are the only
                    support for the worker’s family.
                </p>
                <p>
                    Once again, the main actors of this sector are the producers.
                </p>
                <ul>
                    <li>
                        Stakeholders: Producers
                    </li>
                </ul>
            </div>
            <div id="ginningcontainer">
                <p>
                    After the harvest, a ginning machine is responsible for extracting the cotton leaving the capsule
                    empty.
                    The fiber obtained through this process still has seeds (it is known as raw cotton).
                </p>
                <p>
                    Being a fully mechanized process, producers usually deliver their product to a cotton ginner, where
                    this
                    task is carried out.<sup>1</sup>
                </p>
                <p>
                    Therefore, in this sector, cotton ginners are identified as one of the main stakeholders.
                </p>

            </div>
            <div id="deseedcontainer">
                <p>
                    Immediately after ginning, the raw cotton is taken to a shaker to separate the seeds from the fiber
                    to
                    finally obtain raw cotton. However, the amount obtained is only between 35 to 40%.<sup>1</sup>
                </p>

                <p>
                    Small ginners, such as the ginner Del Desierto in Delicias, Chihuahua, employ around 15 people. It
                    is
                    known that the amount of employers, and consequently depending families, is proportional to the
                    ginner’s
                    size.
                </p>

                <p><strong>Textiles manufacturers</strong></p>
                <p>
                    Cotton fiber can be sent to the United States Department of Agriculture or an expert visits the
                    region,
                    to evaluate the fiber’s quality. Its price depends on the stocks value and the evaluation of certain
                    characteristics, like elasticity and thickness. However, phytopathogenic fungi such as Verticillium
                    dahliae are able to reduce its quality and therefore its price.
                </p>

                <p>
                    At a national level, the textile and clothing industry generates more than half a million jobs, and
                    a
                    significant amount of exports; $ 4,695 million pesos. However, in the last couple of years the
                    number of
                    imports exceeded that of exports.<sup>2,3</sup>
                </p>

                <p>
                    So, in addition to the jobs cotton generates, it can greatly impact a country’s economy.
                    Thus, textile industries are recognized as one of our stakeholders.
                </p>

            </div>
            <div id="unwindingcontainer">
                <p>
                    At the end of the ginning, the remaining 60 or 65% of the product consists of seeds, short fibers -
                    called borras - and garbage. Usually, the seed is processed to obtain cattle feed, the short fibers
                    are
                    treated to produce high quality bond paper, used as a source of cellulose for the chemical industry,
                    and
                    the resulting garbage is sometimes reused as a fertilizer for the same cotton fields. Even if this
                    tries
                    to ensure an effective use of the whole product, it can generate a vicious circle in which the
                    spores of
                    the phytopathogenic fungus V. dahliae return to the ground.
                </p>
            </div>
        </div>

    </div>
</div>


<div class="container" style="margin-top: 5rem; margin-bottom: 5rem;">
    <div class="row text-center" style="margin-bottom: 4rem;">
        <h1>Overview</h1>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam libero, maxime dignissimos,
                magnam
                minima perspiciatis numquam impedit saepe id harum velit aspernatur temporibus! Omnis delectus eaque
                harum enim numquam? Nobis? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro
                voluptatem
                tenetur odio tempora consectetur veniam voluptatum! Maxime, obcaecati minus eos minima labore
                similique
                dolores rerum vel maiores quam ut perferendis? Lorem, ipsum dolor sit amet consectetur adipisicing
                elit.
                Quisquam, dignissimos? Molestias, assumenda, iure aut, laboriosam molestiae culpa voluptatum nam
                quam
                dolorem mollitia eveniet sint libero eum maiores. Veritatis, quod sapiente.
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row" style="text-align: center;">
        <h1>Producers</h1>
    </div>
</div>

<div class="container" style="padding: 4rem 0 0 0;">
    <div class="row">
        <div class="col-md-5 text-center" id="boxContainer" style="padding: 0;">
            <div style="max-height: 25rem; overflow: hidden;" class="text-center">
                <img src="img/human/ComitéEstataldeSanidad.png" alt="" width="40%"
                    style=" border-radius: 1rem; z-index: -2; margin-left: auto; margin-right: auto;">
            </div>
            <div style="padding: 4rem;">
                <h3>Union of Cotton Producers of the State of Chihuahua A.C </h3>
                <p>
                    They were very kind to share with us data about cotton on the state of Chihuahua: number of hectares
                    plantes, production, among others.
                </p>
                <p>
                    We learned that there exist 12,000 cotton producers in Chihuahua, and their product is exported to
                    the US, China, and Japan. Regarding Verticillium wilt, it has been reported in the areas of
                    Buenaventura, Janos, and Ascensión.
                </p>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5" id="boxContainer" style="padding: 0;">
            <div style="max-height: 25rem; overflow: hidden;" class="text-center">
                <img src="img/human/IHP_Entre_BernardoBlatz.JPG" alt="" width="100%"
                    style=" border-radius: 1rem; z-index: -2; margin-left: auto; margin-right: auto;">
            </div>
            <div style="padding: 4rem;">
                <h3>
                    Bernardo Blatz - Janos, Chihuahua
                </h3>
                <h4>
                    <strong>Medium Producer</strong>
                </h4>
                <p>

                    Bernardo is an agronomic producer who manages around 90 ha of cotton. He’s suffered strong economic
                    losses due to Verticillium wilt. His previous rescue option was using transgenic seeds, but
                    unfortunately they were banned this year.
                </p>
                <p>
                    He has no knowledge of any product that attacks this disease effectively, but he shared with us the
                    fact that he doesn’t like to use chemicals because he fears for his family’s health.
                </p>
                <p>
                    Finally he let us know that several companies raise their prices, abusing of buyers, this due to the
                    unavoidable need the farmers have.
                </p>
            </div>
        </div>
    </div>
</div>



<div class="container" style="padding: 4rem 0 0 0;">
    <div class="row">
        <div class="col-md-5 text-center" id="boxContainer" style="padding: 0;">
            <div style="max-height: 25rem; overflow: hidden;" class="text-center">
                <img src="img/entrepreneurship/Farmer.png" alt="" width="40%"
                    style=" border-radius: 1rem; z-index: -2; margin-left: auto; margin-right: auto;">
            </div>
            <div style="padding: 4rem;">
                <h3>Ornelio Friessen - Janos, Chihuahua </h3>
                <h4><strong>Medium Producer</strong></h4>
                <p>
                    Ornelio manages 70 hectares of cotton, the most important crop for him aside from chili. In past
                    years he had a yield of 7.5 bales per hectare.
                </p>
                <p>
                    He’s been aware of <i>Verticillium</i> for 10 years, and even today he considers it the most
                    problematic
                    disease regarding cotton plants. To try to inhibit it, he’s resorted to the use of triazoles (ex.
                    Pointer, Sparta) which are agrochemical pesticides, as recommended by his technical advisor; the
                    technical advisor is in charge of advice and supervise crops.
                </p>
                <p>
                    Finally, he shared with us that he’s been having troubles with certain products’ solubility because
                    of their inefficient composition, even when they are applied through irrigation
                </p>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5" id="boxContainer" style="padding: 0;">
            <div style="max-height: 25rem; overflow: hidden;" class="text-center">
                <img src="img/entrepreneurship/Farmer.png" alt="" width="40%"
                    style=" border-radius: 1rem; z-index: -2; margin-left: auto; margin-right: auto;">
            </div>
            <div style="padding: 4rem;">
                <h3>
                    Bruno Enns - Ojinaga, Chihuahua
                </h3>
                <h4>
                    <strong>Medium Producer</strong>
                </h4>
                <p>
                    For over 7 years Verticillium has affected his cotton crops. In an attempt to inhibir it, he has
                    tried to apply foliar products through irrigation, pivot, and sprinkling, with no favorable
                    outcomes. Unfortunately, fiber’s quality has decreased affecting cotton’s price.
                </p>
            </div>
        </div>
    </div>
</div>


<div class="container" style="padding: 4rem 0 0 0;">
    <div class="row">
        <div class="col-md-5 text-center" id="boxContainer" style="padding: 0;">
            <div style="max-height: 25rem; overflow: hidden;" class="text-center">
                <img src="img/entrepreneurship/Farmer.png" alt="" width="40%"
                    style=" border-radius: 1rem; z-index: -2; margin-left: auto; margin-right: auto;">
            </div>
            <div style="padding: 4rem;">
                <h3>Bernardo Dyck - Janos, Chihuahua</h3>
                <h4><strong>Big Producer</strong></h4>
                <p>
                    Bernardo is a producer of the agricultural region of Janos, who counts cotton as one of his main
                    crops. He shared with us that he sows 180 ha of cotton, and that after the harvest, it’s of great
                    importance to assess the quality of the fiber because its commercial price depends on that. Further
                    on he sadly recognized that <i>Verticillium dahliae</i> has caused the bale yield to decrease in
                    recent
                    years. Despite the fact that he’s been aware of the disease for the past 7 years, he still hasn’t
                    found a product capable of eradicating this fungus. He also shared with us that it’s easier for him
                    to apply a product through irrigation. Finally he mentioned that for any inconvenience he stumbles
                    upon, he relies fully on his technical advisor.
                </p>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5" id="boxContainer" style="padding: 0;">
            <div style="max-height: 25rem; overflow: hidden;" class="text-center">
                <img src="img/entrepreneurship/Farmer.png" alt="" width="40%"
                    style=" border-radius: 1rem; z-index: -2; margin-left: auto; margin-right: auto;">
            </div>
            <div style="padding: 4rem;">
                <h3>
                    Jacobo Nilshen - Janos, Chihuahua
                </h3>
                <h4>
                    <strong>Big Producer</strong>
                </h4>
                <p>
                    Jacobo owns 150 ha of cotton crops and annually he used to produce over 10 bales per hectare, but
                    for the past couple years his yield was reduced by 20%. Once again, <i>Verticillium dahliae</i> was
                    recognized as the main disease responsible for cotton crops losses. He is currently using triazoles
                    to control this fungus, although, he can’t be fully aware of its effectiveness until after the
                    harvest.
                </p>
                <p>
                    After telling him about our project he happily offered us the opportunity to try out our product in
                    a
                    small portion of his crops, once we have our prototype.
                </p>
            </div>
        </div>
    </div>
</div>


<div class="container" style="padding: 4rem 0 0 0;">
    <div class="row">
        <div class="col-md-5 text-center" id="boxContainer" style="padding: 0;">
            <div style="max-height: 25rem; overflow: hidden;" class="text-center">
                <img src="img/human/AdamFehr.JPG" alt="" width="100%"
                    style=" border-radius: 1rem; z-index: -2; margin-left: auto; margin-right: auto;">
            </div>
            <div style="padding: 4rem;">
                <h3>Adam Fehr - Ojinaga, Chihuahua</h3>
                <h4><strong>Big Producer</strong></h4>
                <p>
                    Adam has worked his whole life on family crops, and in the past few years he has identified
                    Verticillium wilt as one of the main problems in cotton fields. His production has been reduced from
                    12 bales per hectare, to only 8.
                </p>
                <p>
                    Despite his attempts of eradicating it with diverse products, he hasn’t succeeded yet. He also
                    shared with us how application of diverse products through irrigation is the simplest for them.
                </p>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5" id="boxContainer" style="padding: 0;">
            <div style="max-height: 25rem; overflow: hidden;" class="text-center">
                <img src="img/entrepreneurship/Farmer.png" alt="" width="40%"
                    style=" border-radius: 1rem; z-index: -2; margin-left: auto; margin-right: auto;">
            </div>
            <div style="padding: 4rem;">
                <h3>
                    Alfonso Blancas - Chihuahua, Chihuahua
                </h3>
                <h4>
                    <strong>Big Producer</strong>
                </h4>
                <p>
                    Year after year, producer Alfonso Blancas obtained a yield of 14 bales maximum and 7 bales minimum
                    per hectare. However, since 2014, Verticillium wilt has affected his production, reducing it to 5 or
                    6 bales per hectare.
                </p>
                <p>
                    In order to diminish the losses, he’s tried crop rotation that consists in planting non-susceptible
                    crops, with no success whatsoever. He shared with us how the optimal application method of
                    pesticides is through irrigation.
                </p>
                <p>
                    He also offered us his crops to carry out future field trials with our product.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 8rem;">
    <div class="row" style="text-align: center;">
        <h1>Technical Experts</h1>
    </div>
</div>

<div class="container" style="padding: 4rem 0 0 0;">
    <div class="row">
        <div class="col-md-5 text-center" id="boxContainer" style="padding: 0;">
            <div style="max-height: 25rem; overflow: hidden;" class="text-center">
                <img src="https://2019.igem.org/wiki/images/f/f9/T--Tec-Chihuahua--laila.jpeg" alt="" width="50%"
                    style=" border-radius: 1rem; z-index: -2; margin-left: auto; margin-right: auto;">
            </div>
            <div style="padding: 4rem;">
                <h3>Ph.D. Layla Nayzzel Muñoz Castellanos - Chihuahua, Chihuahua</h3>
                <h4><strong>Mycology expert</strong></h4>
                <h5>"I bet on the area of ​​biopesticides, it is a core part of the future." </h5>
                <p>
                    Dr. Layla counts with a Doctorate in Environmental Science and Technology and belongs to the
                    National System of Investigators, with a current status of investigator level 1. In addition to
                    this, she has extensive experience working with phytopathogenic fungi. She has been extremely
                    helpful to the development of our project, so much that she became part of our team as an
                    instructor.
                </p>
                <p>
                    From her experience in the area, he stated that <i>Verticillium dahliae</i> is an exceptionally
                    difficult
                    fungus to treat and, due to lack of information, farmers allocate the symptoms of their diseased
                    crops to other pathogens.
                </p>
                <p>
                    Actually, she shared with us that in our city (Chihuahua, Chihuahua), once there existed successful
                    textile companies, but in the 70s there was a strong crisis in the state’s cotton production due to
                    <i>Verticillium dahliae</i>. This resulted in the closure of these businesses. A relevant example of
                    this
                    is the DemTex company.
                </p>
                <p>
                    She also informed us that there is no treating fungicide against <i>Verticillium</i> and that she
                    suggests
                    the creation of a systemic product to fight it due to <i>V.dahliae</i> accts systematically. However
                    one of
                    the drawbacks of systemic pesticides is that the current ones don’t travel more than 15 cm from the
                    ground.
                </p>
                <p>
                    Considering this, she thinks that the best possible option is a preventive fungicide, since it is
                    cheaper and more practical.
                </p>
                <p>
                    It’s worth mentioning that she emphasized how sadly chemical pesticides are often used to commit
                    suicide in rural communities, and how using biological products contributes greatly to preventing
                    this.
                </p>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5 text-center" id="boxContainer" style="padding: 0;">
            <div style="max-height: 25rem; overflow: hidden;" class="text-center">
                <img src="img/human/Clinton-Jurke.jpg" alt="" width="40%"
                    style=" border-radius: 1rem; z-index: -2; margin-left: auto; margin-right: auto;">
            </div>
            <div style="padding: 4rem;">
                <h3>
                    M.Sc. Clinton J. Jurke - Alberta, Canada
                </h3>
                <h4>
                    <strong>Mycology expert</strong>
                </h4>
                <p>
                    Clinton is the director of agronomy on Canada’s Canola Council. Currently he is the leader of a
                    group of researchers paired with the University of Manitoba and Alberta, that focuses on
                    Verticillium in the Canola industry.
                </p>
                <p>
                    To this day, there is no effective solutions, also he had no knowledge about the use of antifungal
                    peptides for treating phytopathogens. However, he let us know that canola crops do not use
                    irrigation systems.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container" style="padding: 4rem 0 0 0;">
    <div class="row">
        <div class="col-md-5 text-center" id="boxContainer" style="padding: 0;">
            <div style="max-height: 25rem; overflow: hidden;" class="text-center">
                <img src="img/IHInter.JPG" alt="" width="100%"
                    style=" border-radius: 1rem; z-index: -2; margin-left: auto; margin-right: auto;">
            </div>
            <div style="padding: 4rem;">
                <h3>Eng. Carlos García - Janos, Chihuahua</h3>
                <h4><strong>Agrochemical expert</strong></h4>
                <p>
                    The engineer Carlos García is in charge of supervising several crops from Colonia Buena Vista,
                    Janos. Throughout the years he’s came to the conclusion that cotton holds the greatest importance
                    for both agriculture and families' economy. He has known about <i>Verticillium</i> wilt for years,
                    and
                    although there are several crops susceptible to the fungus, cotton is the most affected.
                </p>
                <p>
                    Annually, losses of 15% to 20% had been noticed, but due to the lack of disease-resistant seeds this
                    year, greater losses are expected. In addition to this, there is no effective product against <i>
                        V.
                        dahliae.
                    </i> Therefore he has opted for triazoles to try to inhibit it, but it is not yet known if it
                    will work.
                </p>
                <p>
                    Also, low fiber prices aren’t an incentive for investments to be made to control
                    <i>Verticillium</i>; which
                    is a shame because it is not possible to detect the disease until it’s impossible to rescue the
                    crop.
                </p>
                <p>
                    He was very kind in telling us that for a product to reach cotton’s roots it’s essential to apply it
                    halfway through irrigation. On average, an irrigation period lasts 6 hours, and for a product to
                    doesn’t remain in the surface of the tank’s flow, the flow should be turned off half an hour before
                    the period ends. Finally, based on his experience, he knows that for each cotton hectare, around
                    25m<sup>3</sup> of water are required.
                </p>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5 text-center" id="boxContainer" style="padding: 0;">
            <div style="max-height: 25rem; overflow: hidden;" class="text-center">
                <img src="img/human/jonathanAcevedo.jpeg" alt="" width="100%"
                    style=" border-radius: 1rem; z-index: -2; margin-left: auto; margin-right: auto;">
            </div>
            <div style="padding: 4rem;">
                <h3>
                    Eng. Jonathan Acevedo - Janos, Chihuahua
                </h3>
                <h4>
                    <strong>Agronomic engineer</strong>
                </h4>
                <p>
                    Engineer Jonathan is in charge of advising around 2,000 hectares of cotton crops in Colonia Buena
                    Vista, Janos, in the state of Chihuahua. During our interview, he confirmed how Verticillium dahliae
                    represents an issue for them, since it causes around 40% to 50% of their crop losses. This impacts
                    both production and fiber quality.
                </p>
                <p>
                    As a result of the lack of an effective product specialized in the inhibition of <i>V. dahliae</i>,
                    he’s
                    currently using triazole through irrigation, to diminish its incidence. However, so far it’s not
                    possible to verify its efficiency until harvest season comes.
                </p>
                <p>
                    Likewise, he let us know that agronomic product’s development companies host presentations and
                    demonstration plots where technicians get to evaluate the product.
                </p>
            </div>
        </div>
    </div>
</div>



<div class="container" style="padding: 4rem 0 0 0;">
    <div class="row">
        <div class="col-md-5 text-center" id="boxContainer" style="padding: 0;">
            <div style="max-height: 25rem; overflow: hidden;" class="text-center">
                <img src="img/human/IHP_Entre_JesúsManuelVázquez.JPG" alt="" width="100%"
                    style=" border-radius: 1rem; z-index: -2; margin-left: auto; margin-right: auto;">
            </div>
            <div style="padding: 4rem;">
                <h3>Eng. Jesús Manuel Vázquez - Ojinaga, Chihuahua</h3>
                <h4><strong>Agronomic engineer</strong></h4>
                <p>
                    The engineer Jesús Vázquez works in the city of Ojinaga, Chihuahua, and has known about
                    <i>Verticillium</i>
                    for 9 years. Season after season losses due to <i>V. dahliae</i> have raised, up to a decrease of
                    1.5 to 2
                    bales per hectare. To prevent it he has suggested producers to carry out crop rotation and use
                    triazoles and polyphenols, but so far no impact has been noticed.
                </p>
                <p>
                    Despite being in charge of several crops, he stated that, due to its profitability, none other can
                    be compared to cotton.
                </p>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5 text-center" id="boxContainer" style="padding: 0;">
            <div style="max-height: 25rem; overflow: hidden;" class="text-center">
                <img src="img/human/IHP_Entre_ElvisLechuga.JPG" alt="" width="100%"
                    style=" border-radius: 1rem; z-index: -2; margin-left: auto; margin-right: auto;">
            </div>
            <div style="padding: 4rem;">
                <h3>
                    Eng. Elvis Lechuga - Janos, Chihuahua
                </h3>
                <h4>
                    <strong>Agronomic engineer</strong>
                </h4>
                <p>
                    Elvis Lechuga in the advisor of the cotton crops “Nueva Holanda” in the city of Ojinaga, Chihuahua.
                    He informed us that they have been affected by <i>Verticillium</i> for over 8 years. To avoid
                    infection,
                    they’ve resorted to crop rotation and the application of foliar (through the leaves) products, but
                    the expected results have not been obtained.
                </p>
                <p>
                    He considers that, in extreme cases, around 70% to 80% of the crops can be lost, which roughly
                    translates to 8 or 11 bales per hectare, aside from diminution of the fiber’s thickness and size.
                </p>
            </div>
        </div>
    </div>
</div>



<div class="container" style="padding: 4rem 0 0 0;">
    <div class="row">
        <div class="col-md-5 text-center" id="boxContainer" style="padding: 0;">
            <div style="max-height: 25rem; overflow: hidden;" class="text-center">
                <img src="img/human/IHP_Entre_FranciscoGalindo.JPG" alt="" width="100%"
                    style=" border-radius: 1rem; z-index: -2; margin-left: auto; margin-right: auto;">
            </div>
            <div style="padding: 4rem;">
                <h3>Eng. Francisco Galindo - Ojinaga, Chihuahua</h3>
                <h4><strong>Agronomic engineer</strong></h4>
                <p>
                    Engineer Galindo works at the cotton fields of “Nueva Holanda” and has known about Verticillium for
                    almost a decade. To try and reduce damage, they’ve started to apply macronutrients like nitrogen and
                    phosphorus to the soil, and throughout the cycle, some foliar products, which are applied through
                    pivot.

                </p>
                <p>
                    In infected zones losses in cotton production can reach 40% or 50%, since it affects its quality and
                    sometimes the acorn is unable to open.
                </p>

            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5 text-center" id="boxContainer" style="padding: 0;">
            <div style="max-height: 25rem; overflow: hidden;" class="text-center">
                <img src="img/IHInter.JPG" alt="" width="100%"
                    style=" border-radius: 1rem; z-index: -2; margin-left: auto; margin-right: auto;">
            </div>
            <div style="padding: 4rem;">
                <h3>
                    Eng. Carlos Zabala - Janos, Chihuahua
                </h3>
                <h4>
                    <strong>Agronomic engineer</strong>
                </h4>
                <p>
                    Engineer Carlos Zabala advises Colonia Buena Vista, Chihuahua. He is aware that for an optimal
                    growth of cotton crops the application of fertilizers, agrochemicals, growth regulators, and foliar
                    products is essential. By having an excellent quality, the production cost per hectare can reach,
                    approximately, $1500 dlls.
                </p>
                <p>
                    Despite the use of products based on antagonic microorganisms, their effect doesn’t last long and
                    further on the crops are vulnerable to fungi.
                </p>
                <p>
                    Even if transgenic seeds are an option for cost reduction, in the country only two commercial brands
                    are distributed, and unfortunately, this year acquiring them wasn’t possible.
                </p>
                <p>
                    Due to crop rotation, other products such as peanut and chili, become vulnerable to Verticillium
                    wilt.
                </p>
                <p>
                    He also shared with us that a producer’s choice to buy a product is greatly guided by their
                    technical assessor. Then he told us that the assessors choose pesticides based on their
                    effectiveness, leaving the price consideration aside.
                </p>
                <p>
                    For <i>Verticillium</i>, he informed us that irrigation through bands and pivots is important
                    because
                    fungicide reaches the roots. Also, irrigation time has to be considered when water is rising by
                    capillarity, to optimize the product’s delivery method.
                </p>
                <p>
                    Right now, they are using triazoles, which attack both beneficial and pathogenic fungi.
                </p>
                <p>
                    “As workers in the agricultural industry, we are aware of the great benefits of transgenic
                    organisms. There is no basis to say they are bad.”
                </p>
            </div>
        </div>
    </div>
</div>



<div class="container" style="padding: 4rem 0 0 0;">
    <div class="row">
        <div class="col-md-5 text-center" id="boxContainer" style="padding: 0;">
            <div style="max-height: 25rem; overflow: hidden;" class="text-center">
                <img src="img/entrepreneurship/Farmer.png" alt="" width="40%"
                    style=" border-radius: 1rem; z-index: -2; margin-left: auto; margin-right: auto;">
            </div>
            <div style="padding: 4rem;">
                <h3>Eng. Sergio Montijo - Mexicali, Baja California Norte</h3>
                <h4><strong>Agronomic engineer</strong></h4>
                <p>
                    Engineer Montijo is in charge of advising 12,000 hectares in the area of San Luis Rio Colorado,
                    Sonora
                    and Mexicali, Baja California. In these regions a total amount of 28,600 and 600, respectively, are
                    planted.
                </p>


                <p>
                    During this season, of the hectares he supervises, a 10% has been affected. To treat this, he
                    resorted
                    to the use of triazoles, but since they are not effective, they end up being too expensive. As for
                    the
                    kind of products they use, they prefer liquid products given their effective solubility.
                </p>

                <p>
                    He was very kind to share with us his opinion on transgenic products:
                </p>

                <p>
                    “They present higher effectiveness; this reduces the amount of pesticides needed, which are very
                    harmful
                    to health and the environment. It is also of utmost importance to not exceed their use, since if
                    used
                    improperly, they can cause the plant to develop resistance to certain diseases.”
                </p>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5 text-center" id="boxContainer" style="padding: 0;">
            <div style="max-height: 25rem; overflow: hidden;" class="text-center">
                <img src="img/entrepreneurship/experto1.png" alt="" width="40%"
                    style=" border-radius: 1rem; z-index: -2; margin-left: auto; margin-right: auto;">
            </div>
            <div style="padding: 4rem;">
                <h3>
                    Ph.D. Silvia Lorena Montes Fonseca - Chihuahua, Chihuahua
                </h3>
                <h4>
                    <strong>Nanoencapsulation expert</strong>
                </h4>
                <p>
                    Doctor and national investigator level 1, Silvia Lorena is a nanotechnology researcher. During our
                    approach, she shared the advantages of nanoencapsulated products, among which are greater efficiency
                    and less pollution.
                </p>
                <p>
                    She let us know the considerations for choosing a nanocapsule’s components. Since its purpose was to
                    serve as a biofungicide, it was essential to consider heat resistance, potential photodegradation
                    and biodegradability.
                </p>
                <p>
                    For the components, she mentioned that chitosan has been broadly studied and has an amazing
                    versatility. Also, she assured us that nanoencapsulating different peptides in the same capsule,
                    does not represent any theoretical risk.
                </p>
            </div>
        </div>
    </div>
</div>



<div class="container" style="padding: 4rem 0 0 0;">
    <div class="row">
        <div class="col-md-5 text-center" id="boxContainer" style="padding: 0;">
            <div style="max-height: 25rem; overflow: hidden;" class="text-center">
                <img src="img/entrepreneurship/experto1.png" alt="" width="40%"
                    style=" border-radius: 1rem; z-index: -2; margin-left: auto; margin-right: auto;">
            </div>
            <div style="padding: 4rem;">
                <h3>M.B.A Rocío Ramírez - Chihuahua, Chihuahua</h3>
                <h4><strong>Business expert</strong></h4>
                <p>
                    Rocío advises companies in the financial field. However, during our approach she helped us to settle
                    the bases for our business model and canvas; as well as to understand the role the entrepreneurship
                    area played in our project.
                </p>
                <p>
                    She also told us about a commonly used framework by companies to evaluate if a project was
                    sustainable or not: The Triple Bottom Line.
                </p>
            </div>
        </div>
    </div>
</div>



<div class="container" style="margin-top: 8rem;">
    <div class="row" style="text-align: center;">
        <h1>Government Institutions </h1>
    </div>
</div>

<div class="container" style="padding: 4rem 0 0 0;">
    <div class="row">
        <div class="col-md-5 text-center" id="boxContainer" style="padding: 0;">
            <div style="max-height: 25rem; overflow: hidden;" class="text-center">
                <img src="img/human/ComitéEstataldeSanidad.png" alt="" width="40%"
                    style=" border-radius: 1rem; z-index: -2; margin-left: auto; margin-right: auto;">
            </div>
            <div style="padding: 4rem;">
                <h3>“State Committee for Plant Health” - Chihuahua</h3>
                <h4><strong>Environmental area</strong></h4>
                <h5>"I bet on the area of ​​biopesticides, it is a core part of the future." </h5>
                <p>
                    In the meeting with the Eng. Alfonso Soto, we learned that cotton is one of the most important crops
                    and
                    that 95% of them in our state are located at the northern and northwestern zone of the state of
                    Chihuahua.
                </p>

                <p>
                    Products derived from cotton crops are, mostly, sold to the national textile companies of Puebla,
                    Estado
                    de Mexico, and Hidalgo, as well as exported to countries like Pakistan, China, Japan, and
                    Afghanistan.
                </p>

                <p>
                    He confirmed the presence of Verticillium dahliae on cotton and chili crops. Usually, to inhibit
                    this
                    type of pathogens, transgenic seeds are used, however, the government only supported producers to
                    purchase them 2 years ago.
                </p>

                <p>
                    Cotton can be classified according to its resistance, micro, and fiber length. Unfortunately,
                    Verticillium wilt is capable of affecting any of these parameters, decreasing its selling price.
                </p>

                <p>
                    He also told us that there isn’t a lot of information about the issue because authorities do not
                    give it
                    the importance it deserves. It is assumed that because Chihuahua has such a great production, it
                    does
                    not suffer from important pathogens in its crops, however, there are many marginal zones in the
                    state
                    who desperately need support.
                </p>

                <p>
                    “More interest is needed to continue collecting and spreading this information.”
                </p>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5 text-center" id="boxContainer" style="padding: 0;">
            <div style="max-height: 25rem; overflow: hidden;" class="text-center">
                <img src="img/human/cofepris1-compressor.jpg" alt="" width="100%"
                    style=" border-radius: 1rem; z-index: -2; margin-left: auto; margin-right: auto;">
            </div>
            <div style="padding: 4rem;">
                <h3>
                    “Federal Commission for Protection against Health Risks”- México
                </h3>
                <h4>
                    <strong>Environmental</strong>
                </h4>
                <p>
                    COFEPRIS is an institution responsible for exercising health regulation, control, and promotion, as
                    well
                    as the prevention and control of harmful effects of environmental factors on health, among other
                    tasks.
                </p>

                <p>
                    With the purpose of familiarizing ourselves with the legal classification and health norms that our
                    project must comply with, a technical consult was realized where a document describing our product
                    and
                    the methodology for its elaboration was sent. However, to obtain any sort of answer you must wait a
                    period of 180 months.
                </p>
            </div>
        </div>
    </div>
</div>


<div class="container" style="padding: 4rem 0 0 0;">
    <div class="row">
        <div class="col-md-5 text-center" id="boxContainer" style="padding: 0;">
            <div style="max-height: 25rem; overflow: hidden;" class="text-center">
                <img src="img/human/SDR.png " width="100%"
                    style=" border-radius: 1rem; z-index: -2; margin-left: auto; margin-right: auto;">
            </div>
            <div style="padding: 4rem;">
                <h3>“Secretary of Rural Development” - Chihuahua, Chihuahua</h3>
                <h4><strong>Grad. Silvia Gomar, Eng. Carlos Monarrez and Eng. Ricardo Márquez</strong></h4>
                <p>
                    The Secretary of Rural Development seeks to boost the Agricultural and Forestal Sector, increasing
                    its productivity through abilities, development, and technology application.
                </p>

                <p>
                    During our interview, they let us know the great importance of cotton crops, both for our country’s
                    economy, as for our society, since it is a considerable source of employment. Chihuahua, our state,
                    produces a large amount of cotton that helps fulfill national demand, but there is still a lot to be
                    done.
                </p>

                <p>
                    They had no clue about the degree Verticillium wilt affected our state’s and country’s cotton crops.
                    When hearing about this, they were surprised, but they shared with us, that unfortunately, in many
                    cases they cannot fund certain investigations. Finally they acknowledged how on some occasions
                    producers do not have enough confidence to approach institutions like them.
                </p>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5 text-center" id="boxContainer" style="padding: 0;">
            <div style="max-height: 25rem; overflow: hidden;" class="text-center">
                <img src="img/human/Logo_INIFAP_inv_color___1_.png" alt="" width="40%"
                    style=" border-radius: 1rem; z-index: -2; margin-left: auto; margin-right: auto;">
            </div>
            <div style="padding: 4rem;">
                <h3>
                    "National Institute of Forestal, Agricultural and Livestock Research"- Delicias, Chihuahua
                </h3>
                <h4>
                    <strong>Engineer Hugo Raúl Uribe Montes</strong>
                </h4>
                <p>
                    INIFAP is a research center that seeks to generate scientific knowledge and technologies that
                    contribute to the sustainability of the forestal, agricultural and livestock sub-sectors in our
                    country.
                </p>

                <p>
                    Eng. Uribe is responsible for the investigations regarding cotton crops. He is in charge of
                    generating technology or approaching problems that affect the producer. He informed us that at this
                    institute <i>Verticillium dahliae</i> is not treated, because their budget is not enough to fund
                    this.
                </p>
                <p>
                    Talking about fungicides he mentioned how the producer should be trained in their proper use. To
                    prevent the fungi from developing resistance, the product is constantly changed, because it is
                    necessary to have an interference of different action mechanisms, as well as applying products in
                    low concentrations. Finally he shared with us how using preventive products improve the results
                    obtained during harvest season.
                </p>
            </div>
        </div>
    </div>
</div>


<div class="container" style="margin-top: 8rem;">
    <div class="row" style="text-align: center;">
        <h1>Industrial Deseeder </h1>
    </div>
</div>

<div class="container" style="padding: 4rem 0 0 0;">
    <div class="row">
        <div class="col-md-5 text-center" id="boxContainer" style="padding: 0;">
            <div style="max-height: 25rem; overflow: hidden;" class="text-center">
                <img src="https://2019.igem.org/wiki/images/d/d9/T--Tec-Chihuahua--fabrica.png" alt="" width="50%"
                    style=" border-radius: 1rem; z-index: -2; margin-left: auto; margin-right: auto;">
            </div>
            <div style="padding: 4rem;">
                <h3>Enrique Moreno - Ascensión, Chihuahua</h3>
                <h4>"I bet on the area of ​​biopesticides, it is a core part of the future." </h4>
                <p>
                    He is a manager at the ginner “Empresa Integradora de Agroquímicos” in the city of Ascensión
                    Chihuahua. Around 13 to 15 people work there, and even when they consider themselves a small ginner,
                    they produce around 5600 bales each year.
                </p>

                <p>
                    After the ginning, they use the waste as livestock feed, while the fiber is sold inside the country.
                </p>

                <p>
                    He is aware of the existence of <i>Verticillium dahliae</i>, and told us that he has noticed havoc
                    in the
                    fiber’s quality in recent years. As far as he knows, the INIFAP is currently researching about
                    transgenic seeds resistant to <i>Verticillium</i>.
                </p>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5 text-center" id="boxContainer" style="padding: 0;">
            <div style="max-height: 25rem; overflow: hidden;" class="text-center">
                <img src="https://2019.igem.org/wiki/images/d/d9/T--Tec-Chihuahua--fabrica.png" alt="" width="50%"
                    style=" border-radius: 1rem; z-index: -2; margin-left: auto; margin-right: auto;">
            </div>
            <div style="padding: 4rem;">
                <h3>
                    César Negrete - Delicias, Chihuahua
                </h3>
                <p>
                    He is a manager at the ginner “Del Desierto” in the city of Delicias, Chihuahua. Despite producing
                    up to 22,000 bales, the production has decreased in the past 3 years.
                </p>

                <p>
                    The final product is exported inside the country. If production continues to decrease, there is a
                    high chance that textile companies in Mexico start importing a larger amount of cotton from other
                    countries. Likewise, the jobs of the 50 people that work at the ginner would be at risk.
                </p>
                <p>
                    Besides getting comments, suggestions and feedback, we were able to share our project and let people
                    know more about the problematic, synthetic biology, what iGEM is and, in general, our project.
                </p>
            </div>
        </div>
    </div>
</div>


<div class="gradient-divider" style="margin-top: 2rem; margin-bottom: 2rem;"></div>
<div class="container">
    <div class="row text-center">
        <div class="col-md-12">
            <h1 style="margin-top: 4rem; margin-bottom: 4rem;">How Did Everything Start?</h1>
        </div>
    </div>
</div>
<div class="jumbotron-fluid grey_light-block pt-5" style="margin-top: 8rem; margin-bottom: 4rem;">
    <div class="container">
        <div class="timeline  white">

            <div class="point"> </div>

            <div class="point">
                <div class="date"> 2012 </div>
                <div class="bocata  text-left row">
                    <div class="col-md-12">
                        <h2>Title</h2>
                    </div>
                    <div class="col-md-6">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when
                            an
                            unknown printer took a galley of type and scrambled it to make a type specimen book
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p>
                            Constitution of the company and a basic team
                        </p>
                    </div>
                </div>
                <i class="arrow"></i>
            </div>

            <div class="point">
                <div class="date"> 2013 </div>
                <div class="bocata  text-left row">
                    <div class="col-md-12  bold pb-2">
                        <h2>Title</h2>
                    </div>
                    <div class="col-md-6  ">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when
                            an
                            unknown printer took a galley of type and scrambled it to make a type specimen book
                        </p>
                    </div>
                    <div class="col-md-6  ">
                        <p>
                            Constitution of the company and a basic team
                        </p>
                    </div>
                </div>
                <i class="arrow"></i>
            </div>

            <div class="point">
                <div class="date"> 2014 </div>
                <div class="bocata  text-left row">
                    <div class="col-md-12  bold pb-2">
                        <h2>Title</h2>
                    </div>
                    <div class="col-md-6  ">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when
                            an
                            unknown printer took a galley of type and scrambled it to make a type specimen book
                        </p>
                    </div>
                    <div class="col-md-6  ">
                        <p>
                            Constitution of the company and a basic team
                        </p>
                    </div>
                </div>

                <i class="arrow"></i>
            </div>

            <div class="point">
                <div class="date"> 2015 </div>
                <div class="bocata  text-left row">
                    <div class="col-md-12  bold pb-2">
                        <h2>Title</h2>
                    </div>
                    <div class="col-md-6  ">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when
                            an
                            unknown printer took a galley of type and scrambled it to make a type specimen book
                        </p>
                    </div>
                    <div class="col-md-6  ">
                        <p>
                            Constitution of the company and a basic team
                        </p>
                    </div>
                </div>
                <i class="arrow"></i>
            </div>

            <div class="point">
                <div class="date"> 2016 </div>
                <div class="bocata  text-left row">
                    <div class="col-md-12  bold pb-2">
                        <h2>Title</h2>
                    </div>
                    <div class="col-md-6  ">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when
                            an
                            unknown printer took a galley of type and scrambled it to make a type specimen book
                        </p>
                    </div>
                    <div class="col-md-6  ">
                        <p>
                            Constitution of the company and a basic team
                        </p>
                    </div>
                </div>
                <i class="arrow"></i>
            </div>

            <div class="point">
                <div class="date"> 2017 </div>
                <div class="bocata  text-left row">
                    <div class="col-md-12  bold pb-2">
                        <h2>Title</h2>
                    </div>
                    <div class="col-md-6  ">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when
                            an
                            unknown printer took a galley of type and scrambled it to make a type specimen book
                        </p>
                    </div>
                    <div class="col-md-6  ">
                        <p>
                            Constitution of the company and a basic team
                        </p>
                    </div>
                </div>
                <i class="arrow"></i>
            </div>

            <div class="point">
                <div class="date"> 2018 </div>
                <div class="bocata   text-left row">
                    <div class="col-md-12  bold pb-2">
                        <h2>Title</h2>
                    </div>
                    <div class="col-md-6  ">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when
                            an
                            unknown printer took a galley of type and scrambled it to make a type specimen book
                        </p>
                    </div>
                    <div class="col-md-6  ">
                        <p>
                            Constitution of the company and a basic team
                        </p>
                    </div>
                </div>
                <i class="arrow"></i>
            </div>

            <div class="point">
                <div class="date"> 2019 </div>
                <div class="bocata   text-left row">
                    <div class="col-md-12  bold pb-2">
                        <h2>Title</h2>
                    </div>
                    <div class="col-md-6  ">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when
                            an
                            unknown printer took a galley of type and scrambled it to make a type specimen book
                        </p>
                    </div>
                    <div class="col-md-6  ">
                        <p>
                            Constitution of the company and a basic team
                        </p>
                    </div>
                </div>
                <i class="arrow"></i>
                <i class="arrow-clean"></i>
            </div>

        </div>
    </div>
</div>

<div class="gradient-divider" style="margin-top: 2rem; margin-bottom: 2rem;"></div>

<div class="container">
    <div class="row text-center" style="margin: 4rem;">
        <h1>In Our Way to a Biosecure Product</h1>
    </div>
    <div style="position: relative;">
        <div class="row">
            <div class="section-line-cyan"></div>
            <div class="col-md-7">
                <h2>First subtitle</h2>
                <h3>Small description header.</h3>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem, inventore vitae voluptatibus
                    dolores cum veniam qui possimus dolor quas sequi molestiae nesciunt nobis repellat pariatur
                    atque?
                    Odit reiciendis at itaque! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam
                    quam
                    sed rem commodi expedita vel, voluptate voluptatibus assumenda! Cumque consectetur perferendis
                    deserunt aliquid, exercitationem quo architecto quisquam velit repellendus quos.
                </p>
            </div>
            <div class="col-md-3">
                <img src="https://via.placeholder.com/400x250" class="img-responsive" width="100%" height="100%">
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <h2>List section</h2>
                <ul>
                    <li>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic porro nemo omnis molestias
                            architecto aliquid ea temporibus.
                        </p>
                    </li>
                    <li>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic porro nemo omnis molestias
                            architecto aliquid ea temporibus.
                        </p>
                    </li>
                    <li>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic porro nemo omnis molestias
                            architecto aliquid ea temporibus.
                        </p>
                    </li>
                    <li>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic porro nemo omnis molestias
                            architecto aliquid ea temporibus.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="gradient-divider" style="margin-top: 8rem; margin-bottom: 8rem;"></div>


<div class="container">
    <div class="row text-center">
        <h1 style="margin-top: 4rem; margin-bottom: 4rem;">Big Section for Legal Plan</h1>
    </div>
    <div style="position: relative;">
        <div class="section-line-green"></div>
        <div class="row text-center">
            <div class="col-md-12">
                <h2 style="margin-top: 4rem; margin-bottom: 4rem;">Legal Plan</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, placeat. Cupiditate odio
                    praesentium dolorum blanditiis esse molestias vel voluptate totam quae maiores laborum,
                    reiciendis
                    suscipit ipsa repellendus expedita dignissimos libero. Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. In, est. Culpa illum adipisci vel in eaque perferendis ducimus maiores
                    repudiandae
                    iusto omnis fuga, qui saepe sunt hic? Aut, laboriosam suscipit! Lorem ipsum dolor, sit amet
                    consectetur adipisicing elit. Quasi, quas optio! Eveniet voluptatibus in numquam corporis itaque
                    totam nostrum. Perspiciatis nihil rerum mollitia. Dolor rerum praesentium labore sed velit odit?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi sit id ea quod fugiat consequuntur
                    placeat rerum doloribus, quas ipsa, totam vitae illum rem nemo culpa excepturi delectus laborum
                    est?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, placeat. Cupiditate odio
                    praesentium dolorum blanditiis esse molestias vel voluptate totam quae maiores laborum,
                    reiciendis
                    suscipit ipsa repellendus expedita dignissimos libero. Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. In, est. Culpa illum adipisci vel in eaque perferendis ducimus maiores
                    repudiandae
                    iusto omnis fuga, qui saepe sunt hic? Aut, laboriosam suscipit! Lorem ipsum dolor, sit amet
                    consectetur adipisicing elit. Quasi, quas optio! Eveniet voluptatibus in numquam corporis itaque
                    totam nostrum. Perspiciatis nihil rerum mollitia. Dolor rerum praesentium labore sed velit odit?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi sit id ea quod fugiat consequuntur
                    placeat rerum doloribus, quas ipsa, totam vitae illum rem nemo culpa excepturi delectus laborum
                    est?
                </p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <h2 style="margin-top: 4rem; margin-bottom: 4rem;">Two paragraph section</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem tempore nostrum unde
                    quibusdam adipisci odio maxime veritatis ut, eos quia vero quos excepturi ratione officia at
                    soluta,
                    quae esse dolores? Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse id veritatis
                    voluptatum earum harum saepe facere nesciunt distinctio dolorem. Vel hic ipsum molestias non
                    cupiditate quidem quae repellat quibusdam animi! Lorem ipsum dolor sit amet consectetur
                    adipisicing
                    elit. Beatae maxime tempore officia quis nisi quibusdam repellendus, eligendi libero, non
                    aliquam,
                    mollitia corporis aut perspiciatis deleniti rerum quas fuga ab in. Lorem ipsum dolor sit amet
                    consectetur, adipisicing elit. At totam, quos est veritatis porro aut. Commodi dignissimos hic
                    officiis ipsa adipisci? Nobis soluta neque dolore earum, excepturi explicabo quis sapiente.
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem tempore nostrum unde
                    quibusdam adipisci odio maxime veritatis ut, eos quia vero quos excepturi ratione officia at
                    soluta,
                    quae esse dolores? Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse id veritatis
                    voluptatum earum harum saepe facere nesciunt distinctio dolorem. Vel hic ipsum molestias non
                    cupiditate quidem quae repellat quibusdam animi! Lorem ipsum dolor sit amet consectetur
                    adipisicing
                    elit. Beatae maxime tempore officia quis nisi quibusdam repellendus, eligendi libero, non
                    aliquam,
                    mollitia corporis aut perspiciatis deleniti rerum quas fuga ab in. Lorem ipsum dolor sit amet
                    consectetur, adipisicing elit. At totam, quos est veritatis porro aut. Commodi dignissimos hic
                    officiis ipsa adipisci? Nobis soluta neque dolore earum, excepturi explicabo quis sapiente.
                </p>
            </div>
        </div>
        <div class="row text-center">
            <h2 style="margin-top: 4rem; margin-bottom: 4rem;">Paragraph with figure on right</h2>
        </div>
        <div class="row">
            <div class="col-md-9 text-center">
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem tempore nostrum unde
                    quibusdam adipisci odio maxime veritatis ut, eos quia vero quos excepturi ratione officia at
                    soluta,
                    quae esse dolores? Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse id veritatis
                    voluptatum earum harum saepe facere nesciunt distinctio dolorem. Vel hic ipsum molestias non
                    cupiditate quidem quae repellat quibusdam animi! Lorem ipsum dolor sit amet consectetur
                    adipisicing
                    elit. Beatae maxime tempore officia quis nisi quibusdam repellendus, eligendi libero, non
                    aliquam,
                    mollitia corporis aut perspiciatis deleniti rerum quas fuga ab in. Lorem ipsum dolor sit amet
                    consectetur, adipisicing elit. At totam, quos est veritatis porro aut. Commodi dignissimos hic
                    officiis ipsa adipisci? Nobis soluta neque dolore earum, excepturi explicabo quis sapiente.
                </p>
            </div>
            <div class="col-md-3 text-center">
                <div class="box">
                    <img src="https://via.placeholder.com/150" width="100%" height="100%" class="img-responsive">
                    <div class="overbox">
                        <div class="tagline overtext"> Some stuff </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>