<link rel="stylesheet" href="css/legal.css">


<header style="margin-bottom: 0;">
    <div class="headerContainer">
        <div class="imgContent"></div>
        <div id="bannersection">
            <div class="bannercontent">
                <h1 class="mainHeader">Legal</h1>
            </div>
        </div>
    </div>
</header>

<div id="legal">
    <div class="container" id="boxContainer">
        <div class="row text-center">
            <h1>Legal Plan</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>
                    In recent years, science activities, especially biotechnology activities, have impacted many other
                    areas
                    and
                    sciences, including law. Every day, laws and regulations are created in order to regulate and
                    delimit
                    the
                    field of action of biotechnology.
                </p>

                <p>
                    This Legal Plan has been created with the intention of analyzing, forecasting, planning and
                    investigating
                    all possible contingencies, situations or requirements that V-TION must meet (hereinafter the
                    “<u>Project</u>”
                    or
                    the “<u>Product</u>”) before it is produced and distributed, according to laws and regulations.
                </p>

                <p>
                    This Legal Plan stipulates:
                </p>

                <ul>
                    <li>General Analysis of the Product.</li>
                    <li>Current Status: including national and international criteria, in order to obtain more complex
                        and
                        wide information.</li>
                    <li>Applicable Law and Competent Authorities: which delimits jurisdiction and applicable legal
                        criteria.
                    </li>
                    <li>Product Classification.</li>
                    <li>Permits, Licences and Authorizations: including import and export permits.</li>
                    <li>Risk Analysis and Assessment.</li>
                    <li>Entrepreneurship area entailment.</li>
                    <li>Human Practices entailment.</li>
                </ul>
                <p>
                    The complete Legal Plan can be visualized here:
                </p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <button data-toggle="collapse" data-target="#LegalPlanPDF">Open</button>
                <div id="LegalPlanPDF" class="collapse">
                    <embed src="" width="80%" style="margin-left: auto; margin-right: auto;">
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="boxContainer">
        <div class="row text-center">
            <h1>Technical Request of Information</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>
                    One of the main problems acknowledged by the Team through the Project’s legal analysis was its
                    correct legal classification. This classification is especially relevant, since it is necessary to
                    know the requirements and concepts handled by the competent authority, since scientific and
                    technical terms may vary in laws and regulations, generating confusion in who conducts research or
                    develops projects.
                </p>

                <p>
                    Based on the foregoing, on September 18, 2019, a Technical Request of Information was filed at
                    COFEPRIS (Federal Commission for the Protection against Sanitary Risks), in order to request
                    information from such authority for the correct classification of the Product.
                </p>

                <p>
                    Such document was filed to produce the following effects:
                </p>

                <ul>
                    <li>Project’s projection</li>
                    <li>Generation of value of the Project</li>
                    <li>Forecasting errors in the Product classification</li>
                    <li>First formal brief filing towards competent authority, which has informative and preparatory
                        value</li>
                    for the procedures required to obtain the necessary permits.
                </ul>
                <p>
                    Such document can be visualized here:
                </p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <button data-toggle="collapse" data-target="#TRI">Open</button>
                <div id="TRI" class="collapse">
                    <embed src="" width="80%" style="margin-left: auto; margin-right: auto;">
                </div>
            </div>
        </div>
    </div>

    <div class="container" id="boxContainer">
        <div class="row text-center">
            <h1>Risk Analysis and Assessment</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>
                    As noted in the attached document, it is important that the Project complies with all regulations in
                    this area. In order to reinforce the Project with the above, a Risk Analysis and Assessment document
                    has been created, and it contains all necessary provisions to ensure that the Product is produced,
                    marketed and released into the environment, complying with all of the necessary regulations.
                </p>

                <p>
                    This document constitutes a compliance record for the producer and the distributor, as it contains
                    the main obligations and recommendations to avoid contingencies or disasters. For this, academic
                    documents, diverse national and international protocols and Official Mexican Standards (NOMs) have
                    been consulted for the implementation of recommendations in the Project.
                </p>

                <p>
                    Such document was filed to produce the following effects:
                </p>
                <p>
                    The Risk Analysis and Assessment document can be visualized here:
                </p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <button data-toggle="collapse" data-target="#RAA">Open</button>
                <div id="RAA" class="collapse">
                    <embed src="" width="80%" style="margin-left: auto; margin-right: auto;">
                </div>
            </div>
        </div>
    </div>

    <div class="container" id="boxContainer">
        <div class="row text-center">
            <h1>Non-tangible Protection</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>
                    Given that the Project may have an environmental and economic impact in the future, it has been
                    projected also as company. The Mexican legal system requires companies to be incorporated before a
                    Notary Public, so a company’s incorporation project (including bylaws) has been generated, so that,
                    at any time, the Project can acquire the necessary formality required by law.
                </p>

                <p>
                    <strong>NOTE:</strong> Company’s Bylaws have not been translated. Such format is signed and filed
                    and spanish, but it
                    very general terms:
                </p>
                <ol>
                    <li>Company’s day to day operation is detailed.</li>
                    <li>POA’s are granted and acknowledged.</li>
                    <li>General Meetings’ requirements are described and enlisted.</li>
                    <li>Company’s dividends’ distribution, dissolution and liquidation procedures are described.</li>
                </ol>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <button data-toggle="collapse" data-target="#ntp">Open</button>
                <div id="ntp" class="collapse">
                    <embed src="" width="80%" style="margin-left: auto; margin-right: auto;">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>
                    Likewise, an analysis of “V-TION” as a trademark was made at IMPI (Mexican Trademark Authority).
                    This
                    document analyzes the possible interferences or problems that may arise when trying to register the
                    “V-TION” as a registered trademark. The protection of trademarks in Mexico, in recent years, has
                    increased greatly, as companies and individuals have become aware that trademarks are the most
                    important
                    intangible asset they may have when entering into a competitive market.
                </p>
                <p>
                    Also, in order to know the value of the Project in the market, a Letter of Intent format has been
                    generated, so that people interested in knowing or implementing the Product express, without binding
                    effects, their intention to acquire the Product in the future. It is important to note that this
                    document does not constitute an obligation (or liability) between the parties.
                </p>
                <p>
                    V-TION Incorporation document (format) can be visualized here:
                </p>
            </div>
        </div>
        <div class="row text-center">
            <button data-toggle="collapse" data-target="#FORMATOCONS">Open</button>
            <div id="FORMATOCONS" class="collapse">
                <embed src="" width="80%" style="margin-left: auto; margin-right: auto;">
            </div>
        </div>
        <div class="row text-center">
            <p>
                V-TION Trademark report can be visualized here:
            </p>
            <button data-toggle="collapse" data-target="#marca">Open</button>
            <div id="marca" class="collapse">
                <embed src="" width="80%" style="margin-left: auto; margin-right: auto;">
            </div>
        </div>
        <div class="row text-center">
            <p>
                Letter of Intent:
            </p>

            <button data-toggle="collapse" data-target="#intent">Open</button>
            <div id="intent" class="collapse">
                <embed src="" width="80%" style="margin-left: auto; margin-right: auto;">
            </div>
        </div>
    </div>

    <div class="container" id="boxContainer">
        <div class="row text-center">
            <h1>Data Protection</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>
                    Finally, V-TION is a project committed to protect personal data of its users, i.e. possible clients
                    and producers. Due to the foregoing, a Privacy Policy document has been made promising
                    confidentiality upon their personal data.
                </p>
                <p>
                    Privacy Policy document can be visualized here:
                </p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <button data-toggle="collapse" data-target="#PP">Open</button>
                <div id="PP" class="collapse">
                    <embed src="" width="80%" style="margin-left: auto; margin-right: auto;">
                </div>
            </div>
        </div>
    </div>
</div>