<link rel="stylesheet" href="css/mathematicalModel.css">

<header>
    <div class="headerContainer">
        <div id="bannersection">
            <div class="bannercontent">
                <h1 class="mainHeader">Mathematical Model</h1>
            </div>
        </div>

    </div>

</header>

<link rel="stylesheet" href="css/mathematicalModel.css">

<div class="container">
    <div class="index">
        <ul>
            <li class="hover"><a href="#abstract">1. Abstract</a></li>
            <li class="hover"><a href="#overview">2. Overview</a></li>
            <li class="hover"><a href="#theoretical-model">3. Theoretical Model</a></li>
            <li class="hover"><a href="#conclusion">4. Conclusion</a></li>
        </ul>
    </div>
</div>