<link rel="stylesheet" href="css/mathematicalModel.css">

<header>
    <div class="headerContainer">
        <video sutoplay muted loop id=""
        <source src="img/descriptionHeader.mp4" type="video/mp4">
    </div>
</header>