<link rel="stylesheet" href="css/mathematicalModel.css">

<header>
    <div class="headerContainer">
        <video autoplay muted loop id="header-bground">
            <source src="img/descriptionHeader.mp4" type="video/mp4">
            Your browser does not support HTML5 video
            </source>
        </video>
        <div id="bannersection">
            <div class="bannercontent">
                <h1 class="mainHeader">Mathematical<br>Model</h1>
            </div>
        </div>
    </div>
</header>

<div class="container mainContainer">
    <div style="position: relative;">
        <div class="container">
            <div class="row">
                <div class="section-line-cyan"></div>
                <div class="col-md-12">
                    <h2>Abstract</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos quasi tempora accusantium
                        voluptatum
                        quo iusto, odit rerum exercitationem qui. Autem dicta, quam officia quaerat perspiciatis
                        veritatis
                        in quis rem aliquam!
                        <!-- AQUÃ VA EL ABSTRACT -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>