<link rel="stylesheet" href="cssmodel.css">

<header>
    <div class="headerContainer">
        <video autoplay muted loop id="header-bground">
            <source src="img/descriptionHeader.mp4" type="video/mp4">
            Your browser does not support HTML5 video
            </source>
        </video>
        <div id="bannersection">
            <div class="bannercontent">
                <h1 class="mainHeader">Mathematical<br>Model</h1>
            </div>
        </div>
    </div>
</header>


<section class="main-content">
    <div class="col-md-3">

        <div class="index">
            <h3>Index</h3>
            <ul>
                <a href="#abstract">
                    <li class="index-title">Abstract</li>
                </a>
                <a>
                    <li class="index-sub"> Aber</li>
                </a>
                <a href="#overview">
                    <li class="index-title">Overview</li>
                </a>
                <a href="#theoretical-model">
                    <li class="index-title">Theoretical Model</li>
                </a>
                <a href="#conclusion">
                    <li class="index-title">Conclusion</li>
                </a>
            </ul>
        </div>
    </div>
    <div class="col-md-9" style="padding-left: 5%">
        <p>
            H<br>
            O<br>
            L<br>
            A<br>
            <br>
            N<br>
            O<br>
            M<br>
            A<br>
            S<br>
            <br>
            Q<br>
            U<br>
            I<br>
            E<br>
            R<br>
            O<br>
            <br>
            V<br>
            E<br>
            R<br>
            <br>
            E<br>
            L<br>
            <br>
            S<br>
            T<br>
            I<br>
            C<br>
            K<br>
            Y<br>
            <br>
            H<br>
            A<br>
            H<br>
            A<br>
            <br>
            H<br>
            A<br>
            S<br>
            T<br>
            A<br>
            <br>
            L<br>
            U<br>
            E<br>
            G<br>
            O<br>
            <br>
            B<br>
            Y<br>
            E<br>
            <br>
        </p>
    </div>
</section>