<header>
    <div class="headerContainer">
        <video autoplay muted loop id="header-bground">
            <source src="img/descriptionHeader.mp4" type="video/mp4">
            Your browser does not support HTML5 video
            </source>
        </video>
        <div id="bannersection">
            <div class="bannercontent">
                <h1 class="mainHeader">Mathematical<br>Model</h1>
            </div>
        </div>
    </div>
</header>





<div class="index index-container" id="model-index">

    <h3 style="margin-left: 10%"><b>Index</b></h3>

    <ul>
        <a href="#abstract">
            <li class="index-title">Abstract</li>
        </a>
        <a href="#overview">
            <li class="index-title">Overview</li>
        </a>
        <a href="#theoretical-model">
            <li class="index-title">Theoretical Model</li>
        </a>
        <a href="#conclusion">
            <li class="index-title">Conclusion</li>
        </a>
    </ul>

</div>
<section class="main-content">
    <div class="col-md-3" style="margin: 0 auto;"></div>

    <div class="col-md-9">

    </div>
</section>