<link rel="stylesheet" href="/css/notebook.css">

<header>
    <div class="headerContainer">
        <video autoplay muted loop id="myVideo">
            <source src="img/descriptionHeader.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
            </source></video>
        <div id="bannersection">
            <div class="bannercontent">
                <h1 class="mainHeader">Notebook</h1>
            </div>
        </div>
    </div>
</header>
<div class="sticky">
    <div id="pullout">
        <div id="pullout-tab"></div>
        <div id="pullout-inner">
            <div id="calendar-container">
                <h1 id="calendar-title">
                    <div class="btn left"></div>
                    <span id="monthTitle">April, 2019</span>
                    <div class="btn right"></div>
                </h1>
                <table id="calendar-table">
                    <tr>
                        <th>Sun</th>
                        <th>Mon</th>
                        <th>Tue</th>
                        <th>Wed</th>
                        <th>Thu</th>
                        <th>Fri</th>
                        <th>Sat</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>8</td>
                        <td>9</td>
                        <td>10</td>
                        <td>11</td>
                        <td>12</td>
                        <td>13</td>
                    </tr>
                    <tr>
                        <td>14</td>
                        <td>15</td>
                        <td>16</td>
                        <td>17</td>
                        <td>18</td>
                        <td>19</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td>21</td>
                        <td>22</td>
                        <td>23</td>
                        <td>24</td>
                        <td>25</td>
                        <td>26</td>
                        <td>27</td>
                    </tr>
                    <tr>
                        <td>28</td>
                        <td>29</td>
                        <td>30</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                </table>
                <p id="date-text"></p>
            </div>
        </div>
    </div>

</div>

<div class="notebook-content">

    <div class="container July-24 dateContent">
        <div class="row text-center">
            <div class="col-md-12">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci vitae blanditiis quasi doloribus,
                    repellendus ullam consectetur sequi maiores eaque vero dolores harum, perferendis nostrum, ratione
                    ipsam laboriosam quisquam reiciendis. Eos? Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Doloribus, facilis enim. Quod assumenda quasi itaque nulla est id recusandae aut deleniti quia
                    dolores, nam perspiciatis voluptatibus, consequuntur doloremque ullam molestias.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci vitae blanditiis quasi doloribus,
                    repellendus ullam consectetur sequi maiores eaque vero dolores harum, perferendis nostrum, ratione
                    ipsam laboriosam quisquam reiciendis. Eos? Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Doloribus, facilis enim. Quod assumenda quasi itaque nulla est id recusandae aut deleniti quia
                    dolores, nam perspiciatis voluptatibus, consequuntur doloremque ullam molestias.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci vitae blanditiis quasi doloribus,
                    repellendus ullam consectetur sequi maiores eaque vero dolores harum, perferendis nostrum, ratione
                    ipsam laboriosam quisquam reiciendis. Eos? Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Doloribus, facilis enim. Quod assumenda quasi itaque nulla est id recusandae aut deleniti quia
                    dolores, nam perspiciatis voluptatibus, consequuntur doloremque ullam molestias.
                </p>
            </div>
        </div>
    </div>
    <div class="container June-2 dateContent">
        <div class="row text-center">
            <h1>June 2</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro dicta dignissimos ad, ipsa cum
                    numquam
                    quibusdam vel
                    omnis facere nostrum aspernatur eaque! Vero impedit cumque sequi. Explicabo modi rerum quia! Lorem
                    ipsum
                    dolor sit,
                    amet consectetur adipisicing elit. Unde doloribus accusantium, molestias, optio eveniet est sit
                    dolorem
                    vitae nisi
                    tenetur id. Quidem impedit necessitatibus expedita, doloribus quisquam perspiciatis sapiente
                    voluptate?
                    Lorem ipsum
                    dolor, sit amet consectetur adipisicing elit. In velit iure vel corrupti assumenda consequuntur
                    doloribus
                    sequi
                    eveniet! Quae aspernatur repellendus perspiciatis? Voluptatibus, officia. Harum aperiam sit corporis
                    praesentium
                    sequi!
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro dicta dignissimos ad, ipsa cum
                    numquam
                    quibusdam vel
                    omnis facere nostrum aspernatur eaque! Vero impedit cumque sequi. Explicabo modi rerum quia! Lorem
                    ipsum
                    dolor sit,
                    amet consectetur adipisicing elit. Unde doloribus accusantium, molestias, optio eveniet est sit
                    dolorem
                    vitae nisi
                    tenetur id. Quidem impedit necessitatibus expedita, doloribus quisquam perspiciatis sapiente
                    voluptate?
                    Lorem ipsum
                    dolor, sit amet consectetur adipisicing elit. In velit iure vel corrupti assumenda consequuntur
                    doloribus
                    sequi
                    eveniet! Quae aspernatur repellendus perspiciatis? Voluptatibus, officia. Harum aperiam sit corporis
                    praesentium
                    sequi!
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro dicta dignissimos ad, ipsa cum
                    numquam
                    quibusdam vel
                    omnis facere nostrum aspernatur eaque! Vero impedit cumque sequi. Explicabo modi rerum quia! Lorem
                    ipsum
                    dolor sit,
                    amet consectetur adipisicing elit. Unde doloribus accusantium, molestias, optio eveniet est sit
                    dolorem
                    vitae nisi
                    tenetur id. Quidem impedit necessitatibus expedita, doloribus quisquam perspiciatis sapiente
                    voluptate?
                    Lorem ipsum
                    dolor, sit amet consectetur adipisicing elit. In velit iure vel corrupti assumenda consequuntur
                    doloribus
                    sequi
                    eveniet! Quae aspernatur repellendus perspiciatis? Voluptatibus, officia. Harum aperiam sit corporis
                    praesentium
                    sequi!
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro dicta dignissimos ad, ipsa cum
                    numquam
                    quibusdam vel
                    omnis facere nostrum aspernatur eaque! Vero impedit cumque sequi. Explicabo modi rerum quia! Lorem
                    ipsum
                    dolor sit,
                    amet consectetur adipisicing elit. Unde doloribus accusantium, molestias, optio eveniet est sit
                    dolorem
                    vitae nisi
                    tenetur id. Quidem impedit necessitatibus expedita, doloribus quisquam perspiciatis sapiente
                    voluptate?
                    Lorem ipsum
                    dolor, sit amet consectetur adipisicing elit. In velit iure vel corrupti assumenda consequuntur
                    doloribus
                    sequi
                    eveniet! Quae aspernatur repellendus perspiciatis? Voluptatibus, officia. Harum aperiam sit corporis
                    praesentium
                    sequi!
                </p>
            </div>
        </div>
    </div>
</div>

<script src="/js/notebookCalendar.js"></script>