<link rel="stylesheet" href="css/parts.css">

<header style="margin-bottom: 0;">
    <div class="headerContainer">
        <div class="imgContent"></div>
        <div id="bannersection">
            <div class="bannercontent">
                <h1 class="mainHeader">Parts</h1>
            </div>
        </div>
    </div>
</header>

<div class="container" id="partCard">
    <div class="row text-center" style="margin-bottom: 5rem;">
        <h1>Basic Parts Used</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                <strong>T7 Promoter and RBS <a href="http://parts.igem.org/Part:BBa_K525998"
                        target="_blank">[BBa_K525998]</a></strong>
                This unregulated T7 promoter, which includes an integrated RBS, has high levels of transcription when
                the T7 RNA polymerase is present; thus, expression of the BioBrick™ for AtPFN1 is under the control of
                IPTG in <i>E. coli</i> BL21 (DE3) strains.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                <strong>Double Terminator from <i>E. coli</i> rrnB <a href="http://parts.igem.org/Part:BBa_B0015"
                        target="_blank">[BBa_B0015]</a></strong>
                This double terminator consists of T1 form <i>E. coli</i> rrnB, which consists of a 64 bp stem-loop, and
                TR
                from coliphage T7, which is a transcription terminator. It was used for the construction of our genetic
                circuitry, which needed an efficient and reliable terminator.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                <strong>Promoter (LacI regulated) <a href="http://parts.igem.org/Part:BBa_R0010"
                        target="_blank">[BBa_R0010]</a></strong>
                This is an inverting regulator sensitive to LacI and CAP. It contains two protein binding sites, one for
                CAP protein and the other for LacI protein. Since Lacl can be inhibited by IPTG, this promoter can be
                induced by this reagent. It was used for the construction of our circuitry, which needed an efficient
                and regulated promoter.
            </p>
        </div>
    </div>
</div>


<div class="container" id="partCard">
    <div class="row text-center" style="margin-bottom: 5rem;">
        <h1>Basic Parts Added to the Registry</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                <strong>Erv1p <a href="http://parts.igem.org/Part:BBa_K2959002">[BBa_K2959002]</a></strong>
                This DNA sequence codes for Erv1p, a protein from <i>Saccharomyces cerevisiae</i> capable of oxidizing
                thiol
                groups in proteins and catalyzing disulfide bond formation.<sup><a href="#ref1">1</a></sup> For a
                successful
                expression in <i>E.
                    coli</i>,
                it’s indispensable to avoid interactions that result in aggregation of folding intermediates. The usage
                of Erv1p is a mechanism for the formation of disulfide bonded recombinant proteins in prokaryotic
                cells.<sup><a href="#ref2">2</a></sup>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                <strong>PsDef1 <a href="http://parts.igem.org/Part:BBa_K2959003">[BBa_K2959003]</a></strong>
                This defensin, also known as <i>Pinus sylvestris</i> Defensin 1, causes morphological changes in fungi
                mycelium
                when interacting with the sphingolipid membrane on fungal cells, disrupting the membrane integrity. It
                also possesses antimicrobial activity in Gram-positive and Gram-negative bacteria.<sup><a
                        href="#ref3">3</a></sup>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                <strong>WAMP1b <a href="http://parts.igem.org/Part:BBa_K2959006">[BBa_K2959006]</a></strong>
                Antimicrobial peptide that comes from <i>Triticum kiharae</i> seeds, consists of 116 amino acids which
                includes
                10 cysteine residues that form consecutive disulfide bonds. This makes it a highly stable molecule. It
                is capable of inhibiting fungalysins from phytopathogenic fungi acting as a defense mechanism in plants
                against fungal infections.<sup><a href="#ref5">5</a>,<a href="#ref6">6</a></sup>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                <strong>AtPFN1 <a href="http://parts.igem.org/Part:BBa_K2959009">[BBa_K2959009]</a></strong>
                Also known as Arabidopsis thaliana Profilin 1, this protein is a profilin extracted from the plant
                Arabidopsis thaliana which means that it is an actin binding protein. It penetrates the cell wall and
                membrane of fungal cells, generating reactive oxygen species and mitochondrial superoxide triggering
                cell apoptosis.<sup><a href="#ref7">7</a></sup>
            </p>
        </div>
    </div>
</div>


<div class="container" id="partCard">
    <div class="row text-center">
        <h1>Composite Parts Added to the Registry</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p style="text-align: center; margin-top: 10rem;">
                <strong>Expressible PsDef1 <a href="http://parts.igem.org/Part:BBa_K2959004">[BBa_K2959004]</a></strong>
            </p>
            <img src="img/BiobricksGIF/PsDef_Ex.gif" class="img-responsive" width="50%"
                style="margin-left: auto; margin-right: auto;">
            <p>
                <i>
                    - (LacI promoter) + (RBS) + (6x His-Tag) + (PsDef1) + (Double Terminator)<br>
                    - (BBa_R0010) + (BBa_B0034) + (BBa_K2959003) + (BBa_B0015)<br>
                </i>
            </p>
            <p>
                This BioBrick™ contains the necessary genetic circuitry to be induced by IPTG and express Defensin 1
                from Pinus sylvestris. It consists of a LacI regulated promoter, RBS, the coding sequence of PsDef1 as a
                fusion protein with a 6x His-Tag for purification by metal affinity chromatography, and a double
                terminator. This BioBrick™ causes morphological changes in fungi mycelium disrupting the membrane
                integrity.<sup><a href="#ref4">4</a></sup>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p style="text-align: center; margin-top: 10rem;">
                <strong>Expressible PsDef1 with Erv1p <a
                        href="http://parts.igem.org/Part:BBa_K2959005">[BBa_K2959005]</a></strong>
            </p>
            <img src="img/BiobricksGIF/PsDef_Erv1p.gif" class="img-responsive" width="50%"
                style="margin-left: auto; margin-right: auto;">
            <p>
                <i>
                    - (LacI promoter) + (RBS) + (6x His-Tag) + (PsDef1) + (RBS) + (Erv1p) + (Double Terminator)<br>
                    - (BBa_R0010) + (BBa_B0034) + (BBa_K2959003) + (BBa_K2959002) + (BBa_B0015)<br>
                </i>
            </p>
            <p>
                This composite part consists of LacI regulated promoter, RBS, coding sequence of PsDef1 as a fusion
                protein with a 6x His-Tag, a second ribosome binding site, coding sequence for Erv1p and a double
                terminator. Expression can be positively regulated by the addition of lactose or IPTG thanks to its
                promoter. Erv1p helps with proper folding since it catalyzes the formation of disulfide bonds.<sup><a
                        href="#ref1">1</a></sup>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p style="text-align: center; margin-top: 10rem;">
                <strong>Expressible WAMP1b <a href="http://parts.igem.org/Part:BBa_K2959007">[BBa_K2959007]</a></strong>
            </p>
            <img src="img/BiobricksGIF/WAMP_Ex.gif" class="img-responsive" width="50%"
                style="margin-left: auto; margin-right: auto;">
            <p>
                <i>
                    - (LacI promoter) + (RBS) + (6x His-Tag) + (WAMP1b) + (Double Terminator)<br>
                    - (BBa_R0010) + (BBa_B0034) + (BBa_K2959006) + (BBa_K2959002) + (BBa_B0015)<br>
                </i>
            </p>
            <p>
                Composite part consisting of a LacI regulated promoter, ribosome binding site, coding sequence for
                WAMP1b as a fusion protein with a 6x His-Tag for purification by metal affinity chromatography, and a
                double terminator. This construct allows the positive expression of the peptide using IPTG or lactose
                thanks to its LacI promoter. This peptide can successfully bind to chitin and acts as a plant defense
                mechanism against fungi.<sup><a href="#ref6">6</a></sup>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p style="text-align: center; margin-top: 10rem;">
                <strong>Expressible WAMP1b with Erv1p <a
                        href="http://parts.igem.org/Part:BBa_K2959008">[BBa_K2959008]</a></strong>
            </p>
            <img src="img/BiobricksGIF/WAMP_Erv1p.gif" class="img-responsive" width="50%"
                style="margin-left: auto; margin-right: auto;">
            <p>
                <i>
                    - (LacI promoter) + (RBS) + (6x His-Tag) + (WAMP1b) + (RBS) + (Erv1p) + (Double Terminator)<br>
                    - (BBa_R0010) + (BBa_B0034) + (BBa_K2959006) + (BBa_B0015)<br>
                </i>
            </p>
            <p>
                This composite part consists of LacI regulated promoter, RBS, coding sequence of WAMP1b as a fusion
                protein with a 6x His-Tag, a second ribosome binding site, coding sequence for Erv1p, and a double
                terminator. Expression can be positively regulated by the addition of lactose or IPTG thanks to its
                promoter. Erv1p helps with proper folding since it catalyzes the formation of disulfide bonds.<sup><a
                        href="#ref1">1</a></sup>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p style="text-align: center; margin-top: 10rem;">
                <strong>Expressible AtPFN1 <a href="http://parts.igem.org/Part:BBa_K2959010">[BBa_K2959010]</a></strong>
            </p>
            <img src="img/BiobricksGIF/AtPFN1_Ex-2.gif" class="img-responsive" width="50%"
                style="margin-left: auto; margin-right: auto;">
            <p>
                <i>
                    - (T7 Promoter) + (RBS) + (6x His-Tag) + (WAMP1b) + (Double Terminator)<br>
                    - (BBa_K525998) + (BBa_K2959006) + (BBa_B0015)<br>
                </i>
            </p>
            <p>
                Composite part that consists of a T7 promoter, ribosome binding site, coding sequence for AtPFN1 as a
                fusion protein with a 6x His-Tag for purification by metal affinity chromatography, and a double
                terminator. Expression can be positively regulated by the addition of IPTG thanks to its promoter. This
                construct generates a protein capable of penetrating the cell wall and membrane of fungal cells,
                triggering cell apoptosis.<sup><a href="#ref7">7</a></sup>
            </p>
        </div>
    </div>
</div>

<div class="container shadow mainContainer" style="margin-top: 4rem; margin-bottom: 4rem;" id="references">
    <div class="row">
        <div class="col-md-12">
            <h2>References</h2>
            <ol>
                <li id="ref1">
                    Lee, J. E., Hofhaus, G., & Lisowsky, T. (2000). Erv1p from Saccharomyces cerevisiae is a FAD‐linked
                    sulfhydryl oxidase. FEBS letters, 477(1-2), 62-66. doi: 10.1016/s0014-5793(00)01767-12.
                </li>

                <li id="ref2">
                    Hatahet, F., Nguyen, V. D., Salo, K. E., & Ruddock, L. W. (2010). Disruption of reducing pathways is
                    not
                    essential for efficient disulfide bond formation in the cytoplasm of E. coli. Microbial cell
                    factories,
                    9(1), 67. doi: 10.1186/1475-2859-9-673.
                </li>

                <li id="ref3">
                    Bulat I. Khairutdinov, Elena A. Ermakova, Yuri M. Yusy- povych, Elena K. Bessolicina, Nadezhda B.
                    Tarasova, Yana Y. Toporkova, Valentina Kovaleva, Yuriy F. Zuev, Irina V. Nesmelova, NMR structure,
                    conformational dynamics, and biological activity of PsDef1 defensin from Pinus sylvestris, BBA-
                    Proteins
                    and Proteomics (2017), doi:10.1016/j.bbapap.2017.05.0124.
                </li>

                <li id="ref4">
                    Khairutdinov, B. I., Ermakova, E. A., Yusypovych, Y. M., Bessolicina, E. K., Tarasova, N. B.,
                    Toporkova,
                    Y. Y., ... & Nesmelova, I. V. (2017). NMR structure, conformational dynamics, and biological
                    activity of
                    PsDef1 defensin from Pinus sylvestris. <i>
                        Biochimica et Biophysica Acta (BBA)-Proteins and Proteomics,
                        1865
                    </i>(8), 1085-1094. doi:10.1016/j.bbapap.2017.05.0125.
                </li>

                <li id="ref5">
                    Dubovskii, P. V., Vassilevski, A. A., Slavokhotova, A. A., Odintsova, T. I., Grishin, E. V., Egorov,
                    T.
                    A., & Arseniev, A. S. (2011). Solution structure of a defense peptide from wheat with a 10-cysteine
                    motif. <i>Biochemical and Biophysical Research Communications, 411</i>(1), 14–18. doi:
                    10.1016/j.bbrc.2011.06.0586.
                </li>

                <li id="ref6">
                    Odintsova, T. I., Vassilevski, A. A., Slavokhotova, A. A., Musolyamov, A. K., Finkina, E. I.,
                    Khadeeva,
                    N. V., … Egorov, T. A. (2009). A novel antifungal hevein-type peptide fromTriticum kiharaeseeds with
                    a
                    unique 10-cysteine motif. <i>FEBS Journal, 276</i>(15), 4266–4275.
                    doi:10.1111/j.1742-4658.2009.07135.x7.
                </li>

                <li id="ref7">
                    Park, S. C., Kim, I. R., Kim, J. Y., Lee, Y., Kim, E. J., Jung, J. H., ... & Lee, J. R. (2018).
                    Molecular mechanism of Arabidopsis thaliana profilins as antifungal proteins. <i>
                        Biochimica et Biophysica
                        Acta (BBA)-General Subjects, 1862
                    </i>(12), 2545-2554. doi:10.1016/j.bbagen.2018.07.028
                </li>
            </ol>
        </div>
    </div>
</div>