<link rel="stylesheet" href="css/parts.css">

<header style="margin-bottom: 0;">
    <div class="headerContainer">
        <div class="imgContent"></div>
        <div id="bannersection">
            <div class="bannercontent">
                <h1 class="mainHeader">Parts</h1>
            </div>
        </div>
    </div>
</header>

<div class="container" id="partCard">
    <div class="row text-center" style="margin-bottom: 5rem;">
        <h1>Basic Parts Used</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                <strong>T7 Promoter and RBS <a href="http://parts.igem.org/Part:BBa_K525998"
                        target="_blank">[BBa_K525998]</a></strong>
                This unregulated T7 promoter, which includes an integrated RBS, has high levels of transcription when
                the T7 RNA polymerase is present; thus, expression of the BioBrick™ for AtPFN1 is under the control of
                IPTG in <i>E. coli</i> BL21 (DE3) strains.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                <strong>Double Terminator from <i>E. coli</i> rrnB <a href="http://parts.igem.org/Part:BBa_B0015"
                        target="_blank">[BBa_B0015]</a></strong>
                This double terminator consists of T1 form <i>E. coli</i> rrnB, which consists of a 64 bp stem-loop, and
                TR
                from coliphage T7, which is a transcription terminator. It was used for the construction of our genetic
                circuitry, which needed an efficient and reliable terminator.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                <strong>Promoter (LacI regulated) <a href="http://parts.igem.org/Part:BBa_R0010"
                        target="_blank">[BBa_R0010]</a></strong>
                This is an inverting regulator sensitive to LacI and CAP. It contains two protein binding sites, one for
                CAP protein and the other for LacI protein. Since Lacl can be inhibited by IPTG, this promoter can be
                induced by this reagent. It was used for the construction of our circuitry, which needed an efficient
                and regulated promoter.
            </p>
        </div>
    </div>
</div>


<div class="container" id="partCard">
    <div class="row text-center" style="margin-bottom: 5rem;">
        <h1>Basic Parts Added to the Registry</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                <strong>Erv1p <a href="http://parts.igem.org/Part:BBa_K2959002">[BBa_K2959002]</a></strong>
                This DNA sequence codes for Erv1p, a protein from <i>Saccharomyces cerevisiae</i> capable of oxidizing
                thiol
                groups in proteins and catalyzing disulfide bond formation.<sup><a href="">1</a></sup> For a successful
                expression in <i>E.
                    coli</i>,
                it’s indispensable to avoid interactions that result in aggregation of folding intermediates. The usage
                of Erv1p is a mechanism for the formation of disulfide bonded recombinant proteins in prokaryotic
                cells.<sup><a href="">2</a></sup>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                <strong>PsDef1 <a href="http://parts.igem.org/Part:BBa_K2959003">[BBa_K2959003]</a></strong>
                This defensin, also known as <i>Pinus sylvestris</i> Defensin 1, causes morphological changes in fungi
                mycelium
                when interacting with the sphingolipid membrane on fungal cells, disrupting the membrane integrity. It
                also possesses antimicrobial activity in Gram-positive and Gram-negative bacteria.<sup><a
                        href="">3</a></sup>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                <strong>WAMP1b <a href="http://parts.igem.org/Part:BBa_K2959006">[BBa_K2959006]</a></strong>
                Antimicrobial peptide that comes from <i>Triticum kiharae</i> seeds, consists of 116 amino acids which
                includes
                10 cysteine residues that form consecutive disulfide bonds. This makes it a highly stable molecule. It
                is capable of inhibiting fungalysins from phytopathogenic fungi acting as a defense mechanism in plants
                against fungal infections.<sup><a href="">5</a>,<a href="">6</a></sup>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                <strong>AtPFN1 <a href="http://parts.igem.org/Part:BBa_K2959009">[BBa_K2959009]</a></strong>
                Also known as Arabidopsis thaliana Profilin 1, this protein is a profilin extracted from the plant
                Arabidopsis thaliana which means that it is an actin binding protein. It penetrates the cell wall and
                membrane of fungal cells, generating reactive oxygen species and mitochondrial superoxide triggering
                cell apoptosis.<sup><a href="">7</a></sup>
            </p>
        </div>
    </div>
</div>


<div class="container" id="partCard">
    <div class="row text-center" style="margin-bottom: 5rem;">
        <h1>Composite Parts Added to the Registry</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p style="text-align: center;">
                <strong>Expressible PsDef1 <a href="http://parts.igem.org/Part:BBa_K2959004">[BBa_K2959004]</a></strong>
            </p>
            <img src="https://via.placeholder.com/150" class="img-responsive" width="20%"
                style="margin-left: auto; margin-right: auto; margin-top: 5rem; margin-bottom: 5rem;">
            <p>
                <i>
                    - (LacI promoter) + (RBS) + (6x His-Tag) + (PsDef1) + (Double Terminator)<br>
                    - (BBa_R0010) + (BBa_B0034) + (BBa_K2959003) + (BBa_B0015)<br>
                </i>
            </p>
            <p>
                This BioBrick™ contains the necessary genetic circuitry to be induced by IPTG and express Defensin 1
                from Pinus sylvestris. It consists of a LacI regulated promoter, RBS, the coding sequence of PsDef1 as a
                fusion protein with a 6x His-Tag for purification by metal affinity chromatography, and a double
                terminator. This BioBrick™ causes morphological changes in fungi mycelium disrupting the membrane
                integrity.<sup>4</sup>
            </p>
        </div>
    </div>
</div>