<head>
    <title>Public Engagement</title>
    <link rel="stylesheet" href="css/publicEngagement.css">
    <div class="fullpage-container">
        <section class="fullpage" style="margin-bottom: 0;">
            <div class="headerContainer">
                <!-- Video de fondo -->
                <video autoplay muted loop id="YerFondo">
                    <source src="img/citfondo.mp4" type="video/mp4">
                    Your browser does not support HTML5 video.
                </video>

                <!-- Título -->
                <div id="bannersection">
                    <div class="bannercontent">
                        <h1 class="mainHeader">Education and Public Engagement</h1>
                    </div>
                </div>

                <!-- Boton pa abajo -->
                <a class="down-button" href="#event-1">
                    <img src="img/arrowUP.png" class="arrowImage">
                </a>
            </div>
        </section>
    </div>
</head>



<script src="js/fullpageScroll.js"></script>