<link rel="stylesheet" href="css\publicEngagement.css">

<header>
    <div class="headerContainer">
        <video autoplay muted loop id="header-bground" style="z-index: 50;">
            <source src="img/descriptionHeader.mp4" type="video/mp4">
            Your browser does not support HTML5 video
            </source>
        </video>
        <div id="bannersection" style="z-index: 60;">
            <div class="bannercontent">
                <h1 class="mainHeader">Public<br>Engagement</h1>
            </div>
        </div>
    </div>
</header>

<div id="pullout-index">
    <div class="index" id="pullout">
        <div id="pullout-tab" style="margin-left: -1.6rem">
            <div>
                I<br>
                N<br>
                D<br>
                E<br>
                X<br>
            </div>
        </div>
        <div id="pullout-inner">
            <ul>
                <a href="#Education">
                    <li>Education</li>
                </a>
                <a href="#Manual">
                    <li>Manual</li>
                </a>
                <a href="#Conferences">
                    <li>Conferences</li>
                </a>
                <a href="#UN-Models">
                    <li>UN Models</li>
                </a>
                <a href="#More">
                    <li>More, More & More</li>
                </a>
                <a href="#Conclusion">
                    <li>Conclusion</li>
                </a>
            </ul>
        </div>
    </div>
</div>


<div style="margin-top: -20rem;">


    <div class="skewed-bg" id="Overview" style="z-index: 0;  padding-top: 15rem;">
        <div class="skewed-content">
            <div class="container">
                <h1>Overview</h1>
                <p>
                    It is truly impressive to think that around nine months ago this adventure called iGEM began; and
                    that
                    when
                    the team formed none of us had any idea what Synthetic Biology really was. Now, after so much effort
                    and
                    growth, we are still impressed with the number of its applications and its considerable impact on
                    society
                    and all that it involves. Still, when we reflected upon everything we have learned, we realized it
                    is
                    not
                    enough, or fair, that only 18 university students and the experts in the area who helped us, count
                    with
                    the
                    privilege of this knowledge.
                </p>

                <p>
                    This is why one of the most important goals for our team was to have a meaningful impact on our
                    communities
                    knowledge and opportunities. We aimed to inspire people to participate, contribute, and grow. With
                    this
                    in
                    mind, we took on the task of developing a work plan in the Public Engagement area. On this page you
                    will
                    be
                    able to learn about what the team did along the competition to spread education on the topic and
                    take a
                    step
                    forward to approach our community to Synthetic Biology.
                </p>

                <p>
                    This work plan is based on the goal of bringing Synthetic Biology to as many people as possible
                    through
                    different approaches:
                </p>

                <h2><a href="#Education">Education Model</a></h2>
                <p>This approach consists of giving a series of workshops and presentations to children, teenagers and
                    adults in educational institutions, from elementary schools to graduate degrees. The main goal was
                    to
                    inspire them not only to pursuing a future related to science, but also to continue growing
                    academically
                    and personally. In addition to this, we decided to create a manual to help future iGEM teams to
                    reach
                    students from different education levels and expand their impact. </p>


                <h2><a href="#Conferences">Conferences</a></h2>
                <p>This approach consisted of giving talks in different events where students, professors, experts in
                    the
                    field of agriculture, state authorities, and people not-related to science assisted. What we aimed
                    for
                    was for the attendees to have a clearer idea about what Synthetic Biology really is and why is it so
                    important in education and society’s development. </p>


                <h2><a href="#UN-Models">United Nations Models</a></h2>
                <p>This approach consisted of bringing the topic of Synthetic Biology to three UN models where it can
                    evolve
                    into an open dialogue about its applications and implications. What we were looking for was that
                    both
                    students and professors with no major scientific background could soak themselves of information
                    about
                    this topic, and to apply it in their area, as well as being able to properly discuss topics with
                    biological factors and their impact on our world.</p>


                <h2><a href="#More">More, more & more</a></h2>
                <p>Other series of approaches consisted on attending a convention of another crop affected by V. dahliae
                    where lots of people from the agricultural business gathered. We also made an appearance on a
                    television
                    channel and wrote an editorial article for a magazine. In both of these cases we sought the proper
                    diffusion of Synthetic Biology alongside our project. Finally, a student group was created in order
                    to
                    impact our own school and spread our work with other students, professors and faculty.
                </p>

            </div>
        </div>
    </div>

    <div class="skewed-bg" style="background-color: white;" id="Education">
        <div class="skewed-content">
            <div class="container">
                <h1>Education</h1><br>
                <div id="Edu-Overview">
                    <p>Researching about education in Mexico we realized that only 18.6% of the population has the
                        privilege
                        of
                        attending a university and concluding their professional education.<sup><a
                                href="#ref1">1</a></sup>
                        This
                        is
                        an impressively low
                        figure that
                        demonstrates a major problem in our society and the situation that Mexican students go through.
                    </p>
                    <p>
                        This made us realize that we, as university students and participants of the iGEM competition,
                        are
                        more
                        than
                        privileged to have the means and support to do this. So, just as we have been very fortunate to
                        learn
                        about
                        Synthetic Biology throughout our project, we feel a strong need to give back what we have
                        learned to
                        other
                        students in our community. We are aware that this will not solve the Mexican education model,
                        but at
                        least
                        we
                        wish to inspire students to pursue a professional education. We also look forward to
                        contributing to
                        the
                        social
                        mortgage we have as students of our institution.
                    </p>

                    <p>
                        Another problem we detected is the lack of scientific dissemination in rural areas, which
                        unfortunately
                        are
                        lagging behind, not only because of their geographical location but also for cultural issues. In
                        these
                        areas,
                        aside from problems due to the lack of efficient means of communication, there are ethnic
                        groups,
                        with a
                        considerable population, who do not speak spanish. This situation encouraged us even more to
                        approach
                        the
                        areas
                        of Guachochi and Nuevo Casas Grandes in our own State. We believe that sharing with these
                        students
                        our
                        work
                        and
                        introducing them to science and a branch of it such as Synthetic Biology, was important for
                        promoting
                        access
                        to
                        quality information and the inclusion of these groups.
                    </p>

                    <p>
                        Besides this, we wanted to take advantage of the fact that children at an early age have an
                        amazing
                        capacity
                        for
                        learning, assimilating new ideas, as well as an unbeatable creativity, a much needed quality in
                        today’s
                        world.
                        As for adolescents and young adults, we are intimately aware of the situation they are going
                        through,
                        with
                        so
                        many questions about their future, so little information about the numerous options, and many
                        important
                        decisions to make. This allowed and encouraged us to apply our vision at all educational levels,
                        from
                        primary
                        school to graduate degrees.
                    </p>

                    <p>
                        We wish to add that while designing the workshops, the type of language was carefully selected,
                        since it
                        is
                        very
                        different to work with small children, teenagers, or professional adults.
                    </p>
                </div>

                <div id="Elementary">
                    <h2>Elementary School</h2>
                    <h3>Goals:</h3>
                    <ul>
                        <li>Spread what synthetic biology is and its applications</li>
                        <li>Let kids know about how synthetic biology and entrepreneurship can be related</li>
                        <li>Give kids new tools that can be helpful in their future
                        </li>
                        <li>Encourage teamwork and respect
                        </li>
                        <li>Develop children's imagination
                        </li>
                    </ul>
                    <h3>Event Description:</h3>
                    <p>This summer we had the incredible opportunity to give a synthetic biology introductory workshop
                        to
                        several groups of children from public elementary schools in our city. The Escuela Primaria
                        Federal
                        Mariano Valenzuela Ceballo and Escuela Primaria Luis Pasteur were kind enough to allow us to
                        work
                        with a total of 140 of their students.
                    </p>
                    <p>The workshop was divided into two main sections. The first one consisted of an introduction to
                        science and Synthetic Biology. Our goal was to explain how science is important to develop high
                        impact projects for our community and how synthetic biology can be a useful element to get
                        there. We
                        also talked about what entrepreneurship is and how can it be related to Synthetic Biology.
                        Working
                        with children posed a bit of a challenge, since we had to design the workshop and our
                        explanations
                        in such a way that was simple and understandable for them but also fun and got our point across.
                        To
                        achieve this, we explained the concepts with a game using blocks, where we told them how some
                        animals and plants have superpowers (the blocks), and that by sharing it with another animal or
                        plant, they could acquire that superpower and therefore develop the same abilities. We also
                        shared
                        some simple but attractive examples, like the fluorescent rabbit and fruits that change colors
                        and
                        flavors. In order to get them to understand the concept of entrepreneurship, we told them that
                        is
                        was about how a group of people shared an idea that could evolve into a company that gave them
                        money, but that for this to work everyone should respect everyone’s ideas, since they were a
                        single
                        team.
                    </p>
                    <p>The second part consisted of a small entrepreneurship dynamic where the kids had to develop their
                        own
                        project idea using science and synthetic biology to solve a problem they considered important
                        and
                        try and sell it to us. Finally, they presented their ideas, listing the problem they wanted to
                        solve, their proposed solution, and even the expected price and customers. We were amazed by the
                        kids’ imagination and good understanding of the activity. Our judgement criteria to choose the
                        winners were how well did they understand the principles of synthetic biology, that they could
                        explain to us why was the problem they were solving important, that they knew who they could
                        sell it
                        to, and an approximate price.
                    </p>
                    <p>Some of the winning ideas were</p>
                    <ul>
                        <li class="body-list">A turtle that kept in its shell all the species in danger of extinction.
                        </li>
                        <li class="body-list">Fruits that could grow in just one day.
                        </li>
                        <li class="body-list">An air purifier that worked with actual leaves from trees.
                        </li>
                        <li class="body-list">A medicine that combined the properties of both jellyfish and lizards.
                        </li>
                        <li class="body-list">A type of leech that could suck the disease out from people.
                        </li>
                    </ul>
                    <p>The winners received from us lots of candy and a diploma signed by our school’s student groups’
                        manager.
                    </p>
                    <p>At the end of the workshop we talked with the teachers that accompanied us, and they commented
                        that
                        activities like the one we did are very motivating for the kids because they explore their
                        creative
                        abilities and learn new things with unusual dynamics.
                    </p>
                    <p>When we were saying goodbye, some of the kids were really happy because they had so much fun and
                        enjoyed the experience. They wouldn’t let us go without a hug and a thank you accompanied by a
                        smile.
                    </p>
                    <h3>Takeaway:</h3>
                    <p>It is not unknown that working with children poses a bit of a challenge, and, honestly, we did
                        not
                        know what to expect. However, at the end of the day we were amazed by the kids’ imagination and
                        good
                        understanding of the activity. Many of them were impressed by the potential of science,
                        especially
                        because they learned their “crazy” ideas could be achieved. Right now we have no doubt they will
                        be
                        great scientists someday.
                    </p>

                    <!-- CAROUSEL -->
                    <div id="Elementary-Car" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <!-- <ol class="carousel-indicators">
                            <li data-target="#Elementary-Car" data-slide-to="0" class="active"></li>
                            <li data-target="#Elementary-Car" data-slide-to="1"></li>
                            <li data-target="#Elementary-Car" data-slide-to="2"></li>
                            <li data-target="#Elementary-Car" data-slide-to="3"></li>
                            <li data-target="#Elementary-Car" data-slide-to="4"></li>
                        </ol> -->

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="box"> <img src="/img/public/Elementary-1.jpg" width="100%"></div>
                            </div>

                            <div class="item">
                                <div class="box"> <img src="/img/public/Elementary-2.jpg" width="100%"></div>
                            </div>

                            <div class="item">
                                <div class="box"> <img src="/img/public/Elementary-3.jpg" width="100%"></div>
                            </div>

                            <div class="item">
                                <div class="box"> <img src="/img/public/Elementary-4.jpg" width="100%"></div>
                            </div>

                            <div class="item">
                                <div class="box"> <img src="/img/public/Elementary-5.jpg" width="100%"></div>
                            </div>
                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#Elementary-Car" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#Elementary-Car" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                </div>
                <div class="gradient-divider"></div>

                <div id="Middle-High">
                    <h2>Middle & High School</h2>
                    <h3>Goals:</h3>
                    <ul>
                        <li>Help middle and high school students define what they want to focus on in their near future,
                            especially in their professional education</li>
                        <li>Promote careers in STEM
                        </li>
                        <li>Let students know what synthetic biology is and its applications
                        </li>
                        <li>Let students know what iGEM is and how they can be part of it
                        </li>
                        <li>Share our project
                        </li>
                    </ul>
                    <h3>Event Description:</h3>
                    <p>
                        During this Fall term, we had the opportunity to visit two middle schools (Academia Juárez and
                        Secundaria Estatal 3044) and one high school (Esfer Salesianos), where we gave the presentation
                        “Why
                        should I study Biological sciences?”, where we reached a total of 361 people.
                    </p>
                    <p>
                        This event consisted of a presentation by some of our team members, which was divided into two
                        parts.
                        During the first one we talked about was is science as a whole, next we deepened into biology
                        and
                        its
                        many branches and the advantages of pursuing a career in biological sciences. Here we were
                        especially
                        interested to hear what the students had to say, we wanted to know their opinions on science and
                        what
                        interested them from it.
                    </p>

                    <p>
                        For the second part, we delved into topics a bit more advances, like what is Synthetic Biology
                        and
                        what
                        applications does it have. Here we focused on giving examples more advanced than those on the
                        primary
                        schools. Therefore we talked about golden rice and the plague specific pesticides.
                    </p>

                    <p>
                        After discussing about Synthetic BIology is, we talked about our project and how we plan to
                        develop
                        a
                        product available for our state’s market and that also has a positive impact in our community.
                        We
                        also
                        mentioned the iGEM competition, explaining what it is about, what it aims for and how a new team
                        can
                        be
                        built every year.
                    </p>

                    <p>
                        To close our presentation we gave them a list of universities and majors focused on biological
                        sciences
                        both in the state and the country. Aside from this, we gave them some information about
                        associations
                        that offer scholarships for professional level education. Besides focusing our talk to the
                        vocational
                        ambit, we emphasized how the main goal of science is to solve real world issues.
                    </p>

                    <p>
                        While we were talking to the groups of teenagers, we realized they were more than interested and
                        had
                        so
                        many questions about science. That is how an expected 30 minute long talk became an hour long
                        one.
                        Most
                        of them inquired about what scientists do and what are the benefits of working in the science
                        field,
                        and
                        we couldn’t be happier to explain.
                    </p>

                    <p>
                        It’s worth mentioning our experience in a particular high school, the Academia Juarez. To take
                        our
                        presentation to this school we had to travel to Nuevo Casas Grandes where we wanted to help
                        these
                        young
                        students who were far from the states main cities. This was an especially challenging situation,
                        since
                        their educational model is very different from ours. They work with a more american system,
                        which
                        meant
                        we had to exit our comfort zone to effectively share our experiences and get our point across.
                    </p>

                    <h3>Takeaway:</h3>
                    <p>
                        We still remember when we were almost out of high school, about to enter university and take the
                        first
                        step into our professional development. To be very honest, we were far from sure about what we
                        were
                        doing. We had so many questions about what major to seek, what possibilities existed for us, and
                        what
                        could we do. It was a special pleasure to help people probably in that same situation we went
                        through.
                    </p>

                    <p>
                        Nowadays, it’s easier to learn about new things online, but nevertheless, we believe the impact
                        it’s
                        different when someone stands in front of you and talks about their own experience.
                    </p>

                    <p>
                        We left all three presentations feeling exhilarated by their genuine interest. For us, the most
                        important part we gave them was listening to their doubts and concerns, and plant in them the
                        importance
                        and transcendence of science. Weeks after we received texts from some of them making even more
                        questions
                        about biology courses. This was so exciting for us because it meant our presentation was useful
                        to
                        some
                        degree.
                    </p>

                    <!-- CAROUSEL -->
                    <div id="Middle-Car" class="carousel slide" data-ride="carousel">

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="box"> <img src="/img/public/Middle-1.jpg" width="100%"></div>
                            </div>

                            <div class="item">
                                <div class="box"> <img src="/img/public/Middle-2.jpg" width="100%"></div>
                            </div>

                            <div class="item">
                                <div class="box"> <img src="/img/public/Middle-3.jpg" width="100%"></div>
                            </div>


                            <div class="item">
                                <div class="box"> <img src="/img/public/Middle-4.jpg" width="100%"></div>
                            </div>
                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#Middle-Car" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#Middle-Car" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                    <!-- PDF -->
                    <div class="container">
                        <div class="row text-center" style="margin-top: 3rem;">
                            <button type="button" class="btn" data-toggle="collapse" data-target="#secu">Coordination
                                Certificate</button>
                            <div id="secu" class="collapse" style="margin-top:3rem;">
                                <embed src="img/public/PDF-Secu.pdf" width="80%" height="900px" />
                            </div>
                        </div>
                    </div>

                    <div class="gradient-divider"></div>

                </div>

                <div id="University">
                    <h2>University</h2>
                    <h3>Goals:</h3>
                    <ul>
                        <li>Let students know what Synthetic Biology is and how they can relate it to their degree
                        </li>
                        <li>Promoting science among students from diverse cultures
                        </li>
                        <li>Provide students with options for their graduate education
                        </li>
                    </ul>
                    <h3>Event Description:</h3>
                    <p>
                        We visited the “Universidad Tecnológica de la Tarahumara (UTT)” located in Guachochi (part of
                        the
                        Sierra
                        Tarahumara) and the Universidad Politécnica de Chihuahua, where we presented the talk “How to
                        apply
                        Synthetic Biology in your professional area?”. Among the 75 people we reached were students from
                        the
                        following majors: Sustainable and Protected Agriculture, Environmental Technology and
                        Sustainable
                        Forest
                        Management.
                    </p>

                    <p>
                        First we introduced Synthetic Biology, what it is and what applications its has on their
                        different
                        areas. In order to do this in the best possible way, we looked for specific projects with impact
                        on
                        their areas of interest, some of them were: biosensors, transgenic seeds, synthetic fertilizers,
                        issues
                        like ecotoxicity, metallic ions pollution, the energy crisis and the greenhouse effect. We
                        focused
                        each
                        example about how Synthetic Biology is proposing alternative solutions.
                    </p>

                    <p>
                        We also talked about how their major can implement Synthetic Biology to develop novel ideas, how
                        it
                        is
                        being used to help our environment, and some general information about the iGEM competition and
                        some
                        iGEM projects with further development in the field.
                    </p>

                    <p>
                        Then we mentioned some organizations that promote science and offer scholarships for graduate
                        courses in
                        different universities known for excelling in scientific research. At the end we had a chance to
                        talk
                        about the project we are working on this year.
                    </p>

                    <p>
                        Aside from talking about the topics we wanted to cover we were interested in hearing their ideas
                        for
                        projects related to their field, and all the questions they had in mind.
                    </p>

                    <p>
                        It was a very gratifying experience in all aspects. It’s worth mentioning that something that
                        really
                        stuck with us was the visit to the UTT because they had null knowledge about this discipline,
                        given
                        its
                        rural location.
                    </p>
                    <h3>Takeaway:</h3>

                    <!-- CAROUSEL -->
                    <div id="Uni-car" class="carousel slide" data-ride="carousel">

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="box"> <img src="/img/public/Uni-1.jpg" width="100%"></div>
                            </div>

                            <div class="item">
                                <div class="box"> <img src="/img/public/Uni-2.jpg" width="100%"></div>
                            </div>

                            <div class="item">
                                <div class="box"> <img src="/img/public/Uni-3.jpg" width="100%"></div>
                            </div>
                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#Uni-car" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#Uni-car" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                    <div class="container">
                        <div class="row text-center" style="margin-top: 3rem;">
                            <button type="button" class="btn" data-toggle="collapse" data-target="#uni">Coordination
                                Diploma</button>
                            <div id="uni" class="collapse" style="margin-top:3rem;">
                                <embed src="img/public/PDF-Uni.pdf" width="80%" height="900px" />
                            </div>
                        </div>
                    </div>

                    <div class="gradient-divider"></div>
                </div>

                <div id="Masters">
                    <h2>Master's & PhD</h2>
                    <h3>Goals:</h3>
                    <ul>
                        <li>Introduce students to uncommon job opportunities
                        </li>
                        <li>Promote Synthetic Biology and its applications
                        </li>
                        <li>Share our project with students with more education and experience than us
                        </li>
                        <li>Hear what graduate students thought about our project and if possible receive feedback on
                            our
                            progress
                        </li>
                    </ul>
                    <h3>Event Description:</h3>
                    <h3>Takeaway:</h3>
                    <p>
                        At the end, the students and faculty members that attended were very interested in the
                        competition
                        and
                        asked us several questions. After inquiring about the requirements and initial processes, they
                        said
                        they
                        would consider joining the competition as a new team next year.
                        We were so excited to hear they are interested in forming a new team for the competition. With
                        their
                        involvement in the environmental field, we know they could do something impactful for the
                        environment,
                        which is an important area of the competition.
                    </p>
                    <p>
                        In addition to this, we had the opportunity to talk with the university’s rector Carlos Chávez
                        and
                        contact him with Dr. Alberto Aguilar (Director of the Faculty of Engineering in our campus).
                        This
                        was
                        carried out with the objective of creating a major relationship between the universities both
                        socially
                        and academically. The UTT is relatively new and many people have no knowledge of its existence.
                        We
                        are
                        more than happy to contribute to its growth as an institution.
                    </p>

                    <!-- CAROUSEL -->
                    <div id="Masters-car" class="carousel slide" data-ride="carousel">

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="box"> <img src="/img/public/Masters-1.jpg" width="100%"></div>
                            </div>

                            <div class="item">
                                <div class="box"> <img src="/img/public/Masters-2.jpg" width="100%"></div>
                            </div>

                            <div class="item">
                                <div class="box"> <img src="/img/public/Masters-3.jpg" width="100%"></div>
                            </div>

                            <div class="item">
                                <div class="box"> <img src="/img/public/Masters-4.jpg" width="100%"></div>
                            </div>
                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#Masters-car" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#Masters-car" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                    <div class="row text-center" style="margin-top: 3rem;">
                        <button type="button" class="btn" data-toggle="collapse"
                            data-target="#Masters-pdf">View</button>
                        <div id="Masters-pdf" class="collapse" style="margin-top:3rem;">
                            <embed src="img/public/PDF-Masters.pdf" width="80%" height="900px" />
                        </div>
                    </div>

                    <div class="gradient-divider"></div>

                    <h3>Education Conclusion</h3>
                    <p>There is no doubt this was the series of activities our team enjoyed the most. We had the
                        absolute
                        pleasure of meeting lots of remarkable people, for which we had to prepare ourselves in
                        different
                        ways,
                        since we delved into different cultures, languages, ages and social sectors. The results we
                        obtained
                        were better than we could imagine, everyone was kind enough to share their time with us and show
                        genuine
                        interest in what we had to say. We firmly believe we could impact and inspire, at least a little
                        bit,
                        all of those people. But even more impressive is just how much we learned from the whole
                        experience.
                        Our
                        initial mindset led us to believe our audiences were going to learn so much, but what actually
                        happened
                        was that we were the ones that had more to learn from them. The amazing thing was that we didn’t
                        learn
                        only about science, but also about how to relate, interact and respect others and their ideas.
                        Another
                        highly important thing that surprised us was just how much potential our state’s students have
                        in
                        them
                        to develop any project they think of.
                        We are incredibly grateful to all the people who made this activity possible.
                    </p>

                </div>

            </div>
        </div>
    </div>

    <div class="skewed-bg" id="Manual">
        <div class="skewed-content">
            <div class="container">
                <h1>Manual</h1><br>
                <p>All that we learned during these visits inspired us to invest an extra effort into developing
                    a manual
                    where we explain in detail how did we approach students from different education levels. Our
                    goal is to
                    make this manual public, so that future iGEM teams can use it as a reference and source of
                    advice on how
                    to do this. The idea was born from how we heard about many of the other teams choose to
                    approach schools
                    in their nearby community because it’s an accessible and feasible audience. Nonetheless, not
                    all teams
                    have this chance and tools to approach various educational levels, like we had the fortune
                    to. This is
                    why we created a manual titled “How to reach students from different education levels?”.
                </p>

                <div class="row text-center" style="margin-top: 3rem;">
                    <button type="button" class="btn" data-toggle="collapse" data-target="#manual">View</button>
                    <div id="manual" class="collapse" style="margin-top:3rem;">
                        <embed src="img/public/Manual.pdf" width="80%" height="900px" />
                    </div>
                </div>

                <div class="gradient-divider"></div>
            </div>
        </div>
    </div>

    <div class="skewed-bg" style="background-color: white;" id="Conferences">
        <div class="skewed-content">
            <div class="container">
                <h1>Conferences</h1><br>
                <div id="Conf-Overview">
                    <p>
                        This year we decided we would reach beyond the *****. We wanted to include in our plans not
                        only
                        students
                        from different levels, but also their most essential and personal tool, their professors.
                        We, as
                        students,
                        are aware that professors are a huge support in a student’s journey to develop both
                        professional
                        and
                        personal skills.
                    </p>

                    <p>
                        For this approach, we focused on students and professors outside the classroom, since our
                        goal
                        was
                        to
                        include those with a particular interest in science and those who participate in events
                        promoting
                        it.
                    </p>

                    <p>
                        That is the main reason we wanted to participate in different events of this sort and work
                        with
                        different
                        NGOs dedicated to spreading science, where science lovers, students, their teachers and
                        other
                        authorities
                        are involved.
                    </p>
                </div>

                <div id="AMEAS">
                    <h2>AMEAS</h2>
                    <h3>Goals:</h3>
                    <ul>
                        <li>Explain what is Synthetic Biology and inform about how it impacts agriculture.
                        </li>
                        <li>Talk about the advantages of working with Synthetic Biology
                        </li>
                        <li>Explain our project
                        </li>
                        <li>Get feedback from experts in the field</li>
                    </ul>
                    <h3>Event Description:</h3>
                    <p>
                        We had the incredible opportunity of participating in the First International Congress of
                        Agricultural
                        Education where we gave a 20 minute presentation titled “Inhibition of the fungus
                        Verticillium
                        dahliae
                        through Synthetic Biology”. This event was organized by the Mexican Association of Higher
                        Agricultural
                        Education (AMEAS) on June 19 and 20th Around 130 people from different parts of Mexico and
                        Colombia
                        attended, including professors and students from the agricultural area, agronomists, State
                        authorities,
                        and other people not related to agriculture but with a focus on education.
                    </p>

                    <p>
                        Our talk began with an introduction to Synthetic Biology and how different disciplines
                        converge
                        for
                        its
                        development. In order to explain it more clearly, we talked about one of its most important
                        components,
                        genetic engineering.
                    </p>

                    <p>
                        To introduce our project, the first thing we mentioned was how we were participating in the
                        iGEM
                        competition and what it’s focused on. Then we talked about the past editions we’ve
                        participated
                        in,
                        to
                        finally explain the problem we had detected this year and the solution we were developing.
                        For
                        us it
                        was
                        very important to highlight the importance of the problem and our methodology, since having
                        experts
                        as
                        part of the audience allowed us to extract extremely useful information for our work.
                    </p>

                    <p>
                        At the end of our presentation we answered some questions from experts, and also received
                        substantial
                        feedback. The recommendations went from giving us tips on our wording choices, all the way
                        to
                        offering
                        us laboratory contacts that could help us improve the development of our project.
                    </p>

                    <h3>Takeaway:</h3>
                    <p>
                        After our presentation we had the fortune of meeting some experts in our field of interest.
                        They
                        provided us with valuable information about an event in which we later participated, the
                        World
                        Convention of Pepper. We also had an especially inspiring conversation with Dr. Addy
                        Anchondo,
                        who
                        told
                        us about the Tarahumara university students and the confrontations they suffered. This
                        motivated
                        us
                        to
                        travel to Guachochi to talk with the UTT students.
                    </p>

                    <p>
                        From what we could detect with this event, many of the professors knew the general concept
                        of
                        what
                        Synthetic Biology is, but they did not have such a clear precedent of the applications that
                        are
                        currently being developed. Therefore, we were very pleased to share with them what we had
                        learned.
                        We
                        hope we could make an impact in their perspective of Synthetic Biology and perhaps in the
                        way
                        they
                        practice it in the near future with their students.
                    </p>

                    <div class="container">
                        <img src="img/public/AMEAS-1.jpg" width="100%">
                    </div>

                    <div class="row text-center" style="margin-top: 3rem;">
                        <button type="button" class="btn" data-toggle="collapse" data-target="#AMEAS-pdf">View</button>
                        <div id="AMEAS-pdf" class="collapse" style="margin-top:3rem;">
                            <embed src="img/public/PDF-AMEAS.pdf" width="80%" height="900px" />
                        </div>
                    </div>

                    <div class="gradient-divider"></div>

                </div>
                <div id="Beautiful">
                    <h2>Beautiful Patterns</h2>
                    <h3>Goals:</h3>
                    <ul>
                        <li>Inspire young girls to pursue STEM field careers
                        </li>
                        <li>Let young girls and professors know what is Synthetic Biology and its applications
                        </li>
                        <li>Talk about our project’s essential factors
                        </li>
                    </ul>
                    <h3>Event Description:</h3>
                    <p>
                        On May 31st, we were granted the opportunity to give a brief conference to 130 people about
                        synthetic
                        biology on the “Beautiful Patterns” program. This is a program created by the Massachusetts
                        Institute of
                        Technology (MIT) in collaboration with the Technological Institute and Superior Studies of
                        Monterrey
                        (ITESM) with the purpose of promoting the development of computer science skills in high
                        school
                        girls.
                        STEM fields are one of today’s world more promising careers and Beautiful Patterns wants to
                        inspire
                        young girls by introducing them to this and pushing them to reach their full potential doing
                        whatever
                        they choose. This is achieved through one-week of immersive workshops taught by female
                        engineering
                        students, both from ITESM and MIT.
                    </p>



                    <p>
                        To open our presentation we began with a quote by Marie Curie, “Nothing in life is to be
                        feared,
                        it
                        is
                        only to be understood”, because we wanted to start with an example of a remarkable female
                        scientists,
                        who undoubtedly has been an inspiration to many others.
                    </p>

                    <p>
                        We explained what synthetic biology is, and how it has made a huge contribution in many
                        areas of
                        our
                        lives in the past decades. To elucidate this, as well as the amazing potential synthetic
                        biology
                        has, it
                        was shown its different applications in various fields, since making biosensors all the way
                        up
                        to
                        being
                        a useful tool for space exploration. Simultaneously, we talked about iGEM, its vision for
                        synthetic
                        biology, as well as our role in this year’s competition. We mentioned our project briefly,
                        the
                        problem
                        we were trying to solve, and examples of outstanding projects from last year’s competition.
                    </p>

                    <p>
                        To close the presentation, we shared our contact information in case that someone was
                        interested
                        in
                        learning more about the topics we covered. A few days later, a teenage girl sent us a
                        message
                        asking
                        about the project and expressing her interest in the matter.
                    </p>

                    <h3>Takeaway:</h3>
                    <p>
                        This experience left us energized. It gave us the opportunity to share something we are
                        passionate
                        about
                        to a group of people who are going through the same experience we went not so far ago. We
                        got to
                        talk to
                        such an enthusiast group of girls full of potential to try and spark their interest and
                        develop
                        themselves in an area they are much needed; but actually getting a direct response to this
                        was
                        more
                        than
                        motivating for us.
                    </p>

                    <p>
                        We got to talk more personally with the girl who contacted us, where we could solve her many
                        questions,
                        and introduce her a bit further into Synthetic Biology, iGEM, and our project.
                    </p>

                    <p>
                        This experience left us energized. It gave us the opportunity to share something we are
                        passionate
                        about
                        to a group of people who are going through the same experience we went not so far ago. More
                        importantly,
                        to see so many young girls with the level of curiosity and motivation it takes to take part
                        in
                        programs
                        like this, encourages us to keep trying to be a part of events like this.
                    </p>

                    <!-- CAROUSEL -->
                    <div id="Beautiful-car" class="carousel slide" data-ride="carousel">

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="box"> <img src="/img/public/Beautiful-1.jpg" alt="tile3"></div>
                            </div>

                            <div class="item">
                                <div class="box"> <img src="/img/public/Beautiful-2.jpg" alt="tile3"></div>
                            </div>
                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#Beautiful-car" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#Beautiful-car" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                </div>

                <div id="Science-Clubs">
                    <h2>Science Clubs</h2>
                    <h3>Goals:</h3>
                    <ul>
                        <li>Contribute to STEM education and collaborative network
                        </li>
                        <li>Let students know what is Synthetic Biology and its applications
                        </li>
                        <li>Share our project with students and professors interested in science
                        </li>
                    </ul>
                    <h3>Event Description:</h3>
                    <p>
                        On August 1st we had the absolute pleasure to participate in Chihuahua’s Science Club’s
                        Symposium
                        with a
                        presentation titled “Inhibition of the fungus Verticillium dahliae through Synthetic
                        Biology”,
                        in
                        front
                        of over 100 people.
                    </p>
                    <p>
                        Science Clubs International is a nonprofit organization founded in 2016 by Dr. Rogelio
                        Hernández
                        López
                        and Dr. Raúl Hernández Sánchez. Its mission is to “spark a social transformation by
                        expanding
                        access
                        to
                        high quality STEM education and collaborative networks”.[2] Their main approach to achieving
                        this is
                        through a program called “Clubes de Ciencias”. In this program, high school and college
                        students
                        participate in intensive summer workshops designed and taught by young scientists
                        specialized in
                        the
                        area and from prestigious institutions all over the world. Some of the institutions that
                        cooperate
                        with
                        Science Clubs are: Harvard, UCSF, Caltech, MIT, ASU, Stanford, University of Chicago,
                        Consejo
                        Superior
                        de Investigaciones Científicas (Spain), Tecnatom (Spain), SENNOVA (Colombia), Universidade
                        Federal
                        do
                        Rio de Janeiro (Brazil), UNAM (Mexico), and ITESM (Mexico, our university).
                        The program is present in 7 countries from Latin America and Europe. Mexico has been working
                        with
                        this
                        organization since the first edition, looking to expand student’s access to high end
                        scientific
                        education in an international level. Chihuahua, our city, has been participating since 2017
                        with
                        more
                        than 100 participants every year.
                    </p>
                    <p>
                        For this summer’s edition we participated in its main event, the Symposium, where all the
                        researching
                        professors who were part of the Clubs shared their current work. We presented about how the
                        team
                        has
                        been working with Synthetic Biology to inhibit the growth of Verticillium dahliae for the
                        iGEM
                        Competition. Throughout our presentation we explained what synthetic biology is, some of its
                        current
                        applications, its future potential, and how we are using it to develop our project.
                    </p>


                    <p>
                        We explained from our previous achievements, the problem we had detected, the solution we
                        were
                        proposing, the methodology we were following, the activities we had created for Integrated
                        Human
                        Practices and Public Engagement, the documents developed for Entrepreneurship and even our
                        proposal
                        for
                        Mathematical Model.
                    </p>

                    <p>
                        Explicamos desde nuestros logros previos, el problema que habíamos detectado, la solución
                        que
                        estábamos
                        proponiendo, la metodología que seguíamos, las actividades que habíamos creado para
                        Integrated
                        Human
                        Practices y Public Engagement, los documentos desarrollados para Emprendimiento y hasta
                        nuestra
                        propuesta para Modelo Matemático.
                    </p>

                    <p>
                        In the conference audience were students from high school to college, profesores
                        investigadores
                        and
                        even
                        the organizers and founders, whose deep curiosity led them to asking us many exciting
                        questions
                        like
                        how
                        do we found the problem, and how we were approaching the producers.
                    </p>

                    <h3>Takeaway:</h3>
                    <p>
                        It is very great when there are this kind of events, people who are interested in science
                        must
                        have
                        a
                        place where they can develop and strengthen their abilities in order to keep growing as a
                        person
                        and
                        professionist.
                    </p>
                    <p>
                        Being part of this and offer a new perspective about biological science was rewarding
                        because
                        you
                        never
                        know where you can find the next iGEMer. These undergrad students
                        also got to share us their project ideas, which was amazing because they showed us they have
                        great
                        potential to be prominent scientists.
                        Also speaking in front of PhDs from renowned universities was not an easy task, but the
                        result
                        was
                        impressive because at the end we ended up talking about the subject we love the most that is
                        science.
                    </p>

                    <!-- CAROUSEL -->
                    <div id="Science-car" class="carousel slide" data-ride="carousel">

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="box"> <img src="/img/public/Science-1.jpg" width="100%"></div>
                            </div>

                            <div class="item">
                                <div class="box"> <img src="/img/public/Science-2.jpg" width="100%"></div>
                            </div>

                            <div class="item">
                                <div class="box"> <img src="/img/public/Science-3.jpg" width="100%"></div>
                            </div>
                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#Science-car" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#Science-car" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                </div>


                <h2>Conferences Conclusion</h2>
                <p>

                </p>

            </div>
        </div>
    </div>

    <div class="skewed-bg" id="UN-Models">
        <div class="skewed-content">
            <div class="container">
                <div id="UN-Overview">
                    <h1>UN Models</h1><br>
                    <p></p>
                </div>
                <div id="TecChMUN">
                    <h2>TecChMUN</h2>
                    <h3>Goals:</h3>
                    <ul>

                    </ul>
                    <h3>Event Description:</h3>
                    <h3>Takeaway:</h3>

                    <!-- CAROUSEL -->
                    <div id="TecChMUN" class="carousel slide" data-ride="carousel">

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="box"> <img src="/img/public/TecChMUN-1" alt="tile3"></div>
                            </div>

                            <div class="item">
                                <div class="box"> <img src="/img/public/TecChMUN-2" alt="tile3"></div>
                            </div>
                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#TecChMUN" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#TecChMUN" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                </div>

                <div id="MUNMX">
                    <h2>MUNMX</h2>
                    <h3>Goals:</h3>
                    <ul>

                    </ul>
                    <h3>Event Description:</h3>
                    <h3>Takeaway:</h3>


                    <!-- CAROUSEL -->
                    <div id="MUNMX-car" class="carousel slide" data-ride="carousel">

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="box"> <img src="/img/public/MUNMX-1.jpg" width="100%"></div>
                            </div>

                            <div class="item">
                                <div class="box"> <img src="/img/public/MUNMX-2.jpg" width="100%"></div>
                            </div>
                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#MUNMX-car" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#MUNMX-car" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>

                <div id="CUUMUN">
                    <h2>CUUMUN</h2>
                    <h3>Goals:</h3>
                    <ul>

                    </ul>
                    <h3>Event Description:</h3>
                    <h3>Takeaway:</h3>

                    <div class="container text-center" style="height: 70vh;">
                        <img src="img/public/CUUMUN-1.jpg" height="100%">
                    </div>
                </div>
                <div class="row text-center" style="margin-top: 3rem;">
                    <button type="button" class="btn" data-toggle="collapse" data-target="#CUUMUN-pdf-1">Confirmation
                        from
                        CUUMUN</button>
                    <div id="#CUUMUN-pdf-1" class="collapse" style="margin-top:3rem;">
                        <embed src="img/public/PDF-CUUMUN.pdf" width="80%" height="900px" />
                    </div>
                </div>


                <div class="gradient-divider"></div>
                <div class="row text-center" style="margin-top: 3rem;">
                    <button type="button" class="btn" data-toggle="collapse" data-target="#CUUMUN-pdf-2">Our
                        Document</button>
                    <div id="#CUUMUN-pdf-2" class="collapse" style="margin-top:3rem;">
                        <embed src="img/public/PDF-CUUMUN-2.pdf" width="80%" height="900px" />
                    </div>
                </div>

                <div class="gradient-divider"></div>
                <h2>UN Models Conclusion</h2>
                <p>

                </p>
            </div>
        </div>
    </div>

    <div class="skewed-bg" style="background-color: white;" id="More">
        <div class="skewed-content">
            <div class="container">
                <h1>More, More & More</h1>
                <div id="TV">
                    <h2>Channel 28 ABC NEWS 2-3</h2>
                    <h3>Goals:</h3>
                    <ul>

                    </ul>
                    <h3>Event Description:</h3>
                    <h3>Takeaway:</h3>

                    <!-- CAROUSEL -->
                    <div id="TV-car" class="carousel slide" data-ride="carousel">

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="box"> <img src="/img/public/News-1.jpg" width="100%"></div>
                            </div>

                            <div class="item">
                                <div class="box"> <img src="/img/public/News-2.jpg" width="100%"></div>
                            </div>

                            <div class="item">
                                <div class="box"> <img src="/img/public/News-3.jpg" width="100%"></div>
                            </div>
                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#TV-car" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#TV-car" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                </div>

                <div id="Chilli">
                    <h2>International Chilli Convention</h2>
                    <h3>Goals:</h3>
                    <ul>

                    </ul>
                    <h3>Event Description:</h3>
                    <h3>Takeaway:</h3>


                    <!-- CAROUSEL -->
                    <div id="Chilli-car" class="carousel slide" data-ride="carousel">

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="box"> <img src="/img/public/Chilli-1.jpg" width="100%"></div>
                            </div>

                            <div class="item">
                                <div class="box"> <img src="/img/public/Chilli-2.jpg" width="100%"></div>
                            </div>
                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#Chilli-car" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#Chilli-car" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>


                <div id="Magazine">
                    <h2>De Riego Magazine Article</h2>
                    <h3>Goals:</h3>
                    <ul>

                    </ul>
                    <h3>Event Description:</h3>
                    <h3>Takeaway:</h3>
                </div>
                <div id="LiFE">
                    <h2>Student Group/LiFE</h2>
                    <h3>Goals:</h3>
                    <ul>

                    </ul>
                    <h3>Event Description:</h3>
                    <h3>Takeaway:</h3>

                    <!-- CAROUSEL -->
                    <div id="Life-car" class="carousel slide container" data-ride="carousel"
                        style="height: 80vh; width: 60vh;">

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="box"> <img src="/img/public/Life-1.jpg" width="100%"></div>
                            </div>

                            <div class="item">
                                <div class="box"> <img src="/img/public/Life-2.jpg" width="100%"></div>
                            </div>

                            <div class="item">
                                <div class="box"> <img src="/img/public/Life-3.jpg" width="100%"></div>
                            </div>

                            <div class="item">
                                <div class="box"> <img src="/img/public/Life-4.jpg" width="100%"></div>
                            </div>

                            <div class="item">
                                <div class="box"> <img src="/img/public/Life-5.jpg" width="100%"></div>
                            </div>
                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#Life-car" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#Life-car" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="skewed-bg" id="Conclusion">
        <div class="skewed-content">
            <h1 id="Conclusion">Final Conclusion</h1><br>
            <p>

            </p>
        </div>
    </div>
</div>