<link rel="stylesheet" href="/css/requirements.css">

<header style="margin-bottom: 0;">
    <div class="headerContainer">
        <div class="imgContent"></div>
        <div id="bannersection">
            <div class="bannercontent">
                <h1 class="mainHeader">requirements</h1>
            </div>
        </div>
    </div>
</header>

<div class="container" style="margin-top: 8rem;" id="req">
    <div class="row">
        <!-- Card Projects -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-image">
                    <figure class="tint">
                        <img class="img-responsive"
                            src="https://2019.igem.org/wiki/images/9/9c/T--Tec-Chihuahua--cottField.png">
                    </figure>
                    <span class="card-title">Bronze Medal</span>
                </div>

                <div class="card-content">
                    <ol>
                        <li>
                            <p>Registration and Jamboree Attendance</p>
                        </li>
                        <li>
                            <p>Competition Deliverables</p>
                        </li>
                        <li>
                            <p>Attributions</p>
                        </li>
                        <li>
                            <p>Project Inspiration and Description</p>
                        </li>
                        <li>
                            <p>Characterization</p>
                        </li>
                    </ol>
                </div>

                <div class="card-action">
                    <a href="https://2019.igem.org/Team:Tec-Chihuahua/Attributions" target="new_blank">Attributions</a>
                    <a href="https://2019.igem.org/Team:Tec-Chihuahua/Description" target="new_blank">Description</a>
                    <a href="https://2019.igem.org/Team:Tec-Chihuahua/Contribution"
                        target="new_blank">Characterization</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-image">
                    <figure class="tint">
                        <img class="img-responsive"
                            src="https://2019.igem.org/wiki/images/a/a3/T--Tec-Chihuahua--brainstormingHeaderFinal.jpg">
                    </figure>
                    <span class="card-title">Silver Medal</span>
                </div>

                <div class="card-content">
                    <ol>
                        <li>
                            <p> Validated Part/Validated Contribution</p>
                        </li>
                        <li>
                            <p> Collaboration</p>
                        </li>
                        <li>
                            <p>Human Practices</p>
                        </li>
                    </ol>
                </div>

                <div class="card-action">
                    <a href="https://2019.igem.org/Team:Tec-Chihuahua/Contribution"
                        target="new_blank">Characterization</a>
                    <a href="https://2019.igem.org/Team:Tec-Chihuahua/Collaborations"
                        target="new_blank">Collaboration</a>
                    <a href="https://2019.igem.org/Team:Tec-Chihuahua/Human_Practices" target="new_blank">Human
                        Practices</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-image">
                    <figure class="tint">
                        <img src="https://2019.igem.org/wiki/images/1/1a/T--Tec-Chihuahua--Elementary-1.jpg"
                            width="100%">
                    </figure>
                    <span class="card-title">Gold Medal</span>
                </div>

                <div class="card-content">
                    <ol>
                        <li>
                            <p>Integrated Human Practices</p>
                        </li>
                        <li>
                            <p> Improve a Previous Part or Project</p>
                        </li>
                        <li>
                            <p>Model Your Project</p>
                        </li>
                    </ol>
                </div>

                <div class="card-action">
                    <a href="https://2019.igem.org/Team:Tec-Chihuahua/Human_Practices" target="new_blank">Human
                        Practices</a>
                    <a href="https://2019.igem.org/Team:Tec-Chihuahua/Model" target="new_blank">Model</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 

<div class="card" style="margin-top: 8rem;">
    <section class="cardHeader">
        <img src="img/medal icons/silver.PNG" width="20%" style="margin-right: 4rem;">
        <span class="cardHeaderTextContainer">
            <h1>Silver Medal</h1>
    </section>
    <section class="nonSharedContent">
        <ol>
            <li>
                <p> Validated Part/Validated Contribution</p>
            </li>
            <li>
                <p> Collaboration</p>
            </li>
            <li>
                <p>Human Practices</p>
            </li>
        </ol>
    </section>
</div>



<div class="card" style="margin-top: 8rem;">
    <section class="cardHeader">
        <img src="img/medal icons/icons8-pastel-64.png" width="20%" style="margin-right: 4rem;">
        <span class="cardHeaderTextContainer">
            <h1>Gold Medal</h1>
    </section>
    <section class="nonSharedContent">
        <ol>
            <li>
                <p>Integrated Human Practices</p>
            </li>
            <li>
                <p> Improve a Previous Part or Project</p>
            </li>
            <li>
                <p>Model Your Project</p>
            </li>
            <li>
                <p> Demonstration of Your Work</p>
            </li>
        </ol>
    </section>
</div>
 -->

<script>
    // Initialize
    const allCardsHeaders = document.getElementsByClassName("cardHeader");
    for (header of allCardsHeaders) {
        header.addEventListener("click", clickCard);
    }

    function clickCard(e) {
        this.parentElement.classList.toggle('cardActive');
    }
</script>