<link rel="stylesheet" href="css/results.css">
<header style="margin-bottom: 0;">
    <div class="headerContainer">
        <div class="imgContent"></div>
        <div id="bannersection">
            <div class="bannercontent">
                <h1 class="mainHeader">Characterization</h1>
            </div>
        </div>
    </div>
</header>

<div class="container" id="boxContainer">
    <div class="row text-center">
        <h1>Achievements</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul style="font-size: 16px">
                <li>The construction of five new BioBricks with sequences that are reported to code for our proteins of
                    interest:
                </li>
                <li>BBa_K2959004</li>
                <li>BBa_K2959005</li>
                <li>BBa_K2959007</li>
                <li>BBa_K2959008</li>
                <li>BBa_K2959010</li>
                <li>The correct transformation of <i>E. coli</i> expression strain SHuffle T7 Express®️ for parts
                    BBa_K2959005 (PsDef1-
                    Erv1p) and BBa_K2959007 (WAMP1b); and the correct transformation of BL21 (DE3) Competent <i>E.
                        coli</i> for part
                    BBa_K2959010 (AtPFN1).
                </li>
                <li>Protein production characterized in part BBa_R0010, a lacI regulated promoter, in E. coli expression
                    strain
                    SHuffle T7 Express®️, confirming IPTG induction functionality in our parts.
                </li>
                <li>The amplification of our BioBrick sequences through colony PCR performed upon our transformed cells
                    to
                    confirm the presence of our expression plasmids.
                </li>
                <li>Corroboration of protein expression in <i>E. coli</i> BL21 (DE3) transformed with BBa_ K2959010
                    through an SDS-
                    PAGE at 12%.</li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row text-center" style="margin: 4rem 0 4rem;">
        <h1>BioBricks Assembly</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                Three of our DNA sequences (AtPFN1, PsDef1-Erv1p, and WAMP1b) were synthesized by IDT®️ with the
                Biobrick prefix and
                suffix flanking the composite part. This made possible the correct digestion with restriction enzymes
                EcoRI-HF and
                PstI. After the digestion, ligation was performed with T7 ligase in order to place our constructs into
                the pSB1C3 n
                linearized backbone with chloramphenicol resistance, which was previously digested with the same
                restriction enzymes.
                Using the SnapGene®️ software, we could model our ligated expression plasmids, and the final parts
                resulted in a
                sequence of 2,590 bp for WAMP1b, 2,651bp for AtPFN1 and 3,106 bp for PsDef1-Erv1p. Thereupon,
                <i>Escherichia coli</i>
                [BL21(DE3) for AtPFN1 and SHuffle for PsDef1+Erv1p and WAMP1b] cultures were transformed by heat shock
                for following
                antibiotic selection of clones.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="http://parts.igem.org/wiki/images/d/d3/T--Tec-Chihuahua--WAMP1bff.png" width="100%">
            <h2 style="text-align: center;">
                a)
            </h2>
        </div>
        <div class="col-md-4">
            <img src="http://parts.igem.org/wiki/images/2/21/T--Tec-Chihuahua--AtPFN1ff.png" width="100%">
            <h2 style="text-align: center;">
                b)
            </h2>
        </div>
        <div class="col-md-4">
            <img src="http://parts.igem.org/wiki/images/7/77/T--Tec-Chihuahua--PsDef-Erv1pff.png" width="100%">
            <h2 style="text-align: center;">
                c)
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                <b>Figure 1.</b> SnapGene®️ maps of a)
                BioBrick BBa_K2959007, b) BioBrick BBa_K2959010, and c) BioBrick BBa_K2959005 ligated into backbone
                pSB1C3.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                The next step was to amplify our BioBrick sequences through colony PCR performed upon our transformed
                cells to confirm
                the presence of our expression plasmids inside of our chassis. With the help of the specific forward
                Biobrick prefix
                [BBa_G1004] and the specific reverse Biobrick suffix [BBa_G1005], we were able to amplify our sequences
                exclusively.
                Through agarose gels we confirmed the correct transformation. The PCR action from SnapGene®️ was used to
                predict the
                size of the amplified sequences which resulted in a size of 579 bp for WAMP1b, 640 bp for AtPFN1, and
                1,095 for
                PsDef1+Erv1p.
            </p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img src="http://parts.igem.org/wiki/images/c/c5/T--Tec-Chihuahua--wamp1b.pcr.ff.png" width="100%">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="http://parts.igem.org/wiki/images/3/3f/T--Tec-Chihuahua--ELECTROFORESISWAMP1b.jpeg" width="100%">
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-7" style="margin-top: 8rem;">
            <p>
                <b>Figure 2.</b> (On top)
                SnapGene®️ amplification through PCR of BBa_K2959007. (Left) Agarose gel electrophoresis of
                BBa_K2959007 compared with
                NEB Quick-Load Purple 1Kb Plus DNA Ladder, where the highlighted band corresponds to approximately 579
                bp.
            </p>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img src="http://parts.igem.org/wiki/images/4/40/T--Tec-Chihuahua--atpfn.pcr.png" width="100%">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="http://parts.igem.org/wiki/images/d/d2/T--Tec-Chihuahua--ELECTROFORESISAtPFN.jpeg" width="100%">
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-7" style="margin-top: 8rem;">
            <p>
                <b>Figure 3.</b>(On top) SnapGene®️ amplification through PCR of BBa_K2959010. (Left) Agarose gel
                electrophoresis of
                BBa_K2959010 compared with NEB Quick-Load Purple 1Kb Plus DNA Ladder, where the highlighted band
                corresponds
                to
                approximately 640 bp.
            </p>
        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img src="http://parts.igem.org/wiki/images/5/5c/T--Tec-Chihuahua--psdef1.pcr..png" width="100%">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="http://parts.igem.org/wiki/images/e/ec/T--Tec-Chihuahua--ELECTROFORESISPsDefE.jpeg" width="100%">
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-7" style="margin-top: 8rem;">
            <p>
                <b>Figure 4.</b> (On top) SnapGene®️ amplification through PCR of BBa_K2959005. (Left) Agarose gel
                electrophoresis of
                BBa_K2959005 compared with NEB Quick-Load Purple 1Kb Plus DNA Ladder, where the highlighted band
                corresponds to
                approximately 1,095 bp
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row text-center">
        <h1>Protein Production</h1>
        <h3>IPTG Induction and Extraction</h3>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                Following the construction of each BioBrick, it was necessary to induce protein production. Since T7
                promoter for
                AtPFN1 is used due its high levels of transcription in <i>E.coli</i> BL21 (DE3), isopropyl β-D-1
                thiogalactopyranoside (IPTG)
                is employed as an inducer for T7 RNA polymerase production. The concentration of IPTG utilized was 0.2
                mM, followed by
                incubating the cultures at 37°C and 225 rpm for 5 hours. Production of PsDef1 and WAMP1b was induced
                under the lacI
                regulated promoter in <i>E. coli</i> SHuffle cells with IPTG 0.2 mM and incubated at 30°C and 225 rpm
                for 5 hours. This was
                followed by protein extraction by lysis solution to which lysozyme was added, in order to obtain our
                soluble peptides.
            </p>
        </div>
    </div>
    <div class="row text-center">
        <h3>SDS-PAGE</h3>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                Electrophoresis in a 12% polyacrylamide gel was performed in order to corroborate that the protein of
                interest was
                indeed expressed. Each well was loaded with 50 μg of total protein from the soluble extracts of the cell
                lysates.
            </p>
        </div>
    </div>
    <div class="row text-center">
        <img src="http://parts.igem.org/wiki/images/b/b4/T--Tec-Chihuahua--Gel.jpeg" width="80%">
        <p style="text-align: center;"><b>Figure 5.</b> SDS-PAGE (12%) of E. coli BL21 (DE3) transformed with BBa_
            K2959010.</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>
                As shown in figure 5, bands are present at the approximate weight of 14.3 kDa which corresponds to
                AtPFN1 as
                corroborated by UniProt. Visible bands of AtPFN1 correspond to protein extracts of transformed <i>E.
                    coli</i> BL21 (DE3)
                induced with different concentrations of IPTG. No band can be appreciated in the first column following
                the protein
                ladder, which belongs to a control of untransformed BL21 (DE3) cells, confirming that the bands are
                expressed
                exclusively in transformed cells and are indeed AtPFN1. No basal level expression was observed on the
                uninduced control
                (transformed cells with no IPTG) as seen in column 1. Therefore, functionality of part BBa_K2959010 as a
                generator of
                AtPFN1 under induction by IPTG was confirmed.
                <br><br>
                For parts BBa_K2959005 and BBa_K2959007, visualization of PsDef1 and WAMP1b in a polyacrylamide gel
                could not be
                carried out given the small size of the peptides, 9 and 4.5 kDa respectively. Due to a lack of reagents
                and equipment,
                we were unable to adapt our SDS-PAGE protocol and optimize the visualization of small proteins. However,
                to confirm
                that our peptides were being expressed, we characterized the lacI regulated promoter (BBa_R0010), which
                controls
                expression of these two parts, in <i>E. coli</i> SHuffle. The functionality of this promoter as well as
                ideal IPTG
                concentrations and incubation temperatures were confirmed. Thus, BBa_K2959005 and BBa_K2959007 work as
                generators of
                PsDef1 and WAMP1b when induced with 0.2 or 0.4 mM IPTG at 30°C. Read more about it in our
                Characterization page.
            </p>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 2rem;">
    <div class="row text-center" style="margin: 2rem;">
        <h1 style="font-size: 60px;">Future Plans</h1>
    </div>
    <center>
        <p align="justify">
            For future experimentation we have the following plans to impulse our project.
        </p>
    </center>
    <div class="row">
        <div class="panel-group">
            <div class="panel panel-default" style="-webkit-box-shadow: 0px 2px 46px -25px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 2px 46px -25px rgba(0,0,0,0.75);
        box-shadow: 0px 2px 46px -25px rgba(0,0,0,0.75); border: none; border-radius: 1rem; margin-bottom: 4rem;">
                <a data-toggle="collapse" href="#collapse1">
                    <div class="panel-heading">
                        <h3 style="margin: 2rem; text-align: center;">
                            Experimentation Plan & Considerations
                        </h3>
                    </div>
                </a>
                <div id="collapse1" class="panel-collapse collapse">
                    <div class="panel-body"><embed
                            src="https://2019.igem.org/wiki/images/5/5a/T--Tec-Chihuahua--FuturePlans.pdf" width="100%"
                            height="500px"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--
            <div class="container" style="margin-top: 2rem;">
                <div class="row text-center" style="margin: 2rem;">
                    <h1 style="font-size: 60px;">Future Plans</h1>
                </div>
                <center>
                    <p align="justify">
                        For future experimentation we have the following plans to impulse our project.
                    </p>
                </center>
                <div class="row">
                    <div class="panel-group">
                        <div class="panel panel-default"
                            style="-webkit-box-shadow: 0px 2px 46px -25px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 2px 46px -25px rgba(0,0,0,0.75);
                box-shadow: 0px 2px 46px -25px rgba(0,0,0,0.75); border: none; border-radius: 1rem; margin-bottom: 4rem;">
                            <a data-toggle="collapse" href="#collapse1">
                                <div class="panel-heading">
                                    <h3 style="margin: 2rem; text-align: center;">
                                        Experimentation Plan & Considerations
                                    </h3>
                                </div>
                            </a>
                            <div id="collapse1" class="panel-collapse collapse">
                                <div class="panel-body"><embed
                                        src="https://2019.igem.org/wiki/images/5/5a/T--Tec-Chihuahua--FuturePlans.pdf"
                                        width="100%" height="500px"></div>
                            </div>
                        </div>
                    </div> -->