<link rel="stylesheet" href="/css/safety.css">


<header style="margin-bottom: 0;">
    <div class="headerContainer">
        <video autoplay muted loop id="myVideo">
            <source src="img/citfondo.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
            </source></video>
        <div id="bannersection">
            <div class="bannercontent">
                <h1 class="mainHeader">safety</h1>
                <h2>“Safety is a state of mind, accidents are an absence of mind.” - <span
                        style="font-size: 22px">Anonymous</span></h2>
            </div>
        </div>
    </div>
</header>

<div class="safetyContainer">
    <div class="container">
        <div class="row" style="margin-bottom: 5rem;">
            <div class="col-md-1"></div>
            <div class="col-md-10 text-center">
                <h1>Overview</h1>
                <p>
                    This document describes the safety of our project and certain steps followed in and outside the
                    laboratory to ensure this all along its development.
                </p>
                <p>
                    Safety in research refers to the practices and principles that one shall follow to prevent exposure
                    to
                    biological organisms, products, or material; their accidental release; or any potential harm they
                    may
                    cause to any individual, external organism or the environment.
                </p>
            </div>
        </div>
    </div>

    <div class="gradient-divider"></div>

    <div class="container">
        <div style="position: relative;">
            <div class="row">
                <div class="section-line-cyan"></div>
                <div class="col-md-12">
                    <h2>Safety Skills</h2>
                </div>
            </div>
            <div class="row row-equal-height">
                <div class="col-md-3 p_column text-center">
                    <h3>Recognize Hazards</h3>
                    <p>
                        <strong>Hazard:</strong> a potential source of danger to a vulnerable target.
                    </p>
                    <p>
                        It involves:
                    </p>
                    <br>
                    <ul style="margin-left: -2rem;">
                        <li>
                            <p>Comprehension of the descriptive terms regarding hazards.</p>
                        </li>
                        <li>
                            <p>Knowing how to interpret chemical labels, Safety Data Sheets, and other safety
                                information
                                resources.</p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 p_column text-center ">
                    <h3>Assess Risks</h3>
                    <p>
                        To evaluate risks from exposure to hazards:
                        Consider both products and circumstances.<br>
                        How can the risk be prevented or controlled?

                    </p>
                </div>
                <div class="col-md-3 p_column text-center ">
                    <h3>Minimize Risks</h3>
                    <ul style="margin-left: -2rem;">
                        <li>
                            <p>Design experiments to minimize any hazards exposure and risks.</p>
                        </li>
                        <li>
                            <p>Handle, store, and dispose
                                wastes properly.</p>
                        </li>
                        <li>
                            <p>Review and learn from past incidents.</p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 p_column text-center ">
                    <h3>Prepare for Emergencies</h3>
                    <ul style="margin-left: -2rem;">
                        <li>
                            <p>Fires, injuries, spills.</p>
                        </li>
                        <li>
                            <p>How to react correctly to an emergency.</p>
                        </li>
                        <li>
                            <p>Clear labeling and accessible location of safety devices (showers, eye washes, fire
                                extinguishers, spill kits)</p>
                        </li>
                        <li>
                            <p>Understandable and straightforward emergency plan including: emergency phone numbers,
                                alarms,and escape routes.</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p style="margin-top: 4rem;">
                        When designing and developing our project we tried to minimize the risks as much as possible and
                        successfully comply with all of iGEM's safety and security policies. The next paragraphs
                        describe
                        our laboratory’s safety measures, and how and why we implemented different biosafety and
                        biosecurity
                        requirements during the development of our project.
                    </p>
                    <p style="margin-top: 4rem;">
                        During the whole experimental stage our team worked in the laboratories of Tecnologico de
                        Monterrey
                        campus Chihuahua found in the School of Engineering building, which fall under Biosafety Level
                        2. At
                        all times our team was supervised by any of our instructors (Ph.D. González, Ph.D. Ozeguera) or
                        by
                        the laboratory managers (M.S. Apodaca, Ms. Hernández).
                    </p>

                    <p style="margin-top: 4rem;">
                        Before starting our work in the lab, all team members had to pass different safety tests and
                        receive
                        training. Those tests included an introduction to laboratory equipment (i.e. centrifuge, plate
                        reader, gel chamber, autoclaves, biosafety cabinets) and covered the use of chemicals (i.e.
                        chloroform, phenol, staining reagents). We made sure all of our team members (Biotechnological
                        Engineering students) received the proper training and certifications , regardless of their area
                        (Human Practices, Entrepreneurship) foreseeing any situation out of the ordinary which could
                        compromise their safety. That way all of the team was prepared for any incident. </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 5rem;">
        <div style="position: relative;">
            <div class="row">
                <div class="section-line-green"></div>
                <div class="col-md-12">
                    <h2>Safety Courses</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>
                        Prior to starting the lab work. all team members completed several courses provided by the
                        Public Health Agency of Canada web page, and were certified by them. <sup>3</sup>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <ul>
                        <li>
                            <p>Biosecurity Plan </p>
                        </li>
                        <li>
                            <p>General Safety for Containment Labs</p>
                        </li>
                        <li>
                            <p>Containment Level 2 Operational Practices</p>
                        </li>
                        <li>
                            <p>Introduction to Biosafety</p>
                        </li>
                        <li>
                            <p>Introduction to Biosecurity</p>
                        </li>
                        <li>
                            <p>Personal Protective Equipment</p>
                        </li>
                        <li>
                            <p>Autoclaves</p>
                        </li>
                        <li>
                            <p>Microbiology Overview</p>
                        </li>
                        <li>
                            <p>Pathogen Risk Assessment</p>
                        </li>
                        <li>
                            <p>Biological Safety Cabinets</p>
                        </li>
                        <li>
                            <p>Decontamination in the Laboratory</p>
                        </li>
                        <li>
                            <p>Chemical Disinfectants</p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-7">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="https://via.placeholder.com/800x600" alt="Los Angeles">
                            </div>

                            <div class="item">
                                <img src="https://via.placeholder.com/800x600" alt="Chicago">
                            </div>

                            <div class="item">
                                <img src="https://via.placeholder.com/800x600" alt="New York">
                            </div>
                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 5rem;">
        <div style="position: relative;">
            <div class="row">
                <div class="section-line-cyan"></div>
                <div class="col-md-12">
                    <h2>Safety Guidelines</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>
                        Working in a laboratory comes with potential risks, so we followed certain basic laboratory
                        rules to ensure individual and collective safety.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3>Personal Protective Equipment </h3>
                    <p>
                        We made sure to always comply with the personal protective equipment (PPE) required for safe
                        practices inside the laboratory. This includes proper clothing: long pants that cover the
                        ankles, close-toed shoes, and long hair tied back. Apart from this a lab coat, nitrile gloves,
                        and masks were compulsory.
                    </p>
                    <p>
                        The personal protective equipment was always removed when leaving the lab, as it should not be
                        taken outside unless it's appropriately packed and sealed.. The disposable equipment was
                        properly discarded, and the rest was arranged in its designed place.
                    </p>

                    <h3>Additional Hygiene Measures</h3>
                    <p>
                        We thoroughly washed our hands when entering the lab and after leaving it. Additionally we
                        always disinfected our hands with 70% ethanol, before and after putting on the gloves.
                    </p>
                    <h3>Safe Spaces</h3>
                    <p>
                        Another safety policy we followed in the lab was to keep our personal belongings away from the
                        lab when handling infectious materials to prevent any contamination in both ways.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="margin-top: 5rem;">
        <div style="position: relative;">
            <div class="row">
                <div class="section-line-green"></div>
                <div class="col-md-12">
                    <h2>Equipment</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3>Autoclaves</h3>
                    <p>
                        Our lab is equipped with 3 autoclaves: Tuttnauer 2340M, All American pressure steam sterilizer
                        25x,
                        110v and Autoclave vertical AESA, CV3. The autoclave is a strong heated container using high
                        pressures and temperatures for steam sterilization.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3>Biosafety Cabinets</h3>
                    <p>
                        Our lab is equipped with 4 biosafety cabinets, which prevent the samples we work with from
                        being contaminated by either ourselves or external agents, and from contaminating our
                        surroundings and any individual in the laboratory. As part of our protocols, we disinfected the
                        cabinet with 70% ethanol and turned the UV light for 15 minutes minimum before using the
                        biosafety cabinets. When introducing our hands or any other material we sprayed them thoroughly
                        with 70% ethanol. Finally, when done using the biosafety cabinets, we made sure to clean them
                        and let the UV light sterilize them for another 15 minutes.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3>Burners: For the creation of sterile zones (sterile halo)</h3>
                    <p>
                        We count with two types of burners in our lab: Meker-Fisher burners and Bunsen burners, which
                        are used to keep the area as sterile as possible when working in an open bench. After
                        disinfecting the working area with 70% ethanol, we used a burner to create a sterile zone to
                        prevent contamination of the samples we were working with.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3>Bacteria Incinerator</h3>
                    <p>
                        Our laboratory counts with a bacteria incinerator, which was used to sterilize the inoculation
                        loops in order to inoculate inside the biosafety cabinet.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 5rem;">
        <div style="position: relative;">
            <div class="row">
                <div class="section-line-cyan"></div>
                <div class="col-md-12">
                    <h2>Laboratory Management</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3>Access</h3>
                    <p>
                        The laboratories we worked in are categorized as Containment Level 2 Laboratories. These
                        laboratories have lockable doors and access is restricted to Biotechnology alumni and Faculty
                        teachers. Students must complete a safety course before being granted access to any of the
                        laboratories, as all of us did.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3>Waste Disposal</h3>
                    <p>
                        Laboratory waste is usually classified into four types depending on their nature, and each of
                        them should be disposed accordingly in order to avoid accidents or contamination. Non-solid
                        biological wastes, such as fluids, go in a yellow hermetic bottle, while solid biological wastes
                        should be disposed in a yellow bag. Sharp objects must be disposed in a thick red plastic
                        bottle. Objects and materials that were in contact with bacteria or any kind of infectious agent
                        should be disposed in a red bag. These last two options were how the waste generated during our
                        experiments was disposed of, since we only worked with waste of that nature.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 5rem;">
        <div style="position: relative;">
            <div class="row">
                <div class="section-line-green"></div>
                <div class="col-md-12">
                    <h2>Other Risk Assessments</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3>Choosing a non-pathogenic chassis</h3>
                    <p>
                        Tec-Chihuahua values safe laboratory practices and recognizes the importance of minimizing risks
                        to the team, our community and the environment. This is why we decided to use a non-pathogenic
                        chassis. We chose three strains of E. coli : DH5α for vector cloning and BL21 DE3 and Shuffle T7
                        for protein expression. These strains are classified as Risk Group 1 organisms and generally do
                        not cause disease in healthy adult humans nor represent a risk to the environment.
                    </p>
                    <p>
                        Despite the low level of risk associated with them, all protocols involving these organisms were
                        performed in a biosafety cabinet while wearing PPE.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3>Working with safe parts </h3>
                    <p>
                        All parts required for the development of our project are either on iGEM’s Registry or are
                        protein coding genes from plants which aren’t toxic to humans, animals or the environment in any
                        way.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3>Verticillium dahliae</h3>
                    <p>
                        Our project involved direct work with Verticillium wilt, a fungal plant disease caused by the
                        facultative parasite ascomycete Verticillium dahliae. Getting to know the main characteristics
                        of this fungus and developing the right containment methods to avoid accidental release, was
                        indispensable for the correct development of our project.
                    </p>
                    <p>
                        According to DSMZ, Verticillium dahliae falls within Risk 1 Group representing a low potential
                        risk. <sup>2</sup> Biological safety and biocontainment practices followed to ensure proper
                        management of
                        the fungus include the following:
                    </p>
                    <ul>
                        <li>
                            <p>Wearing a laboratory coat, face masks, gloves and eye protection when working with the
                                mould
                                cultures</p>
                        </li>
                        <li>
                            <p>Regular cleaning of laboratory attire and personal clothing </p>
                        </li>
                        <li>
                            <p>
                                Washing our hands after working with the pathogens and before leaving the laboratory
                            </p>
                        </li>
                        <li>
                            <p>
                                Decontaminating work surfaces after completion of work and after any spill of the
                                fungus
                            </p>
                        </li>
                        <li>
                            <p>Leaving our personal belongings away from the lab</p>
                        </li>
                        <li>
                            <p>Regular decontamination of laboratory equipment and materials.</p>
                        </li>

                    </ul>
                    <p>
                        It should be noted that the handling of this fungus was done by lighting a burner in the working
                        area to create a sterile zone. An individual incubator was designated solely for the storage of
                        our fungi. In this way we minimized any contamination risk.
                    </p>
                    <p>
                        The next link, DSMZ presents more information about the characteristics of V. dahliae:
                        https://www.dsmz.de/catalogues/details/culture/DSM-63084.html?tx_dsmzresources_pi5%5BreturnPid%5D=304

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container shadow mainContainer" style="margin-top: 4rem; margin-bottom: 4rem;" id="references">
    <div class="row">
        <div class="col-md-12">
            <h2>References</h2>
            <ol>
                <li>
                    American Chemical Society. (2017). Laboratory Safety. June 2019, de ACS Sitio web:
                    https://www.acs.org/content/dam/acsorg/about/governance/committees/training/acsapproved/degreeprogram/laboratory-safety.pdf
                </li>
                <li>
                    DSMZ - German Collection of Microorganisms and Cell Cultures . (2019). Verticillium dahliae. June
                    2019, de Leibniz Institute Sitio web:
                    https://www.dsmz.de/collection/catalogue/details/culture/DSM-63084?tx_dsmzresources_pi5%5BreturnPid%5D=304
                </li>
                <li>
                    Public Health Department. (2018). Laboratory Biosafety and Biosecurity Courses. June 2019, de
                    Government of Canada Sitio web: https://training-formation.phac-aspc.gc.ca/?lang=en

                </li>
                <br>
            </ol>
        </div>
    </div>
</div>