<link rel="stylesheet" href="/css/teamMembers.css">

<header style="margin-bottom: 0;">
    <div class="headerContainer">
        <div class="imgContent"></div>
        <div id="bannersection">
            <div class="bannercontent">
                <h1 class="mainHeader">Team Members</h1>
            </div>
        </div>
    </div>
</header>


<section class="container" style="margin-top: 10rem;">
    <div class="row active-with-click">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Pink">
                <h2>
                    <span>Yara Victoria Gómez Peinado</span>
                    <strong>
                        Biotechnology Engineering
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="/img//teamPics/Yara.PNG">
                    </div>
                    <div class="mc-description">
                        <strong>Age:</strong> 19 <br>
                        <strong>Area:</strong> Human Practices and Mathematical Model<br>
                        <strong>Hobbies:</strong> Watching good films, reading and eating.<br>
                        <strong>Fun Facts:</strong> Fake blonde, pescetarian and fashion lover.<br>
                        <strong>Quote:</strong> “I´m not vegan, I'm pescetarian”<br>

                    </div>
                </div>
                <a class="mc-btn-action" style="font-size: 18px; text-decoration: none;">
                    <strong>&#9776;</strong>
                </a>
                <div class="mc-footer">
                    <a href="https://www.linkedin.com/in/yara-victoria-gomez-peinado-53b236187/" target="_blank"><img
                            src="img/linkedsmall.png" class="img-responsive"></a>
                    <a href="https://www.facebook.com/vpeinado3" target="_blank"><img src="img/facesmall.png"
                            class="img-responsive"></a>
                    <a href="https://www.instagram.com/lasuper_yer/" target="_blank"><img src="img/instasmall.png"
                            class="img-responsive"></a>
                    <a href="https://twitter.com/yara_vicky" target="_blank"><img src="img/twittersmall.png"
                            class="img-responsive"></a>
                </div>
            </article>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Cyan">
                <h2>
                    <span>Gerardo Granados</span>
                    <strong>
                        Software Engineering
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="img/teamPics/Gera.PNG">
                    </div>
                    <div class="mc-description">
                        <strong>Age:</strong> 19 <br>
                        <strong>Area:</strong> Wiki and Mathematical Model<br>
                        <strong>Hobbies:</strong> Theatre, music, and video games<br>
                        <strong>Fun Facts:</strong> Lover of musicals, ducks, can eat an entire jar of pickles in one
                        sitting.<br>
                        <strong>Quote:</strong> "Ánimo"<br>
                    </div>
                </div>
                <a class="mc-btn-action" style="font-size: 18px; text-decoration: none;">
                    <strong>&#9776;</strong>
                </a>
                <div class="mc-footer">
                    <a><img src="img/linkedsmall.png" class="img-responsive"></a>
                    <a><img src="img/facesmall.png" class="img-responsive"></a>
                    <a><img src="img/instasmall.png" class="img-responsive"></a>
                    <a><img src="img/twittersmall.png" class="img-responsive"></a>
                </div>
            </article>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Pink">
                <h2>
                    <span>Mariana Rodríguez Pérez</span>
                    <strong>
                        Biotechnology Engineering
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="img/teamPics/Mariana.PNG">
                    </div>
                    <div class="mc-description">
                        <strong>Age:</strong> 19 <br>
                        <strong>Area:</strong> Human Practices Leader<br>
                        <strong>Hobbies:</strong> Chatting even in my sleep, enrolling in all things possible<br>
                        <strong>Fun Facts:</strong> Enthusiastic volunteer, animal lover<br>
                        <strong>Quote:</strong> “Ctrl + Z”<br>
                    </div>
                </div>
                <a class="mc-btn-action" style="font-size: 18px; text-decoration: none;">
                    <strong>&#9776;</strong>
                </a>
                <div class="mc-footer">
                    <a href="https://www.linkedin.com/in/mariana-rodr%C3%ADguez-p%C3%A9rez-b19804177/"
                        target="_blank"><img src="img/linkedsmall.png" class="img-responsive"></a>
                    <a href="https://www.facebook.com/mariana.rodriguez.99" target="_blank"><img src="img/facesmall.png"
                            class="img-responsive" target="_blank"></a>
                    <a href="https://www.instagram.com/marianarod.p/" target="_blank"><img src="img/instasmall.png"
                            class="img-responsive"></a>
                    <a href="https://twitter.com/Mari_AnaRP" target="_blank"><img src="img/twittersmall.png"
                            class="img-responsive"></a>
                </div>
            </article>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Green">
                <h2>
                    <span>Marlen García Bustillos</span>
                    <strong>
                        Biotechnology Engineering
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="img/teamPics/Marlen.PNG">
                    </div>
                    <div class="mc-description">
                        <strong>Age:</strong> 20 <br>
                        <strong>Area:</strong> Entrepreneurship Leader and Human Practices<br>
                        <strong>Hobbies:</strong> Being a businesswoman, making the team laugh<br>
                        <strong>Fun Facts:</strong> Romantic, I love plants and I speak a lot<br>
                        <strong>Quote:</strong> “Can I pay you with a car wash coin?”<br>
                    </div>
                </div>
                <a class="mc-btn-action" style="font-size: 18px; text-decoration: none;">
                    <strong>&#9776;</strong>
                </a>
                <div class="mc-footer">
                    <a href="https://www.linkedin.com/in/marlen-garcía-bustillos-092238187/ " target="_blank"><img
                            src="img/linkedsmall.png" class="img-responsive"></a>
                    <a href="https://www.facebook.com/marlen.garciabustillos " target="_blank"><img
                            src="img/facesmall.png" class="img-responsive"></a>
                    <a href="https://www.instagram.com/marlengarciab/?hl=es-la " target="_blank"><img
                            src="img/instasmall.png" class="img-responsive"></a>
                    <a href="https://twitter.com/MarlenGrB " target="_blank"><img src="img/twittersmall.png"
                            class="img-responsive"></a>
                </div>
            </article>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Yellow">
                <h2>
                    <span>Alejandra Hinojos Chávez</span>
                    <strong>
                        <i class="fa fa-fw fa-star"></i>
                        Biotechnology Engineering
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="/img/teamPics/Ale.PNG">
                    </div>
                    <div class="mc-description">
                        <strong>Age:</strong> 19 <br>
                        <strong>Area:</strong> Lab <br>
                        <strong>Hobbies:</strong> Drawing, watching movies and reading<br>
                        <strong>Fun Facts:</strong> Mini coffee addict, Marvel, Harry Potter and Star Wars lover,
                        fake redhead.<br>
                        <strong>Quote:</strong> “Great service, 5 stars”
                    </div>
                </div>
                <a class="mc-btn-action" style="font-size: 18px; text-decoration: none;">
                    <strong>&#9776;</strong>
                </a>
                <div class="mc-footer">
                    <a href="https://www.facebook.com/alex.hinojos.12" target="_blank"><img src="img/facesmall.png"
                            class="img-responsive"></a>
                    <a href="https://instagram.com/ale_hino04?igshid=1cpihsj91hubi" target="_blank"><img
                            src="img/instasmall.png" class="img-responsive"></a>
                    <a href="https://twitter.com/Alex_HCH04" target="_blank"><img src="img/twittersmall.png"
                            class="img-responsive"></a>
                </div>
            </article>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Yellow">
                <h2>
                    <span>María Gabriela Hernández</span>
                    <strong>
                        <i class="fa fa-fw fa-star"></i>
                        Biotechnology Engineering
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="/img/teamPics/Mari.PNG">
                    </div>
                    <div class="mc-description">
                        <strong>Age:</strong> 18 <br>
                        <strong>Area:</strong> Lab<br>
                        <strong>Hobbies:</strong> Spinning and listen to music.<br>
                        <strong>Fun Facts:</strong> I laugh about everything and I hate vomit.<br>
                        <strong>Quote:</strong> “What’s today’s soup?”<br>
                    </div>
                </div>
                <a class="mc-btn-action" style="font-size: 18px; text-decoration: none;">
                    <strong>&#9776;</strong>
                </a>
                <div class="mc-footer">
                    <a><img src="img/linkedsmall.png" class="img-responsive"></a>
                    <a><img src="img/facesmall.png" class="img-responsive"></a>
                    <a><img src="img/instasmall.png" class="img-responsive"></a>
                    <a><img src="img/twittersmall.png" class="img-responsive"></a>
                </div>
            </article>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Yellow">
                <h2>
                    <span>Abigail Loya Delgado</span>
                    <strong>
                        <i class="fa fa-fw fa-star"></i>
                        Biotechnology Engineering
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="/img/teamPics/Abi.PNG">
                    </div>
                    <div class="mc-description">
                        <strong>Age: </strong> 19 <br>
                        <strong>Area: </strong> Team Leader and Lab <br>
                        <strong>Hobbies: </strong> Dancing and riding horses<br>
                        <strong>Fun Facts: </strong> I can sleep anywhere<br>
                        <strong>Quote:</strong> Go for it!<br>
                    </div>
                </div>
                <a class="mc-btn-action" style="font-size: 18px; text-decoration: none;">
                    <strong>&#9776;</strong>
                </a>
                <div class="mc-footer">
                    <a><img src="img/linkedsmall.png" class="img-responsive"></a>
                    <a><img src="img/facesmall.png" class="img-responsive"></a>
                    <a><img src="img/instasmall.png" class="img-responsive"></a>
                    <a><img src="img/twittersmall.png" class="img-responsive"></a>
                </div>
            </article>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Cyan">
                <h2>
                    <span>Víctor Alejandro Padrón Olivas</span>
                    <strong>
                        Software Engineering
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="img/teamPics/Victor.PNG">
                    </div>
                    <div class="mc-description">
                        <strong>Age:</strong> 19<br>
                        <strong>Area:</strong> Wiki & Entrepreneurship<br>
                        <strong>Hobbies:</strong> Drum player and bedroom music producer<br>
                        <strong>Fun Facts:</strong> Expect to hear some cringeworthy puns<br>
                        <strong>Quote:</strong> “Sure, sign me up”<br>
                    </div>
                </div>
                <a class="mc-btn-action" style="font-size: 18px; text-decoration: none;">
                    <strong>&#9776;</strong>
                </a>
                <div class="mc-footer">
                    <a><img src="img/linkedsmall.png" class="img-responsive"></a>
                    <a><img src="img/facesmall.png" class="img-responsive"></a>
                    <a><img src="img/instasmall.png" class="img-responsive"></a>
                    <a><img src="img/twittersmall.png" class="img-responsive"></a>
                </div>
            </article>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Cyan">
                <h2>
                    <span>Cristina Martínez Velázquez</span>
                    <strong>
                        Biotechnology Engineering
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="img/teamPics/Cristy.PNG">
                    </div>
                    <div class="mc-description">
                        <strong>Age:</strong> 19 <br>
                        <strong>Area:</strong> Wiki leader, Human Practices and Legal part<br>
                        <strong>Hobbies:</strong> Drawing and play volleyball<br>
                        <strong>Fun Facts:</strong> i love conspiracy theories and my thumbs are very flexible.<br>
                        <strong>Quote:</strong> “ I can design that”<br>
                    </div>
                </div>
                <a class="mc-btn-action" style="font-size: 18px; text-decoration: none;">
                    <strong>&#9776;</strong>
                </a>
                <div class="mc-footer">
                    <a><img src="img/linkedsmall.png" class="img-responsive"></a>
                    <a><img src="img/facesmall.png" class="img-responsive"></a>
                    <a><img src="img/instasmall.png" class="img-responsive"></a>
                    <a><img src="img/twittersmall.png" class="img-responsive"></a>
                </div>
            </article>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Yellow">
                <h2>
                    <span>Gabriela Carolina Gajón Robles</span>
                    <strong>
                        Biotechnology Engineering
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="img/teamPics/Caro.PNG">
                    </div>
                    <div class="mc-description">
                        <strong>Age:</strong> 19 <br>
                        <strong>Area:</strong> Lab, Wiki and Legal part <br>
                        <strong>Hobbies:</strong> Ballet dancer and church servant. <br>
                        <strong>Fun Facts:</strong> I could go to the movie theatre two times in a day <br>
                        <strong>Quote:</strong> Changoooos <br>
                    </div>
                </div>
                <a class="mc-btn-action" style="font-size: 18px; text-decoration: none;">
                    <strong>&#9776;</strong>
                </a>
                <div class="mc-footer">
                    <a><img src="img/linkedsmall.png" class="img-responsive"></a>
                    <a><img src="img/facesmall.png" class="img-responsive"></a>
                    <a><img src="img/instasmall.png" class="img-responsive"></a>
                    <a><img src="img/twittersmall.png" class="img-responsive"></a>
                </div>
            </article>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Yellow">
                <h2>
                    <span>Alejandro Aguirre Hernández </span>
                    <strong>
                        Biotechnology Engineering
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="img/teamPics/Alex.PNG">
                    </div>
                    <div class="mc-description">
                        <strong>Age:</strong> 19 <br>
                        <strong>Area:</strong> Lab Leader & Mathematical Model<br>
                        <strong>Hobbies:</strong> Eating<br>
                        <strong>Fun Facts:</strong> Movie expert, random facts learner<br>
                        <strong>Quote:</strong> “The whole team is in love with me.”<br>
                    </div>
                </div>
                <a class="mc-btn-action" style="font-size: 18px; text-decoration: none;">
                    <strong>&#9776;</strong>
                </a>
                <div class="mc-footer">
                    <a><img src="img/linkedsmall.png" class="img-responsive"></a>
                    <a><img src="img/facesmall.png" class="img-responsive"></a>
                    <a><img src="img/instasmall.png" class="img-responsive"></a>
                    <a><img src="img/twittersmall.png" class="img-responsive"></a>
                </div>
            </article>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Cyan">
                <h2>
                    <span>Carla Alejandra Payán Ramírez</span>
                    <strong>
                        Biotechnology Engineering
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="img/teamPics/Carla.PNG">
                    </div>
                    <div class="mc-description">
                        <strong>Age:</strong> 19 <br>
                        <strong>Area:</strong> Wiki<br>
                        <strong>Hobbies:</strong> Reading, tv shows and movies<br>
                        <strong>Fun Facts:</strong> Coffee addict, former med student, jack of all trades<br>
                        <strong>Quote:</strong> “Everything will be (sorta) okay”<br>
                    </div>
                </div>
                <a class="mc-btn-action" style="font-size: 18px; text-decoration: none;">
                    <strong>&#9776;</strong>
                </a>
                <div class="mc-footer">
                    <a href="https://www.linkedin.com/in/carla-payan-421719115/" target="_blank"><img
                            src="img/linkedsmall.png" class="img-responsive"></a>
                    <a href="https://www.facebook.com/carlapayan56 " target="_blank"><img src="img/facesmall.png"
                            class="img-responsive"></a>
                    <a href="https://www.instagram.com/carlasayshello/" target="_blank"><img src="img/instasmall.png"
                            class="img-responsive"></a>
                    <a href="https://twitter.com/carlasayshello" target="_blank"><img src="img/twittersmall.png"
                            class="img-responsive"></a>
                </div>
            </article>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Grey">
                <h2>
                    <span>Ximena Cedillo Torres</span>
                    <strong>
                        Physics Engineering
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="img/teamPics/Ximena.PNG">
                    </div>
                    <div class="mc-description">
                        <strong>Age:</strong> 18<br>
                        <strong>Area:</strong> Mathematical Model<br>
                        <strong>Hobbies:</strong> Playing the violin, astronomy and science dissemination<br>
                        <strong>Fun Facts:</strong> Currently designing a moon rover, besides my professional goal is to
                        work at CERN
                        someday.<br>
                        <strong>Quote:</strong> “Are the lab results ready yet?”<br>
                    </div>
                </div>
                <a class="mc-btn-action" style="font-size: 18px; text-decoration: none;">
                    <strong>&#9776;</strong>
                </a>
                <div class="mc-footer">
                    <a href="https://www.linkedin.com/in/ximena-cedillo-585ba6132/" target="_blank"><img
                            src="img/linkedsmall.png" class="img-responsive"></a>
                    <a href="https://www.facebook.com/ximena.cedillo.1272" target="_blank"><img src="img/facesmall.png"
                            class="img-responsive"></a>
                    <a href="https://www.instagram.com/sparkticle/?hl=es-la" target="_blank"><img
                            src="img/instasmall.png" class="img-responsive"></a>
                </div>
            </article>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Brown">
                <h2>
                    <span>Juan Pablo Grijalva Sáenz</span>
                    <strong>
                        Law
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="img/teamPics/Juan.PNG">
                    </div>
                    <div class="mc-description">
                        <strong>Age:</strong> 20<br>
                        <strong>Area:</strong> Legal part<br>
                        <strong>Hobbies:</strong> I like to workout, I'm a cinephile, love to cook, read, play, and hear
                        music.<br>
                        <strong>Fun Facts:</strong> Cooking red meats its my speciality<br>
                        <strong>Quote:</strong> Are you hungry?<br>
                    </div>
                </div>
                <a class="mc-btn-action" style="font-size: 18px; text-decoration: none;">
                    <strong>&#9776;</strong>
                </a>
                <div class="mc-footer">
                    <a href="" target="_blank"><img src="img/linkedsmall.png" class="img-responsive"></a>
                    <a href="" target="_blank"><img src="img/facesmall.png" class="img-responsive"></a>
                    <a href="" target="_blank"><img src="img/instasmall.png" class="img-responsive"></a>
                </div>
            </article>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Brown">
                <h2>
                    <span>Dayana Paola Holguín Mendoza</span>
                    <strong>
                        Law
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="img/teamPics/Dayana.PNG">
                    </div>
                    <div class="mc-description">
                        <strong>Age:</strong> 19<br>
                        <strong>Major:</strong> Law<br>
                        <strong>Hobbies:</strong> Dance lover and candy addict<br>
                        <strong>Fun Facts:</strong> I can eat sour patch 24/7 and I love dogs, btw tell your dog I said
                        hi<br>
                        <strong>Quote:</strong> “Ross and Rachel were not on a break!”<br>
                    </div>
                </div>
                <a class="mc-btn-action" style="font-size: 18px; text-decoration: none;">
                    <strong>&#9776;</strong>
                </a>
                <div class="mc-footer">
                    <a href="" target="_blank"><img src="img/linkedsmall.png" class="img-responsive"></a>
                    <a href="" target="_blank"><img src="img/facesmall.png" class="img-responsive"></a>
                    <a href="" target="_blank"><img src="img/instasmall.png" class="img-responsive"></a>
                </div>
            </article>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Brown">
                <h2>
                    <span>Alejandro Robledo Grajeda</span>
                    <strong>
                        Law
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="img/teamPics/Alejandro.PNG">
                    </div>
                    <div class="mc-description">
                        <strong>Age:</strong> 20<br>
                        <strong>Area:</strong> Legal<br>
                        <strong>Hobbies:</strong> Sports, watching crime series and movies, watching Archer, hearing
                        music, hanging out<br>
                        <strong>Fun Facts:</strong> 20 years old with bones of an 80 year old with arthritis<br>
                        <strong>Quote:</strong> If you’re under 24 I’m not interested.<br>
                    </div>
                </div>
                <a class="mc-btn-action" style="font-size: 18px; text-decoration: none;">
                    <strong>&#9776;</strong>
                </a>
                <div class="mc-footer">
                    <a href="" target="_blank"><img src="img/linkedsmall.png" class="img-responsive"></a>
                    <a href="" target="_blank"><img src="img/facesmall.png" class="img-responsive"></a>
                    <a href="" target="_blank"><img src="img/instasmall.png" class="img-responsive"></a>
                </div>
            </article>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Brown">
                <h2>
                    <span>Cesar Armendariz Michel</span>
                    <strong>
                        Law
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="img/teamPics/Cesar.PNG">
                    </div>
                    <div class="mc-description">
                        <strong>Age:</strong> 20<br>
                        <strong>Area:</strong> Legal<br>
                        <strong>Hobbies:</strong> Reading, working out, listening to music and walking the 24th street
                        on a Sunday night.<br>
                        <strong>Fun Facts:</strong> I'm a wanna-be philosopher that can cook one minute rice in 58
                        seconds.<br>
                        <strong>Quote:</strong> Alejandro Robledo is like milk….. I'm lactose intolerant.<br>
                    </div>
                </div>
                <a class="mc-btn-action" style="font-size: 18px; text-decoration: none;">
                    <strong>&#9776;</strong>
                </a>
                <div class="mc-footer">
                    <a href="" target="_blank"><img src="img/linkedsmall.png" class="img-responsive"></a>
                    <a href="" target="_blank"><img src="img/facesmall.png" class="img-responsive"></a>
                    <a href="" target="_blank"><img src="img/instasmall.png" class="img-responsive"></a>
                </div>
            </article>
        </div>
    </div>
</section>


<div class="container">
    <div class="row text-center" style="margin-top: 5rem; margin-bottom: 5rem;">
        <h1>PI's</h1>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <img src="img/teamPics/pi's/Cynthia.JPG" class="img-responsive" width="100%">
            <h3>Primary PI</h3>
            <p>Cynthia Lizeth González Trevizo</p>
        </div>
        <div class="col-md-4 col-sm-4">
            <img src="img/teamPics/pi's/Berenice.JPG" class="img-responsive" width="100%">
            <h3>Secondary PI</h3>
            <p>Berenice Erendira Oseguera Guerra</p>
        </div>
        <div class="col-md-4 col-sm-4">
            <img src="img/teamPics/pi's/Carmen.JPG" class="img-responsive" width="100%">
            <h3>Secondary PI</h3>
            <p>Carmen Rocio Maldonado Barraza</p>
        </div>
    </div>
</div>

<div class="container" id="advisorContainer">
    <div class="row text-center" style="margin-top: 5rem; margin-bottom: 5rem;">
        <h1>Advisors</h1>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <img src="img/teamPics/Advisors/Ana Laura.JPG" class="img-responsive" width="100%">
            <p>Ana Laura Ortega Ceniceros</p>
        </div>
        <div class="col-md-4 col-sm-4">
            <img src="img/teamPics/Advisors/Armando.JPG" class="img-responsive" width="100%">
            <p>Armando Palacios Chaparro</p>
        </div>
        <div class="col-md-4 col-sm-4">
            <img src="img/teamPics/Advisors/Andrea.jpeg" class="img-responsive" width="100%">
            <p>Andrea Acevedo Guaderrama</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <img src="img/teamPics/Advisors/Joel.jpeg" class="img-responsive" width="100%">
            <p>Joel Orlando Hernandez Ramos</p>
        </div>
        <div class="col-md-4 col-sm-4">
            <img src="img/teamPics/Advisors/Viana.JPG" class="img-responsive" width="100%">
            <p>Viana Isabel Pérez Domínguez</p>
        </div>
        <div class="col-md-4 col-sm-4">
            <img src="img/teamPics/Advisors/Daniela.JPG" class="img-responsive" width="100%">
            <p>Daniela Oloño Fierro</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <img src="img/teamPics/Advisors/Cesar.JPG" class="img-responsive" width="100%">
            <p>César Ibrahym Rodríguez Fernández</p>
        </div>
        <div class="col-md-4 col-sm-4">
            <img src="img/teamPics/Advisors/Anna Karen.JPG" class="img-responsive" width="100%">
            <p>
                Anna Karen Aguilar Nuñez
            </p>
        </div>
        <div class="col-md-4 col-sm-4">
            <img src="img/teamPics/Advisors/Adalberto.JPG" class="img-responsive" width="100%">
            <p>
                Adalberto Lopez
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row text-center" style="margin-top: 5rem; margin-bottom: 5rem;">
        <h1>Instructors</h1>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <img src="https://via.placeholder.com/500" class="img-responsive" width="100%">
            <p>Macrina Beatriz Silva Cazares</p>
        </div>
        <div class="col-md-4 col-sm-4">
            <img src="img/teamPics/Instructors/Orona.JPG" class="img-responsive" width="100%">
            <p>Luis Orona</p>
        </div>
        <div class="col-md-4 col-sm-4">
            <img src="img/teamPics/Instructors/Salvador.JPG" class="img-responsive" width="100%">
            <p>Salvador Romo Torres</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <img src="img/teamPics/Instructors/Alan.JPG" class="img-responsive" width="100%">
            <p> Alan Hernández</p>
        </div>
        <div class="col-md-4 col-sm-4">
            <img src="https://via.placeholder.com/500" class="img-responsive" width="100%">
            <p>Laila Nayzzel Muñoz-Castellanos</p>
        </div>
        <div class="col-md-4 col-sm-4">
            <img src="https://via.placeholder.com/500" class="img-responsive" width="100%">
            <p>Roberto Olivares Hernandez</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-sm-2"></div>
        <div class="col-md-4 col-sm-4">
            <img src="https://via.placeholder.com/500" class="img-responsive" width="100%"
                style="margin-left: auto; margin-right: auto;">
            <p>Maria del Socorro Reveles Castillo</p>
        </div>
        <div class="col-md-4 col-sm-4">
            <img src="img/teamPics/Instructors/ines.jpg" class="img-responsive" width="100%"
                style="margin-left: auto; margin-right: auto;">
            <p>Inés Ivette Espinosa García</p>
        </div>
        <div class="col-md-2 col-sm-2"></div>
    </div>
</div>


<div class="container">
    <div class="row text-center" style="margin-bottom: 5rem; margin-top: 5rem;">
        <h1>Meet Our Campus!</h1>
    </div>
</div>


<div class="container">
    <div class="carousel">
        <div class="carousel-prev"></div>
        <div class="carousel-next"></div>
        <ul class="carousel-pagination">
            <li class="carousel-bullet"></li>
            <li class="carousel-bullet"></li>
            <li class="carousel-bullet"></li>
            <li class="carousel-bullet"></li>
            <li class="carousel-bullet"></li>
        </ul>
        <ul class="carousel-container">
            <li class="carousel-item">
                <div class="item-1"><img src="img/Meet our Campus/ingenieria.JPG" width="100%"></div>
            </li>
            <li class="carousel-item">
                <div class="item-2"><img src="img/Meet our Campus/ingenieria dark.JPG" width="100%"></div>
            </li>
            <li class="carousel-item">
                <div class="item-3"><img src="img/Meet our Campus/humanidades.JPG" width="100%"></div>
            </li>
            <li class="carousel-item">
                <div class="item-4"><img src="img/Meet our Campus/pits.JPG" width="100%"></div>
            </li>
            <li class="carousel-item">
                <div class="item-5"></div>
            </li>
        </ul>
    </div>
</div>

<script src="/js/team2.js"></script>