<link rel="stylesheet" href="css/teamMembers.css">

<header>
    <div class="headerContainer">
        <video autoplay muted loop id="myVideo">
            <source src="img/descriptionHeader.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
            </source></video>
        <div id="bannersection">
            <div class="bannercontent">
                <h1 class="mainHeader">Team Members</h1>
            </div>
        </div>
    </div>
</header>


<div class="container-fluid team-container">
    <div class="row">
        <div class="col-sm-3  text-center">
            <a href="#none" id="one" class="button">
                <img src="https://via.placeholder.com/200" class="grow">
            </a>
            <h2>Name</h2>
            <h3>Data Line 1</h3>
        </div>
        <div class="col-sm-3  text-center  ">
            <a href="#none" id="two" class="button">
                <img src="https://via.placeholder.com/200" class="grow">
            </a>
            <h2>Name</h2>
            <h3>Data Line 1</h3>
        </div>
        <div class="col-sm-3  text-center  ">
            <a href="#none" id="three" class="button">
                <img src="https://via.placeholder.com/200" class="grow">
            </a>
            <h2>Name</h2>
            <h3>Data Line 1</h3>
        </div>
        <div class="col-sm-3  text-center  ">
            <a href="#none" id="four" class="button">
                <img src="https://via.placeholder.com/200" class="grow">
            </a>
            <h2>Name</h2>
            <h3>Data Line 1</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3  text-center  ">
            <a href="#none" id="five" class="button">
                <img src="https://via.placeholder.com/200" class="grow">
            </a>
            <h2>Name</h2>
            <h3>Data Line 1</h3>
        </div>
        <div class="col-sm-3  text-center  ">
            <a href="#none" id="six" class="button">
                <img src="https://via.placeholder.com/200" class="grow">
            </a>
            <h2>Name</h2>
            <h3>Data Line 1</h3>
        </div>
        <div class="col-sm-3  text-center  ">
            <a href="#none" id="seven" class="button">
                <img src="https://via.placeholder.com/200" class="grow">
            </a>
            <h2>Name</h2>
            <h3>Data Line 1</h3>
        </div>
        <div class="col-sm-3  text-center  ">
            <a href="#none" id="eight" class="button">
                <img src="https://via.placeholder.com/200" class="grow">
            </a>
            <h2>Name</h2>
            <h3>Data Line 1</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3  text-center  ">
            <a href="#none" id="nine" class="button">
                <img src="https://via.placeholder.com/200" class="grow">
            </a>
            <h2>Name</h2>
            <h3>Data Line 1</h3>
        </div>
        <div class="col-sm-3  text-center  ">
            <a href="#none" id="ten" class="button">
                <img src="https://via.placeholder.com/200" class="grow">
            </a>
            <h2>Name</h2>
            <h3>Data Line 1</h3>
        </div>
        <div class="col-sm-3  text-center  ">
            <a href="#none" id="eleven" class="button">
                <img src="https://via.placeholder.com/200" class="grow">
            </a>
            <h2>Name</h2>
            <h3>Data Line 1</h3>
        </div>
        <div class="col-sm-3  text-center  ">
            <a href="#none" id="twelve" class="button">
                <img src="https://via.placeholder.com/200" class="grow">
            </a>
            <h2>Name</h2>
            <h3>Data Line 1</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3  text-center  ">
            <a href="#none" id="thirteen" class="button">
                <img src="https://via.placeholder.com/200" class="grow">
            </a>
            <h2>Name</h2>
            <h3>Data Line 1</h3>
        </div>
        <div class="col-sm-3  text-center  ">
            <a href="#none" id="fourteen" class="button">
                <img src="https://via.placeholder.com/200" class="grow">
            </a>
            <h2>Name</h2>
            <h3>Data Line 1</h3>
        </div>
    </div>
</div>


<div id="one-modal-container" class="modal-container">
    <div class="modal-background">
        <div class="modal">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img src="https://via.placeholder.com/500">
                    </div>
                    <div class="col-md-6">
                        <h2 class="text-left">Full Name</h2>
                        <h3 class="text-left">Some Other Text</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, similique!
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, similique! Lorem
                            ipsum dolor, sit amet consectetur adipisicing elit. Porro veniam voluptate, nam ipsa
                            possimus sequi veritatis beatae qui autem perferendis similique quia quidem, laboriosam,
                            nesciunt quas velit provident rerum eius.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="two-modal-container" class="modal-container">
    <div class="modal-background">
        <div class="modal">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img src="https://via.placeholder.com/500">
                    </div>
                    <div class="col-md-6">
                        <h2 class="text-left">Full Name</h2>
                        <h3 class="text-left">Some Other Text</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, similique!
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, similique! Lorem
                            ipsum dolor, sit amet consectetur adipisicing elit. Porro veniam voluptate, nam ipsa
                            possimus sequi veritatis beatae qui autem perferendis similique quia quidem, laboriosam,
                            nesciunt quas velit provident rerum eius.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="three-modal-container" class="modal-container">
    <div class="modal-background">
        <div class="modal">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img src="https://via.placeholder.com/500">
                    </div>
                    <div class="col-md-6">
                        <h2 class="text-left">Full Name</h2>
                        <h3 class="text-left">Some Other Text</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, similique!
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, similique! Lorem
                            ipsum dolor, sit amet consectetur adipisicing elit. Porro veniam voluptate, nam ipsa
                            possimus sequi veritatis beatae qui autem perferendis similique quia quidem, laboriosam,
                            nesciunt quas velit provident rerum eius.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div id="four-modal-container" class="modal-container">
    <div class="modal-background">
        <div class="modal">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img src="https://via.placeholder.com/500">
                    </div>
                    <div class="col-md-6">
                        <h2 class="text-left">Full Name</h2>
                        <h3 class="text-left">Some Other Text</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, similique!
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, similique! Lorem
                            ipsum dolor, sit amet consectetur adipisicing elit. Porro veniam voluptate, nam ipsa
                            possimus sequi veritatis beatae qui autem perferendis similique quia quidem, laboriosam,
                            nesciunt quas velit provident rerum eius.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div id="five-modal-container" class="modal-container">
    <div class="modal-background">
        <div class="modal">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img src="https://via.placeholder.com/500">
                    </div>
                    <div class="col-md-6">
                        <h2 class="text-left">Full Name</h2>
                        <h3 class="text-left">Some Other Text</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, similique!
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, similique! Lorem
                            ipsum dolor, sit amet consectetur adipisicing elit. Porro veniam voluptate, nam ipsa
                            possimus sequi veritatis beatae qui autem perferendis similique quia quidem, laboriosam,
                            nesciunt quas velit provident rerum eius.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div id="six-modal-container" class="modal-container">
    <div class="modal-background">
        <div class="modal">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img src="https://via.placeholder.com/500">
                    </div>
                    <div class="col-md-6">
                        <h2 class="text-left">Full Name</h2>
                        <h3 class="text-left">Some Other Text</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, similique!
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, similique! Lorem
                            ipsum dolor, sit amet consectetur adipisicing elit. Porro veniam voluptate, nam ipsa
                            possimus sequi veritatis beatae qui autem perferendis similique quia quidem, laboriosam,
                            nesciunt quas velit provident rerum eius.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div id="seven-modal-container" class="modal-container">
    <div class="modal-background">
        <div class="modal">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img src="https://via.placeholder.com/500">
                    </div>
                    <div class="col-md-6">
                        <h2 class="text-left">Full Name</h2>
                        <h3 class="text-left">Some Other Text</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, similique!
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, similique! Lorem
                            ipsum dolor, sit amet consectetur adipisicing elit. Porro veniam voluptate, nam ipsa
                            possimus sequi veritatis beatae qui autem perferendis similique quia quidem, laboriosam,
                            nesciunt quas velit provident rerum eius.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div id="eight-modal-container" class="modal-container">
    <div class="modal-background">
        <div class="modal">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img src="https://via.placeholder.com/500">
                    </div>
                    <div class="col-md-6">
                        <h2 class="text-left">Full Name</h2>
                        <h3 class="text-left">Some Other Text</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, similique!
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, similique! Lorem
                            ipsum dolor, sit amet consectetur adipisicing elit. Porro veniam voluptate, nam ipsa
                            possimus sequi veritatis beatae qui autem perferendis similique quia quidem, laboriosam,
                            nesciunt quas velit provident rerum eius.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div id="nine-modal-container" class="modal-container">
    <div class="modal-background">
        <div class="modal">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img src="https://via.placeholder.com/500">
                    </div>
                    <div class="col-md-6">
                        <h2 class="text-left">Full Name</h2>
                        <h3 class="text-left">Some Other Text</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, similique!
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, similique! Lorem
                            ipsum dolor, sit amet consectetur adipisicing elit. Porro veniam voluptate, nam ipsa
                            possimus sequi veritatis beatae qui autem perferendis similique quia quidem, laboriosam,
                            nesciunt quas velit provident rerum eius.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div id="ten-modal-container" class="modal-container">
    <div class="modal-background">
        <div class="modal">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img src="https://via.placeholder.com/500">
                    </div>
                    <div class="col-md-6">
                        <h2 class="text-left">Full Name</h2>
                        <h3 class="text-left">Some Other Text</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, similique!
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, similique! Lorem
                            ipsum dolor, sit amet consectetur adipisicing elit. Porro veniam voluptate, nam ipsa
                            possimus sequi veritatis beatae qui autem perferendis similique quia quidem, laboriosam,
                            nesciunt quas velit provident rerum eius.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div id="eleven-modal-container" class="modal-container">
    <div class="modal-background">
        <div class="modal">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img src="https://via.placeholder.com/500">
                    </div>
                    <div class="col-md-6">
                        <h2 class="text-left">Full Name</h2>
                        <h3 class="text-left">Some Other Text</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, similique!
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, similique! Lorem
                            ipsum dolor, sit amet consectetur adipisicing elit. Porro veniam voluptate, nam ipsa
                            possimus sequi veritatis beatae qui autem perferendis similique quia quidem, laboriosam,
                            nesciunt quas velit provident rerum eius.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div id="twelve-modal-container" class="modal-container">
    <div class="modal-background">
        <div class="modal">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img src="https://via.placeholder.com/500">
                    </div>
                    <div class="col-md-6">
                        <h2 class="text-left">Full Name</h2>
                        <h3 class="text-left">Some Other Text</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, similique!
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, similique! Lorem
                            ipsum dolor, sit amet consectetur adipisicing elit. Porro veniam voluptate, nam ipsa
                            possimus sequi veritatis beatae qui autem perferendis similique quia quidem, laboriosam,
                            nesciunt quas velit provident rerum eius.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div id="thirteen-modal-container" class="modal-container">
    <div class="modal-background">
        <div class="modal">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img src="https://via.placeholder.com/500">
                    </div>
                    <div class="col-md-6">
                        <h2 class="text-left">Full Name</h2>
                        <h3 class="text-left">Some Other Text</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, similique!
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, similique! Lorem
                            ipsum dolor, sit amet consectetur adipisicing elit. Porro veniam voluptate, nam ipsa
                            possimus sequi veritatis beatae qui autem perferendis similique quia quidem, laboriosam,
                            nesciunt quas velit provident rerum eius.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div id="fourteen-modal-container" class="modal-container">
    <div class="modal-background">
        <div class="modal">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img src="https://via.placeholder.com/500">
                    </div>
                    <div class="col-md-6">
                        <h2 class="text-left">Full Name</h2>
                        <h3 class="text-left">Some Other Text</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, similique!
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, similique! Lorem
                            ipsum dolor, sit amet consectetur adipisicing elit. Porro veniam voluptate, nam ipsa
                            possimus sequi veritatis beatae qui autem perferendis similique quia quidem, laboriosam,
                            nesciunt quas velit provident rerum eius.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>