<footer>
    <img src="/img/footerFlowers.png" class="footerOutline">
    <div class="container-fluid blueFooter">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="row">
                    <h1 style="font-family: Arial, Helvetica, sans-serif;">Tec-Chihuahua &copy; 2019</h1>
                </div>
                <div class="logos">
                    <a href="https://www.facebook.com/igemcuu/"> <img src="/img/FL.png" class="grow"></a>
                    <a href="https://www.instagram.com/igemtecchih/"><img src="/img/inst.png" class="grow"></a>
                    <a href="https://twitter.com/iGEM_TecChih"><img src="/img/twitt.png" class="grow"></a>
                    <a href="mailto:igemtecchihuahua@gmail.com"><img src="/img/mail.png" class="grow"></a>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="container-fluid text-center patrociniosFooter">
        <div class="row">
            <div class="col-md-12">
                <div class="row"></div>
                <div class="patrocinios">
                    <img src="/img/thermofisher_logo.png" class="grow">
                    <img src="/img/SnapGeneLogo@2x.png" class="grow">
                    <img src="/img/Mathworks.png" class="grow">
                    <img src="/img/IDT.png" class="grow">
                </div>
            </div>
        </div>
    </div> -->
</footer>