header {
    overflow: hidden;
    margin-bottom: 10rem;
}

.headerContainer {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#bannersection {
    background: linear-gradient(to bottom, #00806c, rgba(0, 0, 0, 0));
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: table;
    width: 100%;
    height: 100vh;
}

.bannercontent {
    display: table-cell;
    vertical-align: middle;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    padding: 0 3%;
}

header .imgContent {
    width: 100%;
    height: 100vh;
    position: absolute;
    object-fit: cover;
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
}

header video {
    width: 100%;
    height: 100vh;
    position: absolute;
    object-fit: cover;
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
}

.mainHeader {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: calc(40px + (120 - 14) * ((70vw - 300px) / (1200 - 300)));
    text-transform: uppercase;
}

@media screen and (max-width: 1171px) {
    .index {
        visibility: hidden;
    }
}

.main-content {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.index {
    /* display: flex; */
    background: #ececec;
    border-radius: 2rem;
    padding: .5rem;
    max-width: 25rem;
    position: -webkit-sticky;
    position: sticky;
    top: 32%;
    left: 11%;
    right: 89%;
    overflow: hidden;
}

.index ul {
    margin-left: 0rem;
    margin-top: 0em;
    list-style-position: outside;
    width: 100%;
    padding-bottom: 2rem;
}

.index li {
    margin-top: 1.5rem;
    list-style-type: disc;
    position: relative;
    font-size: 2rem;
}

.index a {
    text-decoration: none;
    text-emphasis: none;
    color: #333333;
    transition: 400ms;
}

.index a:hover {
    cursor: pointer;
    text-emphasis: none;
    text-decoration: none;
    color: #FFB454;
}